In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import os


import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('../input/2012_qb_weeks1_8.csv')
df1 = pd.read_csv('../input/2012_qb_weeks_9_16.csv')
df3 = pd.read_csv('../input/2012_qb_week17.csv')

In [3]:
season_schedule = pd.read_csv('../input/season_schedule1.csv')

In [137]:
season_schedule.head()

,Week,Day,Date,Time,away_team,home_team,game_time
0,1,Wed,5-Sep,8:41PM,Dallas Cowboys,New York Giants,"5-Sep,8:41PM"
1,1,Sun,9-Sep,1:02PM,Indianapolis Colts,Chicago Bears,"9-Sep,1:02PM"
2,1,Sun,9-Sep,1:03PM,Buffalo Bills,New York Jets,"9-Sep,1:03PM"
3,1,Sun,9-Sep,1:03PM,Philadelphia Eagles,Cleveland Browns,"9-Sep,1:03PM"
4,1,Sun,9-Sep,1:03PM,St. Louis Rams,Detroit Lions,"9-Sep,1:03PM"

In [107]:
season_schedule.drop('Winner/tie', axis =1, inplace =True)
season_schedule.drop('Loser/tie', axis =1, inplace =True)

In [129]:
season_schedule['game_time'] = season_schedule[season_schedule.columns[2:4]].apply(lambda x: ','.join(x.astype(str)), axis=1)

In [99]:
home_team = []
away_team = []
for game in season_schedule.values:
    if '@' in game[5]:
        home_team.append(game[6])
        away_team.append(game[4])
    else:
        home_team.append(game[4])
        away_team.append(game[6])

In [145]:
pd.to_datetime(season_schedule['game_time'][0]

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-09-05 20:41:00

In [141]:
home_team = []
away_team = []
for game in season_schedule.values:
    if '@' in game[5]:
        home_team.append(game[6])
        away_team.append(game[4])
    else:
        home_team.append(game[4])
        away_team.append(game[6])

season_schedule['away_team'] = away_team
season_schedule['home_team'] = home_team

TypeError: argument of type 'float' is not iterable

In [4]:
raw_qb_2012 = pd.concat([df,df1], axis=0)
raw_qb_2012 = pd.concat([raw_qb_2012, df3], axis=0)
raw_qb_2012.drop('Rk', axis =1, inplace = True)
raw_qb_2012.shape

(629, 18)

In [5]:
raw_qb_2012.Team.unique()

array(['ATL', 'WAS', 'DAL', 'GB', 'NO', 'NYJ', 'DEN', 'BAL', 'JAX', 'CHI',
       'OAK', 'SF', 'NE', 'KC', 'PIT', 'PHI', 'BUF', 'HOU', 'LAC', 'NYG',
       'CAR', 'DET', 'LAR', 'TB', 'TEN', 'IND', 'MIN', 'SEA', 'ARI', 'CIN',
       'MIA', 'CLE'], dtype=object)

In [29]:
url=('https://www.pro-football-reference.com/years/2012/games.htm')
html = urlopen(url)
bsobj= BeautifulSoup(html, 'lxml')

1072

In [28]:
bsobj.tbody.find_all('td', class_ = 'left')

NameError: name 'bsobj' is not defined

In [6]:
raw_qb_2012 = raw_qb_2012.rename(columns={'Att.1':'rush_att',
                       'Yds.1':'rush_yds',
                       'Yds/Att.1':'rush_yd/att',
                       'TD.1':'rush_td'})

In [13]:
team_stats = raw_qb_2012.groupby(['Player','Team','Week','Opp']).sum()

In [22]:
team_stats.index.levels[2]

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='int64', name='Week')

In [9]:
# Define a dataframe to contain the current year averages of all 2012 QBs
def create_current_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('avg_{}'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [15]:
qb_current_2012= create_current_dataframe(team_stats)

In [28]:
# Populate current dataframe with current year averages of players
# DO NOT CHANGE!!!!!!
for col in team_stats:  # Iterate through every attribute in the team_stats dataframe
    points=[]  # Create an empty list to hold the season average of the current attribute
    for player in team_stats.index.levels[0]:  # Iterate through every player in the team_stats df
        total =[] # create an empty list to hold the weekly attributes value
        count = 0
        for week in team_stats.loc[player].index: 
            if count == 0:     # Iterate throough every week for the current player
                points.append(0)
                total.append(team_stats.loc[player].loc[week][col]) # Add player's value for the current week's attribute to the total list
                count += 1
            else:
                total.append(team_stats.loc[player].loc[week][col])
                points.append(np.mean(total))  # Add the average of the total list to the season average list
    qb_current_2012['avg_{}'.format(col.lower())] = points # Insert season average list for current attribute into the current stats dataframe

In [26]:
qb_current_2012.shape

(629, 13)

In [30]:
qb_current_2012[0:100]

                                   avg_comp    avg_att    avg_pct     avg_yds  \
Player             Team Week Opp
Aaron Rodgers      GB   1    SF    0.000000   0.000000   0.000000    0.000000
                        2    CHI  26.000000  38.000000  68.500000  261.000000
                        3    SEA  26.000000  38.333333  68.000000  248.333333
                        4    NO   27.250000  39.000000  70.000000  266.000000
                        5    IND  25.800000  37.600000  68.600000  259.800000
                        6    HOU  25.500000  37.500000  68.000000  272.833333
                        7    LAR  26.142857  37.428571  69.857143  282.714286
                        8    JAX  25.625000  37.125000  69.000000  270.625000
                        9    ARI  24.333333  36.333333  66.555556  264.777778
                        11   DET  23.800000  35.400000  66.900000  261.900000
                        12   NYG  22.909091  34.454545  65.909091  258.000000
                        13   MIN  23.250000  34.500000  66.833333  260.333333
                        14   DET  22.538462  33.692308  66.153846  253.615385
                        15   CHI  22.571429  33.857143  66.000000  256.285714
                        16   TEN  22.866667  34.133333  66.333333  262.000000
                        17   MIN  23.187500  34.500000  66.562500  268.437500
Alex Smith         SF   1    GB    0.000000   0.000000   0.000000    0.000000
                        2    DET  20.000000  28.500000  71.000000  218.500000
                        3    MIN  21.333333  30.666667  70.333333  213.666667
                        4    NYJ  19.000000  28.250000  67.000000  196.000000
                        5    BUF  18.800000  27.400000  68.600000  217.400000
                        6    NYG  18.833333  27.833333  67.666667  214.500000
                        7    SEA  18.142857  27.142857  66.714286  203.857143
                        8    ARI  18.125000  26.125000  70.250000  207.375000
                        10   LAR  16.888889  24.111111  72.222222  192.333333
                        11   CHI  15.200000  21.700000  65.000000  173.100000
                        12   NO   13.818182  19.727273  59.090909  157.363636
                        13   LAR  12.666667  18.083333  54.166667  144.250000
                        14   MIA  11.692308  16.692308  50.000000  133.153846
                        15   NE   10.857143  15.500000  46.428571  123.642857
...                                     ...        ...        ...         ...
Ben Roethlisberger PIT  8    WAS  25.571429  38.285714  67.142857  283.857143
                        9    NYG  25.000000  37.250000  67.500000  275.375000
                        10   KC   23.222222  35.111111  65.555556  254.111111
                        14   LAC  23.100000  35.800000  64.200000  257.200000
                        15   DAL  23.181818  36.181818  63.818182  264.636364
                        16   CIN  22.416667  35.500000  62.666667  260.916667
                        17   CLE  21.846154  34.538462  62.846154  251.153846
Blaine Gabbert     JAX  1    MIN   0.000000   0.000000   0.000000    0.000000
                        2    HOU  15.000000  29.000000  48.000000  156.500000
                        3    IND  13.333333  26.333333  48.000000  156.000000
                        4    CIN  15.750000  28.250000  53.000000  163.500000
                        5    CHI  16.000000  29.200000  52.800000  159.200000
                        7    OAK  14.666667  26.333333  55.166667  151.000000
                        8    GB   16.428571  29.571429  55.142857  172.714286
                        9    DET  17.750000  30.625000  57.125000  178.625000
                        10   IND  17.777778  30.666667  57.222222  182.000000
                        11   HOU  16.200000  27.800000  61.500000  166.200000
Brady Quinn        KC   5    BAL   0.000000   0.000000   0.000000    0.000000
                        6    TB   12.000000  20.000000  79.000000  106.000000
                        8    OAK   8.666667  14.666667  69.333333   71.000000
                        11   CIN   8.750000  14.500000  68.000000   77.000000
                        12   DEN   9.600000  16.600000  64.800000   86.800000
                        13   CAR  11.166667  17.666667  67.833333  105.833333
                        14   CLE  11.000000  18.142857  65.000000  113.428571
                        15   OAK  11.875000  19.875000  63.875000  116.250000
                        16   IND  11.666667  20.111111  61.888889  121.333333
                        17   DEN  11.200000  19.700000  60.100000  114.100000
Brandon Weeden     CLE  1    PHI   0.000000   0.000000   0.000000    0.000000
                        2    CIN  19.000000  36.000000  52.000000  220.000000
                        3    BUF  21.666667  38.333333  55.666667  225.666667

                                  avg_yds/att    avg_td   avg_int  \
Player             Team Week Opp
Aaron Rodgers      GB   1    SF      0.000000  0.000000  0.000000
                        2    CHI     7.000000  1.500000  1.000000
                        3    SEA     6.666667  1.000000  0.666667
                        4    NO      7.000000  1.750000  0.750000
                        5    IND     7.000000  2.000000  0.800000
                        6    HOU     7.333333  2.666667  0.666667
                        7    LAR     7.571429  2.714286  0.571429
                        8    JAX     7.250000  2.625000  0.500000
                        9    ARI     7.222222  2.777778  0.555556
                        11   DET     7.400000  2.700000  0.600000
                        12   NYG     7.545455  2.545455  0.636364
                        13   MIN     7.583333  2.416667  0.666667
                        14   DET     7.538462  2.230769  0.615385
                        15   CHI     7.571429  2.285714  0.571429
                        16   TEN     7.666667  2.333333  0.533333
                        17   MIN     7.750000  2.437500  0.500000
Alex Smith         SF   1    GB      0.000000  0.000000  0.000000
                        2    DET     7.500000  2.000000  0.000000
                        3    MIN     7.000000  1.666667  0.333333
                        4    NYJ     7.000000  1.250000  0.250000
                        5    BUF     8.200000  1.600000  0.200000
                        6    NYG     8.000000  1.333333  0.666667
                        7    SEA     7.714286  1.285714  0.714286
                        8    ARI     8.250000  1.500000  0.625000
                        10   LAR     8.333333  1.444444  0.555556
                        11   CHI     7.500000  1.300000  0.500000
                        12   NO      6.818182  1.181818  0.454545
                        13   LAR     6.250000  1.083333  0.416667
                        14   MIA     5.769231  1.000000  0.384615
                        15   NE      5.357143  0.928571  0.357143
...                                       ...       ...       ...
Ben Roethlisberger PIT  8    WAS     7.571429  2.000000  0.428571
                        9    NYG     7.500000  2.000000  0.500000
                        10   KC      7.222222  1.888889  0.444444
                        14   LAC     7.200000  2.000000  0.500000
                        15   DAL     7.363636  2.000000  0.545455
                        16   CIN     7.416667  1.916667  0.666667
                        17   CLE     7.307692  2.000000  0.615385
Blaine Gabbert     JAX  1    MIN     0.000000  0.000000  0.000000
                        2    HOU     5.000000  1.500000  0.000000
                        3    IND     5.666667  1.333333  0.000000
                        4    CIN     5.750000  1.250000  0.250000
                        5    CHI     5.400000  1.000000  0.600000
                        7    OAK     6.000000  1.000000  0.500000
                        8    GB      6.000000  1.000000  0.428571
                        9    DET     6.000000  1.125000  0.625000
                        10   IND     6.111111  1.000000  0.666667
                        11   HOU     6.700000  0.900000  0.600000
Brady Quinn        KC   5    BAL     0.000000  0.000000  0.000000
                        6    TB     10.500000  0.000000  1.000000
                        8    OAK     7.000000  0.000000  1.000000
                        11   CIN     7.000000  0.000000  0.750000
                        12   DEN     6.600000  0.000000  0.800000
                        13   CAR     7.000000  0.333333  0.666667
                        14   CLE     7.142857  0.285714  0.714286
                        15   OAK     6.750000  0.250000  0.750000
                        16   IND     6.777778  0.222222  0.888889
                        17   DEN     6.400000  0.200000  0.800000
Brandon Weeden     CLE  1    PHI     0.000000  0.000000  0.000000
                        2    CIN     6.000000  1.000000  2.000000
                        3    BUF     6.000000  1.000000  2.000000

                                  avg_qb rating  avg_rush_att  avg_rush_yds  \
Player             Team Week Opp
Aaron Rodgers      GB   1    SF        0.000000      0.000000      0.000000
                        2    CHI      89.000000      4.000000     10.500000
                        3    SEA      86.333333      3.333333     12.666667
                        4    NO       94.750000      3.750000     12.750000
                        5    IND      96.400000      4.000000     21.600000
                        6    HOU     102.666667      3.666667     20.833333
                        7    LAR     106.857143      3.428571     17.857143
                        8    JAX     105.500000      3.375000     16.125000
                        9    ARI     104.555556      3.888889     18.000000
                        11   DET     104.700000      3.600000     16.500000
                        12   NYG     102.636364      3.545455     17.000000
                        13   MIN     102.250000      3.583333     16.833333
                        14   DET     100.615385      3.538462     18.000000
                        15   CHI     101.785714      3.571429     17.714286
                        16   TEN     103.333333      3.600000     17.266667
                        17   MIN     105.125000      3.375000     16.187500
Alex Smith         SF   1    GB        0.000000      0.000000      0.000000
                        2    DET     117.000000      4.500000     10.000000
                        3    MIN     105.000000      4.333333     15.333333
                        4    NYJ      98.250000      4.000000     14.500000
                        5    BUF     109.800000      3.800000     21.400000
                        6    NYG      98.666667      3.500000     18.666667
                        7    SEA      95.285714      3.714286     17.571429
                        8    ARI     103.000000      3.375000     16.125000
                        10   LAR     107.555556      3.222222     14.888889
                        11   CHI      96.800000      2.900000     13.400000
                        12   NO       88.000000      2.636364     12.181818
                        13   LAR      80.666667      2.416667     11.166667
                        14   MIA      74.461538      2.230769     10.307692
                        15   NE       69.142857      2.071429      9.571429
...                                         ...           ...           ...
Ben Roethlisberger PIT  8    WAS     101.714286      1.428571      6.428571
                        9    NYG     101.375000      1.750000      5.500000
                        10   KC       99.222222      1.666667      6.444444
                        14   LAC      98.100000      2.000000      8.900000
                        15   DAL      97.727273      2.000000      8.272727
                        16   CIN      94.500000      2.000000      7.833333
                        17   CLE      96.461538      2.000000      7.076923
Blaine Gabbert     JAX  1    MIN       0.000000      0.000000      0.000000
                        2    HOU      79.500000      3.000000      5.500000
                        3    IND      82.333333      2.666667      7.333333
                        4    CIN      81.500000      2.750000     10.250000
                        5    CHI      72.800000      2.600000      8.400000
                        7    OAK      81.333333      2.166667      7.000000
                        8    GB       81.285714      2.000000      6.000000
                        9    DET      81.250000      2.125000      5.750000
                        10   IND      79.444444      2.000000      6.222222
                        11   HOU      83.200000      1.800000      5.600000
Brady Quinn        KC   5    BAL       0.000000      0.000000      0.000000
                        6    TB       83.500000      1.000000      5.500000
                        8    OAK      61.333333      1.333333      9.666667
                        11   CIN      67.000000      1.750000      9.000000
                        12   DEN      63.600000      1.600000      7.000000
                        13   CAR      75.000000      1.833333      7.833333
                        14   CLE      71.857143      1.714286      7.285714
                        15   OAK      69.625000      1.500000      6.375000
                        16   IND      65.555556      1.888889      6.888889
                        17   DEN      64.100000      1.900000      6.600000
Brandon Weeden     CLE  1    PHI       0.000000      0.000000      0.000000
                        2    CIN      60.000000      2.000000     15.500000
                        3    BUF      62.000000      1.333333     10.333333

                                  avg_rush_yd/att  avg_rush_td  \
Player             Team Week Opp
Aaron Rodgers      GB   1    SF          0.000000     0.000000
                        2    CHI         1.500000     0.000000
                        3    SEA         4.000000     0.000000
                        4    NO          3.750000     0.000000
                        5    IND         5.200000     0.000000
                        6    HOU         5.833333     0.000000
                        7    LAR         5.000000     0.000000
                        8    JAX         4.500000     0.000000
                        9    ARI         4.444444     0.000000
                        11   DET         4.300000     0.000000
                        12   NYG         4.545455     0.000000
                        13   MIN         4.500000     0.000000
                        14   DET         5.000000     0.076923
                        15   CHI         4.928571     0.071429
                        16   TEN         4.800000     0.133333
                        17   MIN         4.500000     0.125000
Alex Smith         SF   1    GB          0.000000     0.000000
                        2    DET         2.500000     0.000000
                        3    MIN         4.000000     0.000000
                        4    NYJ         4.000000     0.000000
                        5    BUF         6.400000     0.000000
                        6    NYG         5.833333     0.000000
                        7    SEA         5.285714     0.000000
                        8    ARI         5.375000     0.000000
                        10   LAR         5.111111     0.000000
                        11   CHI         4.600000     0.000000
                        12   NO          4.181818     0.000000
                        13   LAR         3.833333     0.000000
                        14   MIA         3.538462     0.000000
                        15   NE          3.285714     0.000000
...                                           ...          ...
Ben Roethlisberger PIT  8    WAS         4.428571     0.000000
                        9    NYG         3.875000     0.000000
                        10   KC          5.000000     0.000000
                        14   LAC         5.100000     0.000000
                        15   DAL         4.727273     0.000000
                        16   CIN         4.500000     0.000000
                        17   CLE         4.076923     0.000000
Blaine Gabbert     JAX  1    MIN         0.000000     0.000000
                        2    HOU         3.000000     0.000000
                        3    IND         4.000000     0.000000
                        4    CIN         4.500000     0.000000
                        5    CHI         3.800000     0.000000
                        7    OAK         3.166667     0.000000
                        8    GB          2.714286     0.000000
                        9    DET         2.500000     0.000000
                        10   IND         3.333333     0.000000
                        11   HOU         3.000000     0.000000
Brady Quinn        KC   5    BAL         0.000000     0.000000
                        6    TB          3.000000     0.000000
                        8    OAK         5.000000     0.000000
                        11   CIN         4.250000     0.000000
                        12   DEN         3.200000     0.000000
                        13   CAR         3.333333     0.000000
                        14   CLE         3.428571     0.000000
                        15   OAK         3.000000     0.000000
                        16   IND         2.888889     0.000000
                        17   DEN         2.800000     0.000000
Brandon Weeden     CLE  1    PHI         0.000000     0.000000
                        2    CIN         8.000000     0.000000
                        3    BUF         5.333333     0.000000

                                  avg_fantasy points
Player             Team Week Opp
Aaron Rodgers      GB   1    SF             0.000000
                        2    CHI           16.490000
                        3    SEA           14.533333
                        4    NO            17.915000
                        5    IND           19.352000
                        6    HOU           22.663333
                        7    LAR           23.094286
                        8    JAX           21.937500
                        9    ARI           22.391111
                        11   DET           21.726000
                        12   NYG           20.747273
                        13   MIN           20.263333
                        14   DET           19.790769
                        15   CHI           20.230000
                        16   TEN           21.066667
                        17   MIN           21.537500
Alex Smith         SF   1    GB             0.000000
                        2    DET           17.740000
                        3    MIN           15.413333
                        4    NYJ           13.290000
                        5    BUF           16.436000
                        6    NYG           14.113333
                        7    SEA           13.340000
                        8    ARI           14.407500
                        10   LAR           13.626667
                        11   CHI           12.264000
                        12   NO            11.149091
                        13   LAR           10.220000
                        14   MIA            9.433846
                        15   NE             8.760000
...                                              ...
Ben Roethlisberger PIT  8    WAS           19.140000
                        9    NYG           18.315000
                        10   KC            17.253333
                        14   LAC           17.778000
                        15   DAL           17.958182
                        16   CIN           17.220000
                        17   CLE           17.215385
Blaine Gabbert     JAX  1    MIN            0.000000
                        2    HOU           12.810000
                        3    IND           12.306667

In [52]:
qb_current_2012['date']

ValueError: Length of values does not match length of index