In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen


import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('../input/2012_qb_weeks1_8.csv')
df1=pd.read_csv('../input/2012_qb_weeks_9_16.csv')
df3 = pd.read_csv('../input/2012_qb_week17.csv')

In [3]:
raw_qb_2012 = pd.concat([df,df1], axis=0)
raw_qb_2012 = pd.concat([raw_qb_2012, df3], axis=0)
raw_qb_2012.drop('Rk', axis =1, inplace = True)
raw_qb_2012.shape

(629, 18)

In [4]:
raw_qb_2012.head()

,Player,Pos,Week,Team,Opp,Comp,Att,Pct,Yds,Yds/Att,TD,Int,QB Rating,Att.1,Yds.1,Yds/Att.1,TD.1,Fantasy Points
0,Matt Ryan,QB,1,ATL,KC,23,31,74,299,10,3,0,136,3,25,8,1,32.46
1,Robert Griffin III,QB,1,WAS,NO,19,26,73,320,12,2,0,140,9,42,5,0,25.00
2,Tony Romo,QB,1,DAL,NYG,22,29,76,307,11,3,1,130,5,12,2,0,23.48
3,Aaron Rodgers,QB,1,GB,SF,30,44,68,303,7,2,1,93,5,27,5,0,22.82
4,Drew Brees,QB,1,NO,WAS,24,52,46,339,7,3,2,71,0,0,0,0,21.56

In [5]:
raw_qb_2012 = raw_qb_2012.rename(columns={'Att.1':'rush_att',
                       'Yds.1':'rush_yds',
                       'Yds/Att.1':'rush_yd/att',
                       'TD.1':'rush_td'})

In [6]:
team_stats = raw_qb_2012.groupby(['Player','Week','Opp']).sum()

In [7]:
team_stats.head(), team_stats.shape

(                        Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
 Player        Week Opp
 Aaron Rodgers 1    SF     30   44   68  303        7   2    1         93
               2    CHI    22   32   69  219        7   1    1         85
               3    SEA    26   39   67  223        6   0    0         81
               4    NO     31   41   76  319        8   4    1        120
               5    IND    20   32   63  235        7   3    1        103

                         rush_att  rush_yds  rush_yd/att  rush_td  \
 Player        Week Opp
 Aaron Rodgers 1    SF          5        27            5        0
               2    CHI         3        -6           -2        0
               3    SEA         2        17            9        0
               4    NO          5        13            3        0
               5    IND         5        57           11        0

                         Fantasy Points
 Player        Week Opp
 Aaron Rodgers 1    SF            22.82
               2    CHI           10.16
               3    SEA           10.62
               4    NO            28.06
               5    IND           25.10  , (629, 13))

In [8]:
# Define a dataframe to contain the career averages for all 2012 QBs
def create_career_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('{}_car'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [ ]:
# Week 1 stats are player's career average through 2011 season
# Populate current dataframe with current year averages of players
for col in team_stats:  # Iterate through every attribute in the team_stats dataframe
    points=[]  # Create an empty list to hold the season average of the current attribute
    for player in team_stats.index.levels[0]:  # Iterate through every player in the team_stats df
        total =[] # create an empty list to hold the weekly attributes value
        for week in team_stats.loc[player].index: # Iterate throough every week for the current player
            total.append(team_stats.loc[player].loc[week][col]) # Add player's value for the current week's attribute to the total list
            points.append(np.mean(total))  # Add the average of the total list to the season average list
    qb_current_2012['{}_car'.format(col.lower())] = points # Insert season average list for current attribute into the current stats dataframe