In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('../input/2012_qb_weeks1_8.csv')
df1=pd.read_csv('../input/2012_qb_weeks_9_16.csv')
df3 = pd.read_csv('../input/2012_qb_week17.csv')

In [4]:
raw_qb_2012 = pd.concat([df,df1], axis=0)
raw_qb_2012 = pd.concat([raw_qb_2012, df3], axis=0)

raw_qb_2012.shape

(629, 19)

In [6]:
raw_qb_2012 = raw_qb_2012.rename(columns={'Att.1':'rush_att',
                       'Yds.1':'rush_yds',
                       'Yds/Att.1':'rush_yd/att',
                       'TD.1':'rush_td'})

In [7]:
weekly_stats = raw_qb_2012.groupby(['Player', 'Week']).sum()
weekly_stats.head()

                     Rk  Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
Player        Week
Aaron Rodgers 1       4    30   44   68  303        7   2    1         93
              2      65    22   32   69  219        7   1    1         85
              3      97    26   39   67  223        6   0    0         81
              4     117    31   41   76  319        8   4    1        120
              5     155    20   32   63  235        7   3    1        103

                    rush_att  rush_yds  rush_yd/att  rush_td  Fantasy Points
Player        Week
Aaron Rodgers 1            5        27            5        0           22.82
              2            3        -6           -2        0           10.16
              3            2        17            9        0           10.62
              4            5        13            3        0           28.06
              5            5        57           11        0           25.10

In [8]:
y=weekly_stats['Fantasy Points']

In [9]:
def create_recent_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('avg_{}'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [10]:
qb_2012_recent = create_recent_dataframe(weekly_stats)

In [11]:
qb_2012_recent.shape

(629, 14)

In [37]:
for col in weekly_stats:
    lst=[]
    for player in weekly_stats.index.levels[0]:
        total =[]
        for week in weekly_stats.loc[player].index:
            if week == 1:
                lst.append(0)
            else:
                total.append(weekly_stats.loc[player].loc[week][col])
                lst.append(np.mean(total))
    qb_2012_recent['avg_{}'.format(col.lower())] = lst

In [40]:
qb_2012_recent.shape

(629, 14)

In [50]:
qb_2012_recent['fantasy_points']=y

In [51]:
qb_2012_recent.head()

                    avg_rk   avg_comp    avg_att    avg_pct     avg_yds  \
Player        Week
Aaron Rodgers 1        0.0   0.000000   0.000000   0.000000    0.000000
              2       65.0  22.000000  32.000000  69.000000  219.000000
              3       81.0  24.000000  35.500000  68.000000  221.000000
              4       93.0  26.333333  37.333333  70.666667  253.666667
              5      108.5  24.750000  36.000000  68.750000  249.000000

                    avg_yds/att    avg_td   avg_int  avg_qb rating  \
Player        Week
Aaron Rodgers 1             0.0  0.000000  0.000000       0.000000
              2             7.0  1.000000  1.000000      85.000000
              3             6.5  0.500000  0.500000      83.000000
              4             7.0  1.666667  0.666667      95.333333
              5             7.0  2.000000  0.750000      97.250000

                    avg_rush_att  avg_rush_yds  avg_rush_yd/att  avg_rush_td  \
Player        Week
Aaron Rodgers 1         0.000000          0.00         0.000000          0.0
              2         3.000000         -6.00        -2.000000          0.0
              3         2.500000          5.50         3.500000          0.0
              4         3.333333          8.00         3.333333          0.0
              5         3.750000         20.25         5.250000          0.0

                    avg_fantasy points  fantasy_points
Player        Week
Aaron Rodgers 1                  0.000           22.82
              2                 10.160           10.16
              3                 10.390           10.62
              4                 16.280           28.06
              5                 18.485           25.10