In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

import seaborn as sns

%matplotlib inline

In [3]:
df = pd.read_csv('../input/2012_qb_weeks1_8.csv')
df1=pd.read_csv('../input/2012_qb_weeks_9_16.csv')
df3 = pd.read_csv('../input/2012_qb_week17.csv')

In [4]:
qb_2012 = pd.concat([df,df1], axis=0)

In [5]:
qb_2012 = pd.concat([qb_2012, df3], axis=0)

In [6]:
qb_2012.shape

(629, 19)

In [7]:
weekly_stats = qb_2012.groupby(['Player', 'Week']).sum()

In [12]:
weekly_stats.keys()

Index(['Rk', 'Comp', 'Att', 'Pct', 'Yds', 'Yds/Att', 'TD', 'Int', 'QB Rating',
       'Att.1', 'Yds.1', 'Yds/Att.1', 'TD.1', 'Fantasy Points', 'avg_td'],
      dtype='object')

In [9]:
weekly_stats.head()

                     Rk  Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
Player        Week
Aaron Rodgers 1       4    30   44   68  303        7   2    1         93
              2      65    22   32   69  219        7   1    1         85
              3      97    26   39   67  223        6   0    0         81
              4     117    31   41   76  319        8   4    1        120
              5     155    20   32   63  235        7   3    1        103

                    Att.1  Yds.1  Yds/Att.1  TD.1  Fantasy Points
Player        Week
Aaron Rodgers 1         5     27          5     0           22.82
              2         3     -6         -2     0           10.16
              3         2     17          9     0           10.62
              4         5     13          3     0           28.06
              5         5     57         11     0           25.10

In [10]:
avg_td= []
for player in weekly_stats.index.levels[0]:
    total =[]
    for week in weekly_stats.loc[player].index:
        total.append(weekly_stats.loc[player].loc[week]['TD'])
        avg_td.append(np.mean(total))

In [ ]:
class RecentQBStats(object):
    """ A qb and his statistics within the dataframe
        
        Attributes:
                    avg_dfks: 3 game average of fantasy point on Draftkings website
                    patt: 3 game average of passing attempts
                    pcomp: 3 game average of passing completions
                    pyds: 3 game avegare of passing yarsds
                    ptd: 3 game average of tds
                    pint: 3 game average of interceptions
                    fum: 3 game average of fumbles
                    ratt: 3 game average of rushing attempts
                    ryds: 3 game average of rushing yards
                    rtd: 3 game average of rushing td
                    rec_tar: 3 game average of targets as a reciever
                    recep: 3 game average of receptions
                    rec_yds: 3 game recieving yards
                    rec_td: 3game average of recieving tds
                    inj_ratt: 3 game average of player injury bonus
                    inj_ryds: 3 game average of injured rushing bonus
                    inj_rtds: 3 game average of injured tds bonus
                    inj_patt: 3 game average of injured passing attempt bonus
                    inj_pcomp: 3 game average of injured passing completions bonus
                    inj_td:  3 game average of passing td bonus
                    inj_tar: 3 game average of injnured target bonus
                    inj_recep: 3 game average of injured reception bonus
                    inj_rec_yds: 3 game average of injured recieving yards bonus
                    inj_rec_td: 3 game average of injured recieving td bonus
                    def_rushing: 3 game opponent's defensive rushing yards against
                    def_passing: 3 game opponents's average passng yards against
                    def_scoring: 3 game opponent's points against average
                    def_turn: 3 game opponent's turnover average
                    
                    
                    
    """
    def__init__(self, avg_dfks, patt,inj_patt pcomp, inj_pcomp, pyds, inj_pyds, ptd, inj_ptd, pint, inj_pint,  ratt, inj_ratt, ryds, inj_ryds, rtd, inj_rtds, fum, inj_fum, dfn_passing, dfn_rushing, dfn_scoring, dfn_turn):
        self.avg_dfks = avg_dfks
        self.patt = patt
        self.inj_patt = inj_patt
        self.pcomp  pcomp
        self.inj_pcom = inj_pcomp
        self.ptd = ptd
        self.inj_ptd = inj_ptd
        self.pint = pint
        self.inj_pint = inj_pint
        self.ratt= ratt
        self.inj_ratt = ratt
        self.ryds = ryds
        self.inj_ryds = inj_ryds
        self.rtd = rtd
        self.inj_td =inj_td
        self.fum = fum
        self.inj_fum = inj_fum
        self.dfn_passing = def_passing
        self.dfn_rushing = dfn_rushing
        self.dfn_scoring = dfn_scoring
        self.dfn_turn = dfn_turn

In [11]:
weekly_stats['avg_td'] = avg_td

In [12]:
weekly_stats

                     Rk  Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
Player        Week
Aaron Rodgers 1       4    30   44   68  303        7   2    1         93
              2      65    22   32   69  219        7   1    1         85
              3      97    26   39   67  223        6   0    0         81
              4     117    31   41   76  319        8   4    1        120
              5     155    20   32   63  235        7   3    1        103
              6     189    24   37   65  338        9   6    0        134
              7     224    30   37   81  342        9   3    0        132
              8     268    22   35   63  186        5   2    0         96
              9       2    14   30   47  218        7   4    1         97
              11     82    19   27   70  236        9   2    1        106
              12    127    14   25   56  219        9   1    1         82
              13    159    27   35   77  286        8   1    1         98
              14    193    14   24   58  173        7   0    0         81
              15    225    23   36   64  291        8   3    0        117
              16    261    27   38   71  342        9   3    0        125
              17      2    28   40   70  365        9   4    0        132
Alex Smith    1      12    20   26   77  211        8   2    0        126
              2      55    20   31   65  226        7   2    0        108
              3      96    24   35   69  204        6   1    1         81
              4     140    12   21   57  143        7   0    0         78
              5     152    18   24   75  303       13   3    0        156
              6     217    19   30   63  200        7   0    3         43
              7     242    14   23   61  140        6   1    1         75
              8     258    18   19   95  232       12   3    0        157
              10     54     7    8   88   72        9   1    0        144
              11    103     0    0    0    0        0   0    0          0
              12    142     0    0    0    0        0   0    0          0
              13    177     0    0    0    0        0   0    0          0
              14    216     0    0    0    0        0   0    0          0
              15    257     0    0    0    0        0   0    0          0
...                 ...   ...  ...  ...  ...      ...  ..  ...        ...
Tom Brady     11     74    24   35   69  331       10   3    0        127
              12    107    18   27   67  323       12   3    0        145
              13    167    24   40   60  238        6   1    1         75
              14    181    21   35   60  296        9   4    0        125
              15    226    36   65   55  443        7   1    2         69
              16    274    24   41   59  267        7   2    2         74
              17      8    22   36   61  284        8   2    0        104
Tony Romo     1       3    22   29   76  307       11   3    1        130
              2      63    23   40   58  251        6   1    1         74
              3     105    25   39   64  283        7   0    1         75
              4     142    31   43   72  307        7   1    5         60
              6     202    25   36   69  261        7   2    1         97
              7     234    24   34   71  227        7   1    0         99
              8     260    36   62   58  437        7   1    4         58
              9      11    25   35   71  321        9   1    0        109
              10     48    19   26   73  209        8   2    0        122
              11     83    35   50   70  313        6   1    0         93
              12    109    37   62   60  441        7   3    2         84
              13    147    22   27   82  303       11   3    0        150
              14    197    25   43   58  268        6   1    1         75
              15    230    30   42   71  341        8   2    0        111
              16    262    26   43   61  416       10   4    0        124
              17     19    20   37   54  218        6   2    3         56
Trent Edwards 17     34     2    2  100   14        7   0    0         96
Tyrod Taylor  1      33     2    3   67   30       10   0    0         99
              4     147     0    0    0    0        0   0    0          0
              5     183     0    0    0    0        0   0    0          0
              9      29     0    0    0    0        0   0    0          0
              10     67     0    1    0    0        0   0    0         40
              17     12    15   25   60  149        6   0    1         60

                    Att.1  Yds.1  Yds/Att.1  TD.1  Fantasy Points    avg_td
Player        Week
Aaron Rodgers 1         5     27          5     0           22.82  2.000000
              2         3     -6         -2     0           10.16  1.500000
              3         2     17          9     0           10.62  1.000000
              4         5     13          3     0           28.06  1.750000
              5         5     57         11     0           25.10  2.000000
              6         2     17          9     0           39.22  2.666667
              7         2      0          0     0           25.68  2.714286
              8         3      4          1     0           13.84  2.625000
              9         8     33          4     0           26.02  2.777778
              11        1      3          3     0           15.74  2.700000
              12        3     22          7     0           10.96  2.545455
              13        4     15          4     0           14.94  2.416667
              14        3     32         11     1           14.12  2.230769
              15        4     14          4     0           25.94  2.285714
              16        4     11          3     1           32.78  2.333333
              17        0      0          0     0           28.60  2.437500
Alex Smith    1         5     13          3     0           17.74  2.000000
              2         4      7          2     0           17.74  2.000000
              3         4     26          7     0           10.76  1.666667
              4         3     12          4     0            6.92  1.250000
              5         3     49         16     0           29.02  1.600000
              6         2      5          3     0            2.50  1.333333
              7         5     11          2     0            8.70  1.285714
              8         1      6          6     0           21.88  1.500000
              10        2      5          3     0            7.38  1.444444
              11        0      0          0     0            0.00  1.300000
              12        0      0          0     0            0.00  1.181818
              13        0      0          0     0            0.00  1.083333
              14        0      0          0     0            0.00  1.000000
              15        0      0          0     0            0.00  0.928571
...                   ...    ...        ...   ...             ...       ...
Tom Brady     11        0      0          0     0           25.24  2.100000
              12        3      5          2     1           31.42  2.181818
              13        4     -1          0     0           11.42  2.083333
              14        1      6          6     0           28.44  2.230769
              15        3     11          4     1           24.82  2.142857
              16        0      0          0     0           14.68  2.133333
              17        0      0          0     0           19.36  2.125000
Tony Romo     1         5     12          2     0           23.48  3.000000
              2         2     -1         -1     0           11.94  2.000000
              3         4      1          0     0            5.32  1.333333
              4         1      0          0     0            6.28  1.250000
              6         0      0          0     0           16.44  1.400000
              7         3     11          4     0           14.18  1.333333
              8         2      0          0     1           19.48  1.285714
              9         0      0          0     0           16.84  1.250000
              10        1     -1         -1     0           16.26  1.333333
              11        2     10          5     0           15.52  1.300000
              12        3      7          2     0           28.34  1.454545
              13        3     14          5     0           25.52  1.583333
              14        0      0          0     0           12.72  1.538462
              15        4     -4         -1     0           21.24  1.571429
              16        0      0          0     0           32.64  1.733333
              17        0      0          0     0           12.72  1.750000
Trent Edwards 17        0      0          0     0            0.56  0.000000
Tyrod Taylor  1         1      7          7     0            1.90  0.000000
              4         0      0          0     0            0.00  0.000000
              5         0      0          0     0            0.00  0.000000
              9         1      4          4     0            0.40  0.000000
              10        0      0          0     0            0.00  0.000000
              17        9     65          7     1           16.46  0.000000

[629 rows x 15 columns]

In [48]:
len(avg_td)

587

In [30]:
weekly_stats = weekly_stats.copy()
weekly_stats.loc['Aaron Rodgers']['avg_td']= avg

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
(weekly_stats.head())

                     Rk  Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
Player        Week
Aaron Rodgers 1       4    30   44   68  303        7   2    1         93
              2      65    22   32   69  219        7   1    1         85
              3      97    26   39   67  223        6   0    0         81
              4     117    31   41   76  319        8   4    1        120
              5     155    20   32   63  235        7   3    1        103

                    Att.1  Yds.1  Yds/Att.1  TD.1  Fantasy Points
Player        Week
Aaron Rodgers 1         5     27          5     0           22.82
              2         3     -6         -2     0           10.16
              3         2     17          9     0           10.62
              4         5     13          3     0           28.06
              5         5     57         11     0           25.10

In [34]:
avg=pd.DataFrame

TypeError: Index(...) must be called with a collection of some kind, 'avg' was passed

In [33]:
avg

           0
0   2.000000
1   1.500000
2   1.000000
3   1.750000
4   2.000000
5   2.666667
6   2.714286
7   2.625000
8   2.777778
9   2.700000
10  2.545455
11  2.416667
12  2.230769
13  2.285714
14  2.333333

In [18]:
weekly_stats.loc['Aaron Rodgers'].loc[['avg_td']= avg

ValueError: Length of values does not match length of index

In [58]:
avg = 0
for week in weekly_stats.loc['Aaron Rodgers'].index:
    if week != 1:
        avg = np.mean(weekly_stats.loc['Aaron Rodgers'].loc[week]['TD'] + weekly_stats.loc['Aaron Rodgers'].loc[(week-1)]['TD'])
        print(avg)
    else:
        print(0)

0
3.0
1.0
4.0
7.0
9.0
9.0
5.0

In [63]:
for week in weekly_stats.loc['Aaron Rodgers'].index:
    if week != 1:
        print(weekly_stats.loc['Aaron Rodgers'].loc[week]['TD'] + weekly_stats.loc['Aaron Rodgers'].loc[(week-1)]['TD'])
    else:
        print(0)

0
3.0
1.0
4.0
7.0
9.0
9.0
5.0

In [93]:
for idx,player in enumerate(df.Player):
    if player == 'Aaron Rodgers':
        print(df.iloc[idx]['TD'])

2
1
0
4
3
6
3
2