In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('../input/2012_qb_weeks1_8.csv')
df1=pd.read_csv('../input/2012_qb_weeks_9_16.csv')
df3 = pd.read_csv('../input/2012_qb_week17.csv')

In [4]:
raw_qb_2012 = pd.concat([df,df1], axis=0)
raw_qb_2012 = pd.concat([raw_qb_2012, df3], axis=0)

raw_qb_2012.shape

(629, 19)

In [6]:
raw_qb_2012 = raw_qb_2012.rename(columns={'Att.1':'rush_att',
                       'Yds.1':'rush_yds',
                       'Yds/Att.1':'rush_yd/att',
                       'TD.1':'rush_td'})

In [7]:
weekly_stats = raw_qb_2012.groupby(['Player', 'Week']).sum()
weekly_stats.head()

                     Rk  Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
Player        Week
Aaron Rodgers 1       4    30   44   68  303        7   2    1         93
              2      65    22   32   69  219        7   1    1         85
              3      97    26   39   67  223        6   0    0         81
              4     117    31   41   76  319        8   4    1        120
              5     155    20   32   63  235        7   3    1        103

                    rush_att  rush_yds  rush_yd/att  rush_td  Fantasy Points
Player        Week
Aaron Rodgers 1            5        27            5        0           22.82
              2            3        -6           -2        0           10.16
              3            2        17            9        0           10.62
              4            5        13            3        0           28.06
              5            5        57           11        0           25.10

In [8]:
y=weekly_stats['Fantasy Points']

In [9]:
def create_recent_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('avg_{}'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [10]:
qb_2012_recent = create_recent_dataframe(weekly_stats)

In [11]:
qb_2012_recent.shape

(629, 14)

In [12]:
for col in weekly_stats:
    lst=[]
    for player in weekly_stats.index.levels[0]:
        total =[]
        for week in weekly_stats.loc[player].index:
            total.append(weekly_stats.loc[player].loc[week][col])
            lst.append(np.mean(total))
    qb_2012_recent['avg_{}'.format(col.lower())] = lst

In [13]:
qb_2012_recent.shape

(629, 14)

In [15]:
qb_2012_recent['fantasy_points']=y

In [16]:
qb_2012_recent.head()

                       avg_rk  avg_comp    avg_att  avg_pct     avg_yds  \
Player        Week
Aaron Rodgers 1      4.000000     30.00  44.000000     68.0  303.000000
              2     34.500000     26.00  38.000000     68.5  261.000000
              3     55.333333     26.00  38.333333     68.0  248.333333
              4     70.750000     27.25  39.000000     70.0  266.000000
              5     87.600000     25.80  37.600000     68.6  259.800000

                    avg_yds/att  avg_td   avg_int  avg_qb rating  \
Player        Week
Aaron Rodgers 1        7.000000    2.00  1.000000      93.000000
              2        7.000000    1.50  1.000000      89.000000
              3        6.666667    1.00  0.666667      86.333333
              4        7.000000    1.75  0.750000      94.750000
              5        7.000000    2.00  0.800000      96.400000

                    avg_rush_att  avg_rush_yds  avg_rush_yd/att  avg_rush_td  \
Player        Week
Aaron Rodgers 1         5.000000     27.000000             5.00          0.0
              2         4.000000     10.500000             1.50          0.0
              3         3.333333     12.666667             4.00          0.0
              4         3.750000     12.750000             3.75          0.0
              5         4.000000     21.600000             5.20          0.0

                    avg_fantasy points  fantasy_points
Player        Week
Aaron Rodgers 1              22.820000           22.82
              2              16.490000           10.16
              3              14.533333           10.62
              4              17.915000           28.06
              5              19.352000           25.10