In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen


import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('../input/2012_qb_weeks1_8.csv')
df1=pd.read_csv('../input/2012_qb_weeks_9_16.csv')
df3 = pd.read_csv('../input/2012_qb_week17.csv')

In [3]:
raw_qb_2012 = pd.concat([df,df1], axis=0)
raw_qb_2012 = pd.concat([raw_qb_2012, df3], axis=0)
raw_qb_2012.drop('Rk', axis =1, inplace = True)
raw_qb_2012.shape

(629, 18)

In [4]:
raw_qb_2012.head()

,Player,Pos,Week,Team,Opp,Comp,Att,Pct,Yds,Yds/Att,TD,Int,QB Rating,Att.1,Yds.1,Yds/Att.1,TD.1,Fantasy Points
0,Matt Ryan,QB,1,ATL,KC,23,31,74,299,10,3,0,136,3,25,8,1,32.46
1,Robert Griffin III,QB,1,WAS,NO,19,26,73,320,12,2,0,140,9,42,5,0,25.00
2,Tony Romo,QB,1,DAL,NYG,22,29,76,307,11,3,1,130,5,12,2,0,23.48
3,Aaron Rodgers,QB,1,GB,SF,30,44,68,303,7,2,1,93,5,27,5,0,22.82
4,Drew Brees,QB,1,NO,WAS,24,52,46,339,7,3,2,71,0,0,0,0,21.56

In [5]:
raw_qb_2012 = raw_qb_2012.rename(columns={'Att.1':'rush_att',
                       'Yds.1':'rush_yds',
                       'Yds/Att.1':'rush_yd/att',
                       'TD.1':'rush_td'})

In [113]:
weekly_stats = raw_qb_2012.groupby(['Player', 'Week']).sum()

In [6]:
team_stats = raw_qb_2012.groupby(['Player','Week','Opp']).sum()

In [7]:
team_stats.head(), team_stats.shape

(                        Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
 Player        Week Opp
 Aaron Rodgers 1    SF     30   44   68  303        7   2    1         93
               2    CHI    22   32   69  219        7   1    1         85
               3    SEA    26   39   67  223        6   0    0         81
               4    NO     31   41   76  319        8   4    1        120
               5    IND    20   32   63  235        7   3    1        103

                         rush_att  rush_yds  rush_yd/att  rush_td  \
 Player        Week Opp
 Aaron Rodgers 1    SF          5        27            5        0
               2    CHI         3        -6           -2        0
               3    SEA         2        17            9        0
               4    NO          5        13            3        0
               5    IND         5        57           11        0

                         Fantasy Points
 Player        Week Opp
 Aaron Rodgers 1    SF            22.82
               2    CHI           10.16
               3    SEA           10.62
               4    NO            28.06
               5    IND           25.10  , (629, 13))

In [10]:
weekly_stats.head(), weekly_stats.shape

(                    Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
 Player        Week
 Aaron Rodgers 1       30   44   68  303        7   2    1         93
               2       22   32   69  219        7   1    1         85
               3       26   39   67  223        6   0    0         81
               4       31   41   76  319        8   4    1        120
               5       20   32   63  235        7   3    1        103

                     rush_att  rush_yds  rush_yd/att  rush_td  Fantasy Points
 Player        Week
 Aaron Rodgers 1            5        27            5        0           22.82
               2            3        -6           -2        0           10.16
               3            2        17            9        0           10.62
               4            5        13            3        0           28.06
               5            5        57           11        0           25.10  ,
 (629, 13))

In [11]:
y=weekly_stats['Fantasy Points']

In [8]:
# Define a dataframe to contain the current year 3 game moving averages of all 2012 QBs
def create_recent_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('{}_ma'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [7]:
# Define a dataframe to contain the career averages for all 2012 QBs
def create_career_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('{}_car'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [9]:
# Create recent and current dataframes for all 2012 QBs
qb_recent_2012= create_recent_dataframe(team_stats)

In [10]:
qb_recent_2012.head()

                       comp_ma att_ma pct_ma yds_ma yds/att_ma td_ma int_ma  \
Player        Week Opp
Aaron Rodgers 1    SF      NaN    NaN    NaN    NaN        NaN   NaN    NaN
              2    CHI     NaN    NaN    NaN    NaN        NaN   NaN    NaN
              3    SEA     NaN    NaN    NaN    NaN        NaN   NaN    NaN
              4    NO      NaN    NaN    NaN    NaN        NaN   NaN    NaN
              5    IND     NaN    NaN    NaN    NaN        NaN   NaN    NaN

                       qb rating_ma rush_att_ma rush_yds_ma rush_yd/att_ma  \
Player        Week Opp
Aaron Rodgers 1    SF           NaN         NaN         NaN            NaN
              2    CHI          NaN         NaN         NaN            NaN
              3    SEA          NaN         NaN         NaN            NaN
              4    NO           NaN         NaN         NaN            NaN
              5    IND          NaN         NaN         NaN            NaN

                       rush_td_ma fantasy points_ma
Player        Week Opp
Aaron Rodgers 1    SF         NaN               NaN
              2    CHI        NaN               NaN
              3    SEA        NaN               NaN
              4    NO         NaN               NaN
              5    IND        NaN               NaN

In [92]:
team_stats.loc['Aaron Rodgers'].index.levels[0]

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='int64', name='Week')

In [73]:
for col in team_stats:  # Iterate through every attribute in the team_stats dataframe
    ma3 = []  # Create an empty list to hold the 3 game moving average of the current attribute
    for player in team_stats.index.levels[0]:  # Iterate through every player in the team_stats df
        total = [] # create an empty list to hold the weekly attributes value
        for week in team_stats.loc[player].index.levels[0]: # Iterate throough every week for the current player
            if week <= 3:
                ma3.append(0)
            else:
                ma3.append(np.mean((team_stats.loc[player].loc[week][col]),(team_stats.loc[player].loc[week-1][col]),(team_stats.loc[player].loc[week-2][col])))  # Add the average of the total list to the season average list
    qb_recent_2012['{}_ma'.format(col.lower())] = ma3 # Insert season average list for current att

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [71]:
len(ma3)

629

In [72]:
qb_recent_2012.tail()

                       comp_ma  att_ma  pct_ma  yds_ma  yds/att_ma  td_ma  \
Player       Week Opp
Tyrod Taylor 4    CLE        0       0       0       0           0      0
             5    KC         0       0       0       0           0      0
             9    CLE        0       0       0       0           0      0
             10   OAK        0       0       0       0           0      0
             17   CIN        0       0       0       0           0      0

                       int_ma  qb rating_ma  rush_att_ma  rush_yds_ma  \
Player       Week Opp
Tyrod Taylor 4    CLE       0             0            0            0
             5    KC        0             0            0            0
             9    CLE       0             0            0            0
             10   OAK       0             0            0            0
             17   CIN       0             0            0            0

                       rush_yd/att_ma  rush_td_ma  fantasy points_ma
Player       Week Opp
Tyrod Taylor 4    CLE               0           0                  0
             5    KC                0           0                  0
             9    CLE               0           0                  0
             10   OAK               0           0                  0
             17   CIN               0           0                  0

In [95]:
for col in team_stats:  # Iterate through every attribute in the team_stats dataframe
    ma3 = []  # Create an empty list to hold the 3 game moving average of the current attribute
    for player in team_stats.index.levels[0]:  # Iterate through every player in the team_stats df
        total = [] # create an empty list to hold the weekly attributes value
        for week in team_stats.loc[player].index.levels[0]:
            if week > 1:
                print(team_stats.loc[player].loc[week-1][col])

Opp
SF    30
Name: Comp, dtype: int64
Opp
CHI    22
Name: Comp, dtype: int64
Opp
SEA    26
Name: Comp, dtype: int64
Opp
NO    31
Name: Comp, dtype: int64
Opp
IND    20
Name: Comp, dtype: int64
Opp
HOU    24
Name: Comp, dtype: int64
Opp
LAR    30
Name: Comp, dtype: int64
Opp
JAX    22
Name: Comp, dtype: int64
Opp
ARI    14
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
DET    19
Name: Comp, dtype: int64
Opp
NYG    14
Name: Comp, dtype: int64
Opp
MIN    27
Name: Comp, dtype: int64
Opp
DET    14
Name: Comp, dtype: int64
Opp
CHI    23
Name: Comp, dtype: int64
Opp
TEN    27
Name: Comp, dtype: int64
Opp
GB    20
Name: Comp, dtype: int64
Opp
DET    20
Name: Comp, dtype: int64
Opp
MIN    24
Name: Comp, dtype: int64
Opp
NYJ    12
Name: Comp, dtype: int64
Opp
BUF    18
Name: Comp, dtype: int64
Opp
NYG    19
Name: Comp, dtype: int64
Opp
SEA    14
Name: Comp, dtype: int64
Opp
ARI    18
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
LAR    7
Name: Comp, dtype: int64
Opp
CHI    0
Name: Comp, dtype: int64
Opp
NO    0
Name: Comp, dtype: int64
Opp
LAR    0
Name: Comp, dtype: int64
Opp
MIA    0
Name: Comp, dtype: int64
Opp
NE    0
Name: Comp, dtype: int64
Opp
SEA    0
Name: Comp, dtype: int64
Opp
CHI    23
Name: Comp, dtype: int64
Opp
MIN    20
Name: Comp, dtype: int64
Opp
JAX    22
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
GB    31
Name: Comp, dtype: int64
Opp
NYJ    22
Name: Comp, dtype: int64
Opp
CLE    16
Name: Comp, dtype: int64
Opp
TEN    26
Name: Comp, dtype: int64
Opp
MIA    30
Name: Comp, dtype: int64
Opp
JAX    18
Name: Comp, dtype: int64
Opp
NE    27
Name: Comp, dtype: int64
Opp
BUF    20
Name: Comp, dtype: int64
Opp
DET    24
Name: Comp, dtype: int64
Opp
TEN    16
Name: Comp, dtype: int64
Opp
HOU    13
Name: Comp, dtype: int64
Opp
KC    17
Name: Comp, dtype: int64
Opp
BAL    22
Name: Comp, dtype: int64
Opp
CLE    24
Name: Comp, dtype: int64
Opp
WAS    19
Name: Comp, dtype: int64
Opp
JAX    20
Name: Comp, dtype: int64
Opp
MIA    26
Name: Comp, dtype: int64
Opp
CLE    31
Name: Comp, dtype: int64
Opp
PIT    14
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
DEN    26
Name: Comp, dtype: int64
Opp
NYG    21
Name: Comp, dtype: int64
Opp
KC    18
Name: Comp, dtype: int64
Opp
OAK    16
Name: Comp, dtype: int64
Opp
LAC    25
Name: Comp, dtype: int64
Opp
DAL    20
Name: Comp, dtype: int64
Opp
PHI    13
Name: Comp, dtype: int64
Opp
PIT    24
Name: Comp, dtype: int64
Opp
DEN    22
Name: Comp, dtype: int64
Opp
NYJ    24
Name: Comp, dtype: int64
Opp
OAK    36
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
PHI    22
Name: Comp, dtype: int64
Opp
TEN    24
Name: Comp, dtype: int64
Opp
CIN    27
Name: Comp, dtype: int64
Opp
WAS    24
Name: Comp, dtype: int64
Opp
NYG    21
Name: Comp, dtype: int64
Opp
KC    9
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
LAC    22
Name: Comp, dtype: int64
Opp
DAL    24
Name: Comp, dtype: int64
Opp
CIN    14
Name: Comp, dtype: int64
Opp
MIN    23
Name: Comp, dtype: int64
Opp
HOU    7
Name: Comp, dtype: int64
Opp
IND    10
Name: Comp, dtype: int64
Opp
CIN    23
Name: Comp, dtype: int64
Opp
CHI    17
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
OAK    8
Name: Comp, dtype: int64
Opp
GB    27
Name: Comp, dtype: int64
Opp
DET    27
Name: Comp, dtype: int64
Opp
IND    18
Name: Comp, dtype: int64
Opp
HOU    2
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
BAL    2
Name: Comp, dtype: int64
Opp
TB    22
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
OAK    2
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
CIN    9
Name: Comp, dtype: int64
Opp
DEN    13
Name: Comp, dtype: int64
Opp
CAR    19
Name: Comp, dtype: int64
Opp
CLE    10
Name: Comp, dtype: int64
Opp
OAK    18
Name: Comp, dtype: int64
Opp
IND    10
Name: Comp, dtype: int64
Opp
PHI    12
Name: Comp, dtype: int64
Opp
CIN    26
Name: Comp, dtype: int64
Opp
BUF    27
Name: Comp, dtype: int64
Opp
BAL    25
Name: Comp, dtype: int64
Opp
NYG    22
Name: Comp, dtype: int64
Opp
CIN    17
Name: Comp, dtype: int64
Opp
IND    25
Name: Comp, dtype: int64
Opp
LAC    11
Name: Comp, dtype: int64
Opp
BAL    20
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
DAL    20
Name: Comp, dtype: int64
Opp
PIT    17
Name: Comp, dtype: int64
Opp
OAK    25
Name: Comp, dtype: int64
Opp
KC    17
Name: Comp, dtype: int64
Opp
WAS    21
Name: Comp, dtype: int64
Opp
DEN    12
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
CHI    11
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
OAK    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
NO    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
BAL    0
Name: Comp, dtype: int64
Opp
CLE    0
Name: Comp, dtype: int64
Opp
BAL    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
KC    7
Name: Comp, dtype: int64
Opp
BAL    18
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
TB    23
Name: Comp, dtype: int64
Opp
NO    14
Name: Comp, dtype: int64
Opp
NYG    16
Name: Comp, dtype: int64
Opp
ATL    15
Name: Comp, dtype: int64
Opp
SEA    12
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
DAL    21
Name: Comp, dtype: int64
Opp
CHI    20
Name: Comp, dtype: int64
Opp
WAS    13
Name: Comp, dtype: int64
Opp
DEN    21
Name: Comp, dtype: int64
Opp
TB    16
Name: Comp, dtype: int64
Opp
PHI    18
Name: Comp, dtype: int64
Opp
KC    15
Name: Comp, dtype: int64
Opp
ATL    23
Name: Comp, dtype: int64
Opp
LAC    19
Name: Comp, dtype: int64
Opp
OAK    18
Name: Comp, dtype: int64
Opp
LAC    32
Name: Comp, dtype: int64
Opp
MIA    24
Name: Comp, dtype: int64
Opp
PIT    24
Name: Comp, dtype: int64
Opp
DEN    19
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
ATL    23
Name: Comp, dtype: int64
Opp
JAX    26
Name: Comp, dtype: int64
Opp
KC    14
Name: Comp, dtype: int64
Opp
TB    39
Name: Comp, dtype: int64
Opp
BAL    29
Name: Comp, dtype: int64
Opp
NO    22
Name: Comp, dtype: int64
Opp
CIN    19
Name: Comp, dtype: int64
Opp
CLE    34
Name: Comp, dtype: int64
Opp
DEN    19
Name: Comp, dtype: int64
Opp
KC    18
Name: Comp, dtype: int64
Opp
CAR    3
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
HOU    2
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
OAK    9
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
IND    10
Name: Comp, dtype: int64
Opp
HOU    16
Name: Comp, dtype: int64
Opp
TEN    17
Name: Comp, dtype: int64
Opp
BUF    19
Name: Comp, dtype: int64
Opp
NYJ    21
Name: Comp, dtype: int64
Opp
MIA    18
Name: Comp, dtype: int64
Opp
NE    29
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
CLE    20
Name: Comp, dtype: int64
Opp
BAL    25
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
WAS    0
Name: Comp, dtype: int64
Opp
CAR    0
Name: Comp, dtype: int64
Opp
KC    0
Name: Comp, dtype: int64
Opp
GB    0
Name: Comp, dtype: int64
Opp
LAC    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
TB    0
Name: Comp, dtype: int64
Opp
DEN    0
Name: Comp, dtype: int64
Opp
PHI    0
Name: Comp, dtype: int64
Opp
ATL    0
Name: Comp, dtype: int64
Opp
OAK    1
Name: Comp, dtype: int64
Opp
SF    0
Name: Comp, dtype: int64
Opp
ATL    0
Name: Comp, dtype: int64
Opp
NYG    0
Name: Comp, dtype: int64
Opp
TB    0
Name: Comp, dtype: int64
Opp
DAL    0
Name: Comp, dtype: int64
Opp
JAX    20
Name: Comp, dtype: int64
Opp
IND    27
Name: Comp, dtype: int64
Opp
SF    21
Name: Comp, dtype: int64
Opp
DET    16
Name: Comp, dtype: int64
Opp
TEN    25
Name: Comp, dtype: int64
Opp
WAS    35
Name: Comp, dtype: int64
Opp
ARI    8
Name: Comp, dtype: int64
Opp
TB    19
Name: Comp, dtype: int64
Opp
SEA    11
Name: Comp, dtype: int64
Opp
DET    24
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
CHI    22
Name: Comp, dtype: int64
Opp
GB    12
Name: Comp, dtype: int64
Opp
CHI    11
Name: Comp, dtype: int64
Opp
LAR    17
Name: Comp, dtype: int64
Opp
HOU    16
Name: Comp, dtype: int64
Opp
GB    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
NYJ    0
Name: Comp, dtype: int64
Opp
BUF    1
Name: Comp, dtype: int64
Opp
NYG    4
Name: Comp, dtype: int64
Opp
SEA    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
LAR    11
Name: Comp, dtype: int64
Opp
CHI    16
Name: Comp, dtype: int64
Opp
NO    16
Name: Comp, dtype: int64
Opp
LAR    21
Name: Comp, dtype: int64
Opp
MIA    18
Name: Comp, dtype: int64
Opp
NE    14
Name: Comp, dtype: int64
Opp
SEA    19
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)

Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
PIT    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
KC    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
DEN    9
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
NO    4
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
CAR    1
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
NYG    3
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
WAS    24
Name: Comp, dtype: int64
Opp
CAR    31
Name: Comp, dtype: int64
Opp
KC    20
Name: Comp, dtype: int64
Opp
GB    35
Name: Comp, dtype: int64
Opp
LAC    29
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
TB    27
Name: Comp, dtype: int64
Opp
DEN    22
Name: Comp, dtype: int64
Opp
PHI    21
Name: Comp, dtype: int64
Opp
ATL    21
Name: Comp, dtype: int64
Opp
OAK    20
Name: Comp, dtype: int64
Opp
SF    26
Name: Comp, dtype: int64
Opp
ATL    28
Name: Comp, dtype: int64
Opp
NYG    26
Name: Comp, dtype: int64
Opp
TB    26
Name: Comp, dtype: int64
Opp
DAL    37
Name: Comp, dtype: int64
Opp
DAL    21
Name: Comp, dtype: int64
Opp
TB    31
Name: Comp, dtype: int64
Opp
CAR    27
Name: Comp, dtype: int64
Opp
PHI    24
Name: Comp, dtype: int64
Opp
CLE    25
Name: Comp, dtype: int64
Opp
SF    15
Name: Comp, dtype: int64
Opp
WAS    26
Name: Comp, dtype: int64
Opp
DAL    15
Name: Comp, dtype: int64
Opp
PIT    10
Name: Comp, dtype: int64
Opp
CIN    29
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
GB    16
Name: Comp, dtype: int64
Opp
WAS    20
Name: Comp, dtype: int64
Opp
NO    22
Name: Comp, dtype: int64
Opp
ATL    13
Name: Comp, dtype: int64
Opp
BAL    14
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
NO    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
HOU    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
NYG    1
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
TEN    1
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
ARI    5
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
LAC    14
Name: Comp, dtype: int64
Opp
NE    23
Name: Comp, dtype: int64
Opp
LAC    15
Name: Comp, dtype: int64
Opp
DET    29
Name: Comp, dtype: int64
Opp
HOU    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
MIA    9
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
JAX    23
Name: Comp, dtype: int64
Opp
HOU    21
Name: Comp, dtype: int64
Opp
IND    22
Name: Comp, dtype: int64
Opp
NYJ    13
Name: Comp, dtype: int64
Opp
GB    13
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
JAX    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
DET    1
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
TEN    0
Name: Comp, dtype: int64
Opp
HOU    11
Name: Comp, dtype: int64
Opp
SF    14
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
MIN    6
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
IND    21
Name: Comp, dtype: int64
Opp
GB    11
Name: Comp, dtype: int64
Opp
LAR    17
Name: Comp, dtype: int64
Opp
DAL    18
Name: Comp, dtype: int64
Opp
JAX    23
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
DET    16
Name: Comp, dtype: int64
Opp
CAR    19
Name: Comp, dtype: int64
Opp
TEN    19
Name: Comp, dtype: int64
Opp
HOU    7
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
MIN    23
Name: Comp, dtype: int64
Opp
SEA    17
Name: Comp, dtype: int64
Opp
MIN    22
Name: Comp, dtype: int64
Opp
GB    12
Name: Comp, dtype: int64
Opp
ARI    12
Name: Comp, dtype: int64
Opp
CIN    21
Name: Comp, dtype: int64
Opp
PHI    22
Name: Comp, dtype: int64
Opp
NE    28
Name: Comp, dtype: int64
Opp
CLE    28
Name: Comp, dtype: int64
Opp
KC    13
Name: Comp, dtype: int64
Opp
DAL    17
Name: Comp, dtype: int64
Opp
HOU    21
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
CLE    15
Name: Comp, dtype: int64
Opp
OAK    21
Name: Comp, dtype: int64
Opp
PIT    20
Name: Comp, dtype: int64
Opp
LAC    30
Name: Comp, dtype: int64
Opp
PIT    16
Name: Comp, dtype: int64
Opp
WAS    16
Name: Comp, dtype: int64
Opp
DEN    20
Name: Comp, dtype: int64
Opp
NYG    25
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
TEN    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
SEA    14
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
BUF    2
Name: Comp, dtype: int64
Opp
MIN    25
Name: Comp, dtype: int64
Opp
SF    32
Name: Comp, dtype: int64
Opp
GB    23
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
ATL    2
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
SEA    11
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
CAR    16
Name: Comp, dtype: int64
Opp
NYG    15
Name: Comp, dtype: int64
Opp
DAL    10
Name: Comp, dtype: int64
Opp
WAS    24
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
KC    15
Name: Comp, dtype: int64
Opp
NO    24
Name: Comp, dtype: int64
Opp
MIN    19
Name: Comp, dtype: int64
Opp
OAK    18
Name: Comp, dtype: int64
Opp
LAC    14
Name: Comp, dtype: int64
Opp
CAR    25
Name: Comp, dtype: int64
Opp
ATL    19
Name: Comp, dtype: int64
Opp
DEN    18
Name: Comp, dtype: int64
Opp
PHI    14
Name: Comp, dtype: int64
Opp
NO    26
Name: Comp, dtype: int64
Opp
LAR    30
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
NE    1
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
ARI    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
SEA    6
Name: Comp, dtype: int64
Opp
NE    15
Name: Comp, dtype: int64
Opp
PHI    17
Name: Comp, dtype: int64
Opp
MIA    29
Name: Comp, dtype: int64
Opp
LAR    28
Name: Comp, dtype: int64
Opp
BUF    14
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
ATL    5
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)

Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
BAL    2
Name: Comp, dtype: int64
Opp
CLE    26
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
CHI    9
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
LAC    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
NYG    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
BUF    19
Name: Comp, dtype: int64
Opp
PIT    10
Name: Comp, dtype: int64
Opp
MIA    21
Name: Comp, dtype: int64
Opp
SF    13
Name: Comp, dtype: int64
Opp
HOU    14
Name: Comp, dtype: int64
Opp
IND    11
Name: Comp, dtype: int64
Opp
NE    28
Name: Comp, dtype: int64
Opp
MIA    28
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
SEA    9
Name: Comp, dtype: int64
Opp
LAR    15
Name: Comp, dtype: int64
Opp
NE    26
Name: Comp, dtype: int64
Opp
ARI    10
Name: Comp, dtype: int64
Opp
JAX    12
Name: Comp, dtype: int64
Opp
TEN    13
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
ATL    21
Name: Comp, dtype: int64
Opp
BUF    23
Name: Comp, dtype: int64
Opp
NO    26
Name: Comp, dtype: int64
Opp
LAC    24
Name: Comp, dtype: int64
Opp
BAL    9
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
OAK    20
Name: Comp, dtype: int64
Opp
LAC    19
Name: Comp, dtype: int64
Opp
PIT    11
Name: Comp, dtype: int64
Opp
CIN    8
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
ARI    5
Name: Comp, dtype: int64
Opp
BUF    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
NE    6
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
HOU    17
Name: Comp, dtype: int64
Opp
MIN    26
Name: Comp, dtype: int64
Opp
PIT    25
Name: Comp, dtype: int64
Opp
BUF    22
Name: Comp, dtype: int64
Opp
IND    22
Name: Comp, dtype: int64
Opp
CHI    20
Name: Comp, dtype: int64
Opp
MIA    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
BAL    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
CAR    16
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
NYJ    11
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
TEN    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
SF    0
Name: Comp, dtype: int64
Opp
JAX    0
Name: Comp, dtype: int64
Opp
BUF    0
Name: Comp, dtype: int64
Opp
KC    23
Name: Comp, dtype: int64
Opp
DEN    24
Name: Comp, dtype: int64
Opp
LAC    30
Name: Comp, dtype: int64
Opp
CAR    25
Name: Comp, dtype: int64
Opp
WAS    34
Name: Comp, dtype: int64
Opp
OAK    24
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
PHI    22
Name: Comp, dtype: int64
Opp
DAL    24
Name: Comp, dtype: int64
Opp
NO    34
Name: Comp, dtype: int64
Opp
ARI    28
Name: Comp, dtype: int64
Opp
TB    26
Name: Comp, dtype: int64
Opp
NO    18
Name: Comp, dtype: int64
Opp
CAR    34
Name: Comp, dtype: int64
Opp
NYG    23
Name: Comp, dtype: int64
Opp
DET    25
Name: Comp, dtype: int64
Opp
MIA    20
Name: Comp, dtype: int64
Opp
JAX    26
Name: Comp, dtype: int64
Opp
DEN    17
Name: Comp, dtype: int64
Opp
TEN    20
Name: Comp, dtype: int64
Opp
NYJ    14
Name: Comp, dtype: int64
Opp
GB    20
Name: Comp, dtype: int64
Opp
BAL    23
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
BUF    19
Name: Comp, dtype: int64
Opp
CHI    14
Name: Comp, dtype: int64
Opp
JAX    43
Name: Comp, dtype: int64
Opp
DET    29
Name: Comp, dtype: int64
Opp
TEN    21
Name: Comp, dtype: int64
Opp
NE    19
Name: Comp, dtype: int64
Opp
IND    23
Name: Comp, dtype: int64
Opp
MIN    18
Name: Comp, dtype: int64
Opp
LAR    32
Name: Comp, dtype: int64
Opp
SF    19
Name: Comp, dtype: int64
Opp
TEN    33
Name: Comp, dtype: int64
Opp
MIN    30
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
PHI    22
Name: Comp, dtype: int64
Opp
CHI    28
Name: Comp, dtype: int64
Opp
SEA    34
Name: Comp, dtype: int64
Opp
JAX    22
Name: Comp, dtype: int64
Opp
MIN    28
Name: Comp, dtype: int64
Opp
GB    17
Name: Comp, dtype: int64
Opp
HOU    31
Name: Comp, dtype: int64
Opp
IND    27
Name: Comp, dtype: int64
Opp
GB    27
Name: Comp, dtype: int64
Opp
ARI    24
Name: Comp, dtype: int64
Opp
ATL    37
Name: Comp, dtype: int64
Opp
CLE    29
Name: Comp, dtype: int64
Opp
BAL    23
Name: Comp, dtype: int64
Opp
ARI    17
Name: Comp, dtype: int64
Opp
NYG    19
Name: Comp, dtype: int64
Opp
PIT    20
Name: Comp, dtype: int64
Opp
DET    28
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
ATL    21
Name: Comp, dtype: int64
Opp
NO    22
Name: Comp, dtype: int64
Opp
DAL    6
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
DAL    22
Name: Comp, dtype: int64
Opp
WAS    21
Name: Comp, dtype: int64
Opp
CAR    16
Name: Comp, dtype: int64
Opp
DAL    22
Name: Comp, dtype: int64
Opp
TB    32
Name: Comp, dtype: int64
Opp
CIN    16
Name: Comp, dtype: int64
Opp
WAS    32
Name: Comp, dtype: int64
Opp
PIT    19
Name: Comp, dtype: int64
Opp
ATL    24
Name: Comp, dtype: int64
Opp
HOU    26
Name: Comp, dtype: int64
Opp
OAK    30
Name: Comp, dtype: int64
Opp
NE    31
Name: Comp, dtype: int64
Opp
LAC    24
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
NO    22
Name: Comp, dtype: int64
Opp
CIN    27
Name: Comp, dtype: int64
Opp
CAR    27
Name: Comp, dtype: int64
Opp
LAC    25
Name: Comp, dtype: int64
Opp
KC    22
Name: Comp, dtype: int64
Opp
TB    27
Name: Comp, dtype: int64
Opp
OAK    26
Name: Comp, dtype: int64
Opp
BAL    17
Name: Comp, dtype: int64
Opp
CLE    30
Name: Comp, dtype: int64
Opp
OAK    24
Name: Comp, dtype: int64
Opp
TEN    24
Name: Comp, dtype: int64
Opp
ATL    21
Name: Comp, dtype: int64
Opp
KC    18
Name: Comp, dtype: int64
Opp
NO    27
Name: Comp, dtype: int64
Opp
DEN    25
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
CLE    18
Name: Comp, dtype: int64
Opp
KC    18
Name: Comp, dtype: int64
Opp
TB    29
Name: Comp, dtype: int64
Opp
DEN    24
Name: Comp, dtype: int64
Opp
BAL    23
Name: Comp, dtype: int64
Opp
CIN    26
Name: Comp, dtype: int64
Opp
PIT    21
Name: Comp, dtype: int64
Opp
CAR    16
Name: Comp, dtype: int64
Opp
NYJ    11
Name: Comp, dtype: int64
Opp
NO    19
Name: Comp, dtype: int64
Opp
LAR    20
Name: Comp, dtype: int64
Opp
CIN    21
Name: Comp, dtype: int64
Opp
TB    26
Name: Comp, dtype: int64
Opp
ATL    10
Name: Comp, dtype: int64
Opp
MIN    17
Name: Comp, dtype: int64
Opp
NYG    20
Name: Comp, dtype: int64
Opp
PIT    16
Name: Comp, dtype: int64
Opp
CAR    23
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
PHI    14
Name: Comp, dtype: int64
Opp
DAL    19
Name: Comp, dtype: int64
Opp
NYG    13
Name: Comp, dtype: int64
Opp
BAL    15
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
PHI    16
Name: Comp, dtype: int64
Opp
ARI    18
Name: Comp, dtype: int64
Opp
DAL    15
Name: Comp, dtype: int64
Opp
GB    10
Name: Comp, dtype: int64
Opp
LAR    17
Name: Comp, dtype: int64
Opp
CAR    19
Name: Comp, dtype: int64
Opp
NE    16
Name: Comp, dtype: int64
Opp
SF    9
Name: Comp, dtype: int64
Opp
DET    25
Name: Comp, dtype: int64
Opp
MIN    16
Name: Comp, dtype: int64
Opp
NYJ    12
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
MIA    21
Name: Comp, dtype: int64
Opp
CHI    23
Name: Comp, dtype: int64
Opp
ARI    7
Name: Comp, dtype: int64
Opp
BUF    14
Name: Comp, dtype: int64
Opp
SF    15
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
MIN    3
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
NYJ    18
Name: Comp, dtype: int64
Opp
KC    10
Name: Comp, dtype: int64
Opp
CLE    22
Name: Comp, dtype: int64
Opp
NE    22
Name: Comp, dtype: int64
Opp
SF    16
Name: Comp, dtype: int64
Opp
ARI    18
Name: Comp, dtype: int64
Opp
TEN    27
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
HOU    25
Name: Comp, dtype: int64
Opp
NE    27
Name: Comp, dtype: int64
Opp
MIA    17
Name: Comp, dtype: int64
Opp
IND    17
Name: Comp, dtype: int64
Opp
JAX    9
Name: Comp, dtype: int64
Opp
LAR    25
Name: Comp, dtype: int64
Opp
SEA    21
Name: Comp, dtype: int64
Opp
MIA    20
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
ATL    9
Name: Comp, dtype: int64
Opp
LAR    31
Name: Comp, dtype: int64
Opp
NYJ    10
Name: Comp, dtype: int64
Opp
SEA    8
Name: Comp, dtype: int64
Opp
DET    14
Name: Comp, dtype: int64
Opp
CHI    17
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
LAR    1
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
IND    0
Name: Comp, dtype: int64
Opp
NYJ    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
HOU    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
HOU    20
Name: Comp, dtype: int64
Opp
OAK    18
Name: Comp, dtype: int64
Opp
NYJ    16
Name: Comp, dtype: int64
Opp
ARI    26
Name: Comp, dtype: int64
Opp
CIN    17
Name: Comp, dtype: int64
Opp
LAR    21
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
NYJ    2
Name: Comp, dtype: int64
Opp
IND    22
Name: Comp, dtype: int64
Opp
TEN    23
Name: Comp, dtype: int64
Opp
BUF    14
Name: Comp, dtype: int64
Opp
SEA    18
Name: Comp, dtype: int64
Opp
NE    13
Name: Comp, dtype: int64
Opp
SF    17
Name: Comp, dtype: int64
Opp
JAX    22
Name: Comp, dtype: int64
Opp
BUF    13
Name: Comp, dtype: int64
Opp
DET    17
Name: Comp, dtype: int64
Opp
WAS    26
Name: Comp, dtype: int64
Opp
CHI    18
Name: Comp, dtype: int64
Opp
SEA    16
Name: Comp, dtype: int64
Opp
ARI    7
Name: Comp, dtype: int64
Opp
MIA    26
Name: Comp, dtype: int64
Opp
GB    21
Name: Comp, dtype: int64
Opp
NE    22
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
SF    26
Name: Comp, dtype: int64
Opp
NYJ    23
Name: Comp, dtype: int64
Opp
ARI    8
Name: Comp, dtype: int64
Opp
SF    26
Name: Comp, dtype: int64
Opp
BUF    19
Name: Comp, dtype: int64
Opp
MIN    35
Name: Comp, dtype: int64
Opp
TB    13
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
TEN    10
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
DEN    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
GB    2
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
NE    2
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
BUF    0
Name: Comp, dtype: int64
Opp
PIT    0
Name: Comp, dtype: int64
Opp
MIA    0
Name: Comp, dtype: int64
Opp
SF    1
Name: Comp, dtype: int64
Opp
HOU    0
Name: Comp, dtype: int64
Opp
IND    1
Name: Comp, dtype: int64
Opp
NE    0
Name: Comp, dtype: int64
Opp
MIA    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
SEA    3
Name: Comp, dtype: int64
Opp
LAR    1
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
TEN    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
TEN    23
Name: Comp, dtype: int64
Opp
ARI    28
Name: Comp, dtype: int64
Opp
BAL    28
Name: Comp, dtype: int64
Opp
BUF    22
Name: Comp, dtype: int64
Opp
DEN    23
Name: Comp, dtype: int64
Opp
SEA    36
Name: Comp, dtype: int64
Opp
NYJ    26
Name: Comp, dtype: int64
Opp
LAR    23
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
BUF    23
Name: Comp, dtype: int64
Opp
IND    24
Name: Comp, dtype: int64
Opp
NYJ    18
Name: Comp, dtype: int64
Opp
MIA    24
Name: Comp, dtype: int64
Opp
HOU    21
Name: Comp, dtype: int64
Opp
SF    36
Name: Comp, dtype: int64
Opp
JAX    24
Name: Comp, dtype: int64
Opp
NYG    22
Name: Comp, dtype: int64
Opp
SEA    23
Name: Comp, dtype: int64
Opp
TB    25
Name: Comp, dtype: int64
Opp
CHI    31
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Opp
BAL    25
Name: Comp, dtype: int64
Opp
CAR    24
Name: Comp, dtype: int64
Opp
NYG    36
Name: Comp, dtype: int64
Opp
ATL    25
Name: Comp, dtype: int64
Opp
PHI    19
Name: Comp, dtype: int64
Opp
CLE    35
Name: Comp, dtype: int64
Opp
WAS    37
Name: Comp, dtype: int64
Opp
PHI    22
Name: Comp, dtype: int64
Opp
CIN    25
Name: Comp, dtype: int64
Opp
PIT    30
Name: Comp, dtype: int64
Opp
NO    26
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
CIN    2
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
CLE    0
Name: Comp, dtype: int64
Opp
KC    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
CLE    0
Name: Comp, dtype: int64
Opp
OAK    0
Name: Comp, dtype: int64
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Series([], Name: Comp, dtype: int64)
Opp
SF    44
Name: Att, dtype: int64
Opp
CHI    32
Name: Att, dtype: int64
Opp
SEA    39
Name: Att, dtype: int64
Opp
NO    41
Name: Att, dtype: int64
Opp
IND    32
Name: Att, dtype: int64
Opp
HOU    37
Name: Att, dtype: int64
Opp
LAR    37
Name: Att, dtype: int64
Opp
JAX    35
Name: Att, dtype: int64
Opp
ARI    30
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
DET    27
Name: Att, dtype: int64
Opp
NYG    25
Name: Att, dtype: int64
Opp
MIN    35
Name: Att, dtype: int64
Opp
DET    24
Name: Att, dtype: int64
Opp
CHI    36
Name: Att, dtype: int64
Opp
TEN    38
Name: Att, dtype: int64
Opp
GB    26
Name: Att, dtype: int64
Opp
DET    31
Name: Att, dtype: int64
Opp
MIN    35
Name: Att, dtype: int64
Opp
NYJ    21
Name: Att, dtype: int64
Opp
BUF    24
Name: Att, dtype: int64
Opp
NYG    30
Name: Att, dtype: int64
Opp

Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
KC    14
Name: Att, dtype: int64
Opp
BAL    39
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
TB    33
Name: Att, dtype: int64
Opp
NO    20
Name: Att, dtype: int64
Opp
NYG    30
Name: Att, dtype: int64
Opp
ATL    24
Name: Att, dtype: int64
Opp
SEA    29
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
DAL    37
Name: Att, dtype: int64
Opp
CHI    39
Name: Att, dtype: int64
Opp
WAS    23
Name: Att, dtype: int64
Opp
DEN    36
Name: Att, dtype: int64
Opp
TB    29
Name: Att, dtype: int64
Opp
PHI    28
Name: Att, dtype: int64
Opp
KC    27
Name: Att, dtype: int64
Opp
ATL    35
Name: Att, dtype: int64
Opp
LAC    33
Name: Att, dtype: int64
Opp
OAK    29
Name: Att, dtype: int64
Opp
LAC    46
Name: Att, dtype: int64
Opp
MIA    48
Name: Att, dtype: int64
Opp
PIT    34
Name: Att, dtype: int64
Opp
DEN    34
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
ATL    33
Name: Att, dtype: int64
Opp
JAX    46
Name: Att, dtype: int64
Opp
KC    28
Name: Att, dtype: int64
Opp
TB    61
Name: Att, dtype: int64
Opp
BAL    45
Name: Att, dtype: int64
Opp
NO    40
Name: Att, dtype: int64
Opp
CIN    34
Name: Att, dtype: int64
Opp
CLE    54
Name: Att, dtype: int64
Opp
DEN    30
Name: Att, dtype: int64
Opp
KC    29
Name: Att, dtype: int64
Opp
CAR    3
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
HOU    2
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
OAK    20
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
IND    16
Name: Att, dtype: int64
Opp
HOU    33
Name: Att, dtype: int64
Opp
TEN    26
Name: Att, dtype: int64
Opp
BUF    42
Name: Att, dtype: int64
Opp
NYJ    43
Name: Att, dtype: int64
Opp
MIA    34
Name: Att, dtype: int64
Opp
NE    51
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
CLE    34
Name: Att, dtype: int64
Opp
BAL    36
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
WAS    0
Name: Att, dtype: int64
Opp
CAR    0
Name: Att, dtype: int64
Opp
KC    0
Name: Att, dtype: int64
Opp
GB    0
Name: Att, dtype: int64
Opp
LAC    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
TB    0
Name: Att, dtype: int64
Opp
DEN    0
Name: Att, dtype: int64
Opp
PHI    0
Name: Att, dtype: int64
Opp
ATL    0
Name: Att, dtype: int64
Opp
OAK    1
Name: Att, dtype: int64
Opp
SF    0
Name: Att, dtype: int64
Opp
ATL    0
Name: Att, dtype: int64
Opp
NYG    0
Name: Att, dtype: int64
Opp
TB    0
Name: Att, dtype: int64
Opp
DAL    0
Name: Att, dtype: int64
Opp
JAX    27
Name: Att, dtype: int64
Opp
IND    35
Name: Att, dtype: int64
Opp
SF    35
Name: Att, dtype: int64
Opp
DET    26
Name: Att, dtype: int64
Opp
TEN    35
Name: Att, dtype: int64
Opp
WAS    52
Name: Att, dtype: int64
Opp
ARI    17
Name: Att, dtype: int64
Opp
TB    35
Name: Att, dtype: int64
Opp
SEA    22
Name: Att, dtype: int64
Opp
DET    32
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
CHI    43
Name: Att, dtype: int64
Opp
GB    25
Name: Att, dtype: int64
Opp
CHI    17
Name: Att, dtype: int64
Opp
LAR    24
Name: Att, dtype: int64
Opp
HOU    30
Name: Att, dtype: int64
Opp
GB    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
NYJ    1
Name: Att, dtype: int64
Opp
BUF    1
Name: Att, dtype: int64
Opp
NYG    7
Name: Att, dtype: int64
Opp
SEA    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
LAR    17
Name: Att, dtype: int64
Opp
CHI    23
Name: Att, dtype: int64
Opp
NO    25
Name: Att, dtype: int64
Opp
LAR    32
Name: Att, dtype: int64
Opp
MIA    23
Name: Att, dtype: int64
Opp
NE    25
Name: Att, dtype: int64
Opp
SEA    36
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
PIT    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
KC    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
DEN    17
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
NO    7
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
CAR    2
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
NYG    3
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
WAS    52
Name: Att, dtype: int64
Opp
CAR    49
Name: Att, dtype: int64
Opp
KC    36
Name: Att, dtype: int64
Opp
GB    54
Name: Att, dtype: int64
Opp
LAC    45
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
TB    37
Name: Att, dtype: int64
Opp
DEN    42
Name: Att, dtype: int64
Opp
PHI    27
Name: Att, dtype: int64
Opp
ATL    32
Name: Att, dtype: int64
Opp
OAK    27
Name: Att, dtype: int64
Opp
SF    41
Name: Att, dtype: int64
Opp
ATL    50
Name: Att, dtype: int64
Opp
NYG    43
Name: Att, dtype: int64
Opp
TB    39
Name: Att, dtype: int64
Opp
DAL    53
Name: Att, dtype: int64
Opp
DAL    32
Name: Att, dtype: int64
Opp
TB    51
Name: Att, dtype: int64
Opp
CAR    35
Name: Att, dtype: int64
Opp
PHI    42
Name: Att, dtype: int64
Opp
CLE    37
Name: Att, dtype: int64
Opp
SF    28
Name: Att, dtype: int64
Opp
WAS    40
Name: Att, dtype: int64
Opp
DAL    29
Name: Att, dtype: int64
Opp
PIT    24
Name: Att, dtype: int64
Opp
CIN    46
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
GB    30
Name: Att, dtype: int64
Opp
WAS    33
Name: Att, dtype: int64
Opp
NO    35
Name: Att, dtype: int64
Opp
ATL    25
Name: Att, dtype: int64
Opp
BAL    28
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
NO    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
HOU    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
NYG    2
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
TEN    2
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
ARI    7
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
LAC    24
Name: Att, dtype: int64
Opp
NE    32
Name: Att, dtype: int64
Opp
LAC    30
Name: Att, dtype: int64
Opp
DET    42
Name: Att, dtype: int64
Opp
HOU    2
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
MIA    21
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
JAX    40
Name: Att, dtype: int64
Opp
HOU    45
Name: Att, dtype: int64
Opp
IND    35
Name: Att, dtype: int64
Opp
NYJ    22
Name: Att, dtype: int64
Opp
GB    30
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
JAX    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
DET    1
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
TEN    0
Name: Att, dtype: int64
Opp
HOU    19
Name: Att, dtype: int64
Opp
SF    22
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
MIN    9
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
IND    35
Name: Att, dtype: int64
Opp
GB    27
Name: Att, dtype: int64
Opp
LAR    31
Name: Att, dtype: int64
Opp
DAL    24
Name: Att, dtype: int64
Opp
JAX    39
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
DET    31
Name: Att, dtype: int64
Opp
CAR    28
Name: Att, dtype: int64
Opp
TEN    26
Name: Att, dtype: int64
Opp
HOU    14
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
MIN    31
Name: Att, dtype: int64
Opp
SEA    26
Name: Att, dtype: int64
Opp
MIN    44
Name: Att, dtype: int64
Opp
GB    21
Name: Att, dtype: int64
Opp
ARI    26
Name: Att, dtype: int64
Opp
CIN    29
Name: Att, dtype: int64
Opp
PHI    42
Name: Att, dtype: int64
Opp
NE    39
Name: Att, dtype: int64
Opp
CLE    46
Name: Att, dtype: int64
Opp
KC    27
Name: Att, dtype: int64
Opp
DAL    26
Name: Att, dtype: int64
Opp
HOU    43
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
CLE    24
Name: Att, dtype: int64
Opp
OAK    33
Name: Att, dtype: int64
Opp
PIT    32
Name: Att, dtype: int64
Opp
LAC    51
Name: Att, dtype: int64
Opp
PIT    34
Name: Att, dtype: int64
Opp
WAS    21
Name: Att, dtype: int64
Opp
DEN    40
Name: Att, dtype: int64
Opp
NYG    36
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
TEN    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
SEA    28
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
BUF    10
Name: Att, dtype: int64
Opp
MIN    36
Name: Att, dtype: int64
Opp
SF    52
Name: Att, dtype: int64
Opp
GB    46
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
ATL    7
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
SEA    22
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
CAR    24
Name: Att, dtype: int64
Opp
NYG    28
Name: Att, dtype: int64
Opp
DAL    28
Name: Att, dtype: int64
Opp
WAS    39
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
KC    26
Name: Att, dtype: int64
Opp
NO    42
Name: Att, dtype: int64
Opp
MIN    36
Name: Att, dtype: int64
Opp
OAK    30
Name: Att, dtype: int64
Opp
LAC    20
Name: Att, dtype: int64
Opp
CAR    46
Name: Att, dtype: int64
Opp
ATL    30
Name: Att, dtype: int64
Opp
DEN    39
Name: Att, dtype: int64
Opp
PHI    34
Name: Att, dtype: int64
Opp
NO    47
Name: Att, dtype: int64
Opp
LAR    54
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
NE    2
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
ARI    1
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
SEA    8
Name: Att, dtype: int64
Opp
NE    27
Name: Att, dtype: int64
Opp
PHI    24
Name: Att, dtype: int64
Opp
MIA    48
Name: Att, dtype: int64
Opp
LAR    50
Name: Att, dtype: int64
Opp
BUF    26
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
ATL    9
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
BAL    2
Name: Att, dtype: int64
Opp
CLE    37
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
CHI    10
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
LAC    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
NYG    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
BUF    27
Name: Att, dtype: int64
Opp
PIT    27
Name: Att, dtype: int64
Opp
MIA    45
Name: Att, dtype: int64
Opp
SF    29
Name: Att, dtype: int64
Opp
HOU    31
Name: Att, dtype: int64
Opp
IND    18
Name: Att, dtype: int64
Opp
NE    41
Name: Att, dtype: int64
Opp
MIA    54
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
SEA    22
Name: Att, dtype: int64
Opp
LAR    20
Name: Att, dtype: int64
Opp
NE    36
Name: Att, dtype: int64
Opp
ARI    21
Name: Att, dtype: int64
Opp
JAX    19
Name: Att, dtype: int64
Opp
TEN    28
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
ATL    33
Name: Att, dtype: int64
Opp
BUF    42
Name: Att, dtype: int64
Opp
NO    44
Name: Att, dtype: int64
Opp
LAC    42
Name: Att, dtype: int64
Opp
BAL    15
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
OAK    30
Name: Att, dtype: int64
Opp
LAC    29
Name: Att, dtype: int64
Opp
PIT    26
Name: Att, dtype: int64
Opp
CIN    16
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
ARI    9
Name: Att, dtype: int64
Opp
BUF    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
NE    11
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
HOU    25
Name: Att, dtype: int64
Opp
MIN    43
Name: Att, dtype: int64
Opp
PIT    44
Name: Att, dtype: int64
Opp
BUF    33
Name: Att, dtype: int64
Opp
IND    29
Name: Att, dtype: int64
Opp
CHI    35
Name: Att, dtype: int64
Opp
MIA    1
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)

Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
DAL    32
Name: Att, dtype: int64
Opp
WAS    46
Name: Att, dtype: int64
Opp
CAR    21
Name: Att, dtype: int64
Opp
DAL    34
Name: Att, dtype: int64
Opp
TB    51
Name: Att, dtype: int64
Opp
CIN    33
Name: Att, dtype: int64
Opp
WAS    48
Name: Att, dtype: int64
Opp
PIT    26
Name: Att, dtype: int64
Opp
ATL    37
Name: Att, dtype: int64
Opp
HOU    52
Name: Att, dtype: int64
Opp
OAK    38
Name: Att, dtype: int64
Opp
NE    44
Name: Att, dtype: int64
Opp
LAC    30
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
NO    30
Name: Att, dtype: int64
Opp
CIN    35
Name: Att, dtype: int64
Opp
CAR    38
Name: Att, dtype: int64
Opp
LAC    42
Name: Att, dtype: int64
Opp
KC    37
Name: Att, dtype: int64
Opp
TB    38
Name: Att, dtype: int64
Opp
OAK    36
Name: Att, dtype: int64
Opp
BAL    28
Name: Att, dtype: int64
Opp
CLE    43
Name: Att, dtype: int64
Opp
OAK    33
Name: Att, dtype: int64
Opp
TEN    32
Name: Att, dtype: int64
Opp
ATL    38
Name: Att, dtype: int64
Opp
KC    23
Name: Att, dtype: int64
Opp
NO    42
Name: Att, dtype: int64
Opp
DEN    41
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
CLE    34
Name: Att, dtype: int64
Opp
KC    20
Name: Att, dtype: int64
Opp
TB    37
Name: Att, dtype: int64
Opp
DEN    40
Name: Att, dtype: int64
Opp
BAL    36
Name: Att, dtype: int64
Opp
CIN    48
Name: Att, dtype: int64
Opp
PIT    41
Name: Att, dtype: int64
Opp
CAR    23
Name: Att, dtype: int64
Opp
NYJ    22
Name: Att, dtype: int64
Opp
NO    26
Name: Att, dtype: int64
Opp
LAR    29
Name: Att, dtype: int64
Opp
CIN    34
Name: Att, dtype: int64
Opp
TB    35
Name: Att, dtype: int64
Opp
ATL    15
Name: Att, dtype: int64
Opp
MIN    22
Name: Att, dtype: int64
Opp
NYG    28
Name: Att, dtype: int64
Opp
PIT    34
Name: Att, dtype: int64
Opp
CAR    39
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
PHI    15
Name: Att, dtype: int64
Opp
DAL    27
Name: Att, dtype: int64
Opp
NYG    21
Name: Att, dtype: int64
Opp
BAL    26
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
PHI    24
Name: Att, dtype: int64
Opp
ARI    34
Name: Att, dtype: int64
Opp
DAL    20
Name: Att, dtype: int64
Opp
GB    21
Name: Att, dtype: int64
Opp
LAR    25
Name: Att, dtype: int64
Opp
CAR    25
Name: Att, dtype: int64
Opp
NE    27
Name: Att, dtype: int64
Opp
SF    23
Name: Att, dtype: int64
Opp
DET    35
Name: Att, dtype: int64
Opp
MIN    24
Name: Att, dtype: int64
Opp
NYJ    19
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
MIA    27
Name: Att, dtype: int64
Opp
CHI    37
Name: Att, dtype: int64
Opp
ARI    13
Name: Att, dtype: int64
Opp
BUF    23
Name: Att, dtype: int64
Opp
SF    21
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
MIN    5
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
NYJ    32
Name: Att, dtype: int64
Opp
KC    19
Name: Att, dtype: int64
Opp
CLE    35
Name: Att, dtype: int64
Opp
NE    39
Name: Att, dtype: int64
Opp
SF    26
Name: Att, dtype: int64
Opp
ARI    32
Name: Att, dtype: int64
Opp
TEN    35
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
HOU    38
Name: Att, dtype: int64
Opp
NE    40
Name: Att, dtype: int64
Opp
MIA    27
Name: Att, dtype: int64
Opp
IND    33
Name: Att, dtype: int64
Opp
JAX    17
Name: Att, dtype: int64
Opp
LAR    33
Name: Att, dtype: int64
Opp
SEA    38
Name: Att, dtype: int64
Opp
MIA    35
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
ATL    20
Name: Att, dtype: int64
Opp
LAR    52
Name: Att, dtype: int64
Opp
NYJ    31
Name: Att, dtype: int64
Opp
SEA    17
Name: Att, dtype: int64
Opp
DET    21
Name: Att, dtype: int64
Opp
CHI    30
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
LAR    3
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
IND    0
Name: Att, dtype: int64
Opp
NYJ    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
HOU    1
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
HOU    36
Name: Att, dtype: int64
Opp
OAK    30
Name: Att, dtype: int64
Opp
NYJ    36
Name: Att, dtype: int64
Opp
ARI    41
Name: Att, dtype: int64
Opp
CIN    26
Name: Att, dtype: int64
Opp
LAR    29
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
NYJ    5
Name: Att, dtype: int64
Opp
IND    38
Name: Att, dtype: int64
Opp
TEN    39
Name: Att, dtype: int64
Opp
BUF    28
Name: Att, dtype: int64
Opp
SEA    26
Name: Att, dtype: int64
Opp
NE    29
Name: Att, dtype: int64
Opp
SF    33
Name: Att, dtype: int64
Opp
JAX    28
Name: Att, dtype: int64
Opp
BUF    25
Name: Att, dtype: int64
Opp
DET    25
Name: Att, dtype: int64
Opp
WAS    35
Name: Att, dtype: int64
Opp
CHI    35
Name: Att, dtype: int64
Opp
SEA    30
Name: Att, dtype: int64
Opp
ARI    21
Name: Att, dtype: int64
Opp
MIA    39
Name: Att, dtype: int64
Opp
GB    34
Name: Att, dtype: int64
Opp
NE    30
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
SF    39
Name: Att, dtype: int64
Opp
NYJ    44
Name: Att, dtype: int64
Opp
ARI    17
Name: Att, dtype: int64
Opp
SF    39
Name: Att, dtype: int64
Opp
BUF    39
Name: Att, dtype: int64
Opp
MIN    55
Name: Att, dtype: int64
Opp
TB    27
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
TEN    13
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
DEN    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
GB    5
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
NE    4
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
BUF    0
Name: Att, dtype: int64
Opp
PIT    0
Name: Att, dtype: int64
Opp
MIA    0
Name: Att, dtype: int64
Opp
SF    1
Name: Att, dtype: int64
Opp
HOU    1
Name: Att, dtype: int64
Opp
IND    1
Name: Att, dtype: int64
Opp
NE    0
Name: Att, dtype: int64
Opp
MIA    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
SEA    3
Name: Att, dtype: int64
Opp
LAR    1
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
TEN    1
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
TEN    31
Name: Att, dtype: int64
Opp
ARI    46
Name: Att, dtype: int64
Opp
BAL    41
Name: Att, dtype: int64
Opp
BUF    36
Name: Att, dtype: int64
Opp
DEN    31
Name: Att, dtype: int64
Opp
SEA    58
Name: Att, dtype: int64
Opp
NYJ    42
Name: Att, dtype: int64
Opp
LAR    35
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
BUF    38
Name: Att, dtype: int64
Opp
IND    35
Name: Att, dtype: int64
Opp
NYJ    27
Name: Att, dtype: int64
Opp
MIA    40
Name: Att, dtype: int64
Opp
HOU    35
Name: Att, dtype: int64
Opp
SF    65
Name: Att, dtype: int64
Opp
JAX    41
Name: Att, dtype: int64
Opp
NYG    29
Name: Att, dtype: int64
Opp
SEA    40
Name: Att, dtype: int64
Opp
TB    39
Name: Att, dtype: int64
Opp
CHI    43
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Opp
BAL    36
Name: Att, dtype: int64
Opp
CAR    34
Name: Att, dtype: int64
Opp
NYG    62
Name: Att, dtype: int64
Opp
ATL    35
Name: Att, dtype: int64
Opp
PHI    26
Name: Att, dtype: int64
Opp
CLE    50
Name: Att, dtype: int64
Opp
WAS    62
Name: Att, dtype: int64
Opp
PHI    27
Name: Att, dtype: int64
Opp
CIN    43
Name: Att, dtype: int64
Opp
PIT    42
Name: Att, dtype: int64
Opp
NO    43
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
CIN    3
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
CLE    0
Name: Att, dtype: int64
Opp
KC    0
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
CLE    0
Name: Att, dtype: int64
Opp
OAK    1
Name: Att, dtype: int64
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Series([], Name: Att, dtype: int64)
Opp
SF    68
Name: Pct, dtype: int64
Opp
CHI    69
Name: Pct, dtype: int64
Opp
SEA    67
Name: Pct, dtype: int64
Opp
NO    76
Name: Pct, dtype: int64
Opp
IND    63
Name: Pct, dtype: int64
Opp
HOU    65
Name: Pct, dtype: int64
Opp
LAR    81
Name: Pct, dtype: int64
Opp
JAX    63
Name: Pct, dtype: int64
Opp
ARI    47
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
DET    70
Name: Pct, dtype: int64
Opp
NYG    56
Name: Pct, dtype: int64
Opp
MIN    77
Name: Pct, dtype: int64
Opp
DET    58
Name: Pct, dtype: int64
Opp
CHI    64
Name: Pct, dtype: int64
Opp
TEN    71
Name: Pct, dtype: int64
Opp
GB    77
Name: Pct, dtype: int64
Opp
DET    65
Name: Pct, dtype: int64
Opp
MIN    69
Name: Pct, dtype: int64
Opp
NYJ    57
Name: Pct, dtype: int64
Opp
BUF    75
Name: Pct, dtype: int64
Opp
NYG    63
Name: Pct, dtype: int64
Opp
SEA    61
Name: Pct, dtype: int64
Opp
ARI    95
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
LAR    88
Name: Pct, dtype: int64
Opp
CHI    0
Name: Pct, dtype: int64
Opp
NO    0
Name: Pct, dtype: int64
Opp
LAR    0
Name: Pct, dtype: int64
Opp
MIA    0
Name: Pct, dtype: int64
Opp
NE    0
Name: Pct, dtype: int64
Opp
SEA    0
Name: Pct, dtype: int64
Opp
CHI    51
Name: Pct, dtype: int64
Opp
MIN    65
Name: Pct, dtype: int64
Opp
JAX    48
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
GB    56
Name: Pct, dtype: int64
Opp
NYJ    50
Name: Pct, dtype: int64
Opp
CLE    55
Name: Pct, dtype: int64
Opp
TEN    68
Name: Pct, dtype: int64
Opp
MIA    63
Name: Pct, dtype: int64
Opp
JAX    69
Name: Pct, dtype: int64
Opp
NE    54
Name: Pct, dtype: int64
Opp
BUF    54
Name: Pct, dtype: int64
Opp
DET    44
Name: Pct, dtype: int64
Opp
TEN    47
Name: Pct, dtype: int64
Opp
HOU    48
Name: Pct, dtype: int64
Opp
KC    49
Name: Pct, dtype: int64
Opp
BAL    60
Name: Pct, dtype: int64
Opp
CLE    77
Name: Pct, dtype: int64
Opp
WAS    70
Name: Pct, dtype: int64
Opp
JAX    65
Name: Pct, dtype: int64
Opp
MIA    61
Name: Pct, dtype: int64
Opp
CLE    67
Name: Pct, dtype: int64
Opp
PIT    50
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
DEN    62
Name: Pct, dtype: int64
Opp
NYG    70
Name: Pct, dtype: int64
Opp
KC    62
Name: Pct, dtype: int64
Opp
OAK    53
Name: Pct, dtype: int64
Opp
LAC    66
Name: Pct, dtype: int64
Opp
DAL    61
Name: Pct, dtype: int64
Opp
PHI    48
Name: Pct, dtype: int64
Opp
PIT    59
Name: Pct, dtype: int64
Opp
DEN    55
Name: Pct, dtype: int64
Opp
NYJ    77
Name: Pct, dtype: int64
Opp
OAK    74
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
PHI    58
Name: Pct, dtype: int64
Opp
TEN    60
Name: Pct, dtype: int64
Opp
CIN    73
Name: Pct, dtype: int64
Opp
WAS    73
Name: Pct, dtype: int64
Opp
NYG    70
Name: Pct, dtype: int64
Opp
KC    50
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
LAC    52
Name: Pct, dtype: int64
Opp
DAL    60
Name: Pct, dtype: int64
Opp
CIN    50
Name: Pct, dtype: int64
Opp
MIN    59
Name: Pct, dtype: int64
Opp
HOU    37
Name: Pct, dtype: int64
Opp
IND    48
Name: Pct, dtype: int64
Opp
CIN    68
Name: Pct, dtype: int64
Opp
CHI    52
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
OAK    67
Name: Pct, dtype: int64
Opp
GB    55
Name: Pct, dtype: int64
Opp
DET    71
Name: Pct, dtype: int64
Opp
IND    58
Name: Pct, dtype: int64
Opp
HOU    100
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
BAL    100
Name: Pct, dtype: int64
Opp
TB    58
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
OAK    50
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
CIN    64
Name: Pct, dtype: int64
Opp
DEN    52
Name: Pct, dtype: int64
Opp
CAR    83
Name: Pct, dtype: int64
Opp
CLE    48
Name: Pct, dtype: int64
Opp
OAK    56
Name: Pct, dtype: int64
Opp
IND    46
Name: Pct, dtype: int64
Opp
PHI    34
Name: Pct, dtype: int64
Opp
CIN    70
Name: Pct, dtype: int64
Opp
BUF    63
Name: Pct, dtype: int64
Opp
BAL    48
Name: Pct, dtype: int64
Opp
NYG    63
Name: Pct, dtype: int64
Opp
CIN    59
Name: Pct, dtype: int64
Opp
IND    61
Name: Pct, dtype: int64
Opp
LAC    41
Name: Pct, dtype: int64
Opp
BAL    54
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
DAL    57
Name: Pct, dtype: int64
Opp
PIT    65
Name: Pct, dtype: int64
Opp
OAK    69
Name: Pct, dtype: int64
Opp
KC    57
Name: Pct, dtype: int64
Opp
WAS    60
Name: Pct, dtype: int64
Opp
DEN    63
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
CHI    58
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
OAK    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
NO    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
BAL    0
Name: Pct, dtype: int64
Opp
CLE    0
Name: Pct, dtype: int64
Opp
BAL    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
KC    50
Name: Pct, dtype: int64
Opp
BAL    46
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
TB    70
Name: Pct, dtype: int64
Opp
NO    70
Name: Pct, dtype: int64
Opp
NYG    53
Name: Pct, dtype: int64
Opp
ATL    63
Name: Pct, dtype: int64
Opp
SEA    41
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
DAL    57
Name: Pct, dtype: int64
Opp
CHI    51
Name: Pct, dtype: int64
Opp
WAS    57
Name: Pct, dtype: int64
Opp
DEN    58
Name: Pct, dtype: int64
Opp
TB    55
Name: Pct, dtype: int64
Opp
PHI    64
Name: Pct, dtype: int64
Opp
KC    56
Name: Pct, dtype: int64
Opp
ATL    66
Name: Pct, dtype: int64
Opp
LAC    58
Name: Pct, dtype: int64
Opp
OAK    62
Name: Pct, dtype: int64
Opp
LAC    70
Name: Pct, dtype: int64
Opp
MIA    50
Name: Pct, dtype: int64
Opp
PIT    71
Name: Pct, dtype: int64
Opp
DEN    56
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
ATL    70
Name: Pct, dtype: int64
Opp
JAX    57
Name: Pct, dtype: int64
Opp
KC    50
Name: Pct, dtype: int64
Opp
TB    64
Name: Pct, dtype: int64
Opp
BAL    64
Name: Pct, dtype: int64
Opp
NO    55
Name: Pct, dtype: int64
Opp
CIN    56
Name: Pct, dtype: int64
Opp
CLE    63
Name: Pct, dtype: int64
Opp
DEN    63
Name: Pct, dtype: int64
Opp
KC    62
Name: Pct, dtype: int64
Opp
CAR    100
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
HOU    100
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
OAK    45
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
IND    63
Name: Pct, dtype: int64
Opp
HOU    49
Name: Pct, dtype: int64
Opp
TEN    65
Name: Pct, dtype: int64
Opp

Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
NE    50
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
ARI    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
SEA    75
Name: Pct, dtype: int64
Opp
NE    56
Name: Pct, dtype: int64
Opp
PHI    71
Name: Pct, dtype: int64
Opp
MIA    60
Name: Pct, dtype: int64
Opp
LAR    56
Name: Pct, dtype: int64
Opp
BUF    54
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
ATL    56
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
BAL    100
Name: Pct, dtype: int64
Opp
CLE    70
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
CHI    90
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
LAC    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
NYG    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
BUF    70
Name: Pct, dtype: int64
Opp
PIT    37
Name: Pct, dtype: int64
Opp
MIA    47
Name: Pct, dtype: int64
Opp
SF    45
Name: Pct, dtype: int64
Opp
HOU    45
Name: Pct, dtype: int64
Opp
IND    61
Name: Pct, dtype: int64
Opp
NE    68
Name: Pct, dtype: int64
Opp
MIA    52
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
SEA    41
Name: Pct, dtype: int64
Opp
LAR    75
Name: Pct, dtype: int64
Opp
NE    72
Name: Pct, dtype: int64
Opp
ARI    48
Name: Pct, dtype: int64
Opp
JAX    63
Name: Pct, dtype: int64
Opp
TEN    46
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
ATL    64
Name: Pct, dtype: int64
Opp
BUF    55
Name: Pct, dtype: int64
Opp
NO    59
Name: Pct, dtype: int64
Opp
LAC    57
Name: Pct, dtype: int64
Opp
BAL    60
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
OAK    67
Name: Pct, dtype: int64
Opp
LAC    66
Name: Pct, dtype: int64
Opp
PIT    42
Name: Pct, dtype: int64
Opp
CIN    50
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
ARI    56
Name: Pct, dtype: int64
Opp
BUF    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
NE    55
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
HOU    68
Name: Pct, dtype: int64
Opp
MIN    61
Name: Pct, dtype: int64
Opp
PIT    57
Name: Pct, dtype: int64
Opp
BUF    67
Name: Pct, dtype: int64
Opp
IND    76
Name: Pct, dtype: int64
Opp
CHI    57
Name: Pct, dtype: int64
Opp
MIA    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
BAL    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
CAR    50
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
NYJ    58
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
TEN    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
SF    0
Name: Pct, dtype: int64
Opp
JAX    0
Name: Pct, dtype: int64
Opp
BUF    0
Name: Pct, dtype: int64
Opp
KC    74
Name: Pct, dtype: int64
Opp
DEN    67
Name: Pct, dtype: int64
Opp
LAC    75
Name: Pct, dtype: int64
Opp
CAR    63
Name: Pct, dtype: int64
Opp
WAS    65
Name: Pct, dtype: int64
Opp
OAK    65
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
PHI    76
Name: Pct, dtype: int64
Opp
DAL    71
Name: Pct, dtype: int64
Opp
NO    65
Name: Pct, dtype: int64
Opp
ARI    61
Name: Pct, dtype: int64
Opp
TB    81
Name: Pct, dtype: int64
Opp
NO    55
Name: Pct, dtype: int64
Opp
CAR    69
Name: Pct, dtype: int64
Opp
NYG    82
Name: Pct, dtype: int64
Opp
DET    78
Name: Pct, dtype: int64
Opp
MIA    65
Name: Pct, dtype: int64
Opp
JAX    74
Name: Pct, dtype: int64
Opp
DEN    57
Name: Pct, dtype: int64
Opp
TEN    71
Name: Pct, dtype: int64
Opp
NYJ    50
Name: Pct, dtype: int64
Opp
GB    61
Name: Pct, dtype: int64
Opp
BAL    62
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
BUF    70
Name: Pct, dtype: int64
Opp
CHI    54
Name: Pct, dtype: int64
Opp
JAX    78
Name: Pct, dtype: int64
Opp
DET    60
Name: Pct, dtype: int64
Opp
TEN    60
Name: Pct, dtype: int64
Opp
NE    59
Name: Pct, dtype: int64
Opp
IND    74
Name: Pct, dtype: int64
Opp
MIN    56
Name: Pct, dtype: int64
Opp
LAR    67
Name: Pct, dtype: int64
Opp
SF    59
Name: Pct, dtype: int64
Opp
TEN    79
Name: Pct, dtype: int64
Opp
MIN    59
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
PHI    49
Name: Pct, dtype: int64
Opp
CHI    61
Name: Pct, dtype: int64
Opp
SEA    69
Name: Pct, dtype: int64
Opp
JAX    67
Name: Pct, dtype: int64
Opp
MIN    67
Name: Pct, dtype: int64
Opp
GB    44
Name: Pct, dtype: int64
Opp
HOU    51
Name: Pct, dtype: int64
Opp
IND    59
Name: Pct, dtype: int64
Opp
GB    60
Name: Pct, dtype: int64
Opp
ARI    48
Name: Pct, dtype: int64
Opp
ATL    66
Name: Pct, dtype: int64
Opp
CLE    52
Name: Pct, dtype: int64
Opp
BAL    72
Name: Pct, dtype: int64
Opp
ARI    46
Name: Pct, dtype: int64
Opp
NYG    63
Name: Pct, dtype: int64
Opp
PIT    67
Name: Pct, dtype: int64
Opp
DET    61
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
ATL    60
Name: Pct, dtype: int64
Opp
NO    54
Name: Pct, dtype: int64
Opp
DAL    67
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
DAL    69
Name: Pct, dtype: int64
Opp
WAS    46
Name: Pct, dtype: int64
Opp
CAR    76
Name: Pct, dtype: int64
Opp
DAL    65
Name: Pct, dtype: int64
Opp
TB    63
Name: Pct, dtype: int64
Opp
CIN    49
Name: Pct, dtype: int64
Opp
WAS    67
Name: Pct, dtype: int64
Opp
PIT    73
Name: Pct, dtype: int64
Opp
ATL    65
Name: Pct, dtype: int64
Opp
HOU    50
Name: Pct, dtype: int64
Opp
OAK    79
Name: Pct, dtype: int64
Opp
NE    71
Name: Pct, dtype: int64
Opp
LAC    80
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
NO    73
Name: Pct, dtype: int64
Opp
CIN    77
Name: Pct, dtype: int64
Opp
CAR    71
Name: Pct, dtype: int64
Opp
LAC    60
Name: Pct, dtype: int64
Opp
KC    60
Name: Pct, dtype: int64
Opp
TB    71
Name: Pct, dtype: int64
Opp
OAK    72
Name: Pct, dtype: int64
Opp
BAL    61
Name: Pct, dtype: int64
Opp
CLE    70
Name: Pct, dtype: int64
Opp
OAK    73
Name: Pct, dtype: int64
Opp
TEN    75
Name: Pct, dtype: int64
Opp
ATL    55
Name: Pct, dtype: int64
Opp
KC    78
Name: Pct, dtype: int64
Opp
NO    64
Name: Pct, dtype: int64
Opp
DEN    61
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
CLE    53
Name: Pct, dtype: int64
Opp
KC    90
Name: Pct, dtype: int64
Opp
TB    78
Name: Pct, dtype: int64
Opp
DEN    60
Name: Pct, dtype: int64
Opp
BAL    64
Name: Pct, dtype: int64
Opp
CIN    54
Name: Pct, dtype: int64
Opp
PIT    51
Name: Pct, dtype: int64
Opp
CAR    70
Name: Pct, dtype: int64
Opp
NYJ    50
Name: Pct, dtype: int64
Opp
NO    73
Name: Pct, dtype: int64
Opp
LAR    69
Name: Pct, dtype: int64
Opp
CIN    62
Name: Pct, dtype: int64
Opp
TB    74
Name: Pct, dtype: int64
Opp
ATL    67
Name: Pct, dtype: int64
Opp
MIN    77
Name: Pct, dtype: int64
Opp
NYG    71
Name: Pct, dtype: int64
Opp
PIT    47
Name: Pct, dtype: int64
Opp
CAR    59
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
PHI    93
Name: Pct, dtype: int64
Opp
DAL    70
Name: Pct, dtype: int64
Opp
NYG    62
Name: Pct, dtype: int64
Opp
BAL    58
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
PHI    67
Name: Pct, dtype: int64
Opp
ARI    53
Name: Pct, dtype: int64
Opp
DAL    75
Name: Pct, dtype: int64
Opp
GB    48
Name: Pct, dtype: int64
Opp
LAR    68
Name: Pct, dtype: int64
Opp
CAR    76
Name: Pct, dtype: int64
Opp
NE    59
Name: Pct, dtype: int64
Opp
SF    39
Name: Pct, dtype: int64
Opp
DET    71
Name: Pct, dtype: int64
Opp
MIN    67
Name: Pct, dtype: int64
Opp
NYJ    63
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
MIA    78
Name: Pct, dtype: int64
Opp
CHI    62
Name: Pct, dtype: int64
Opp
ARI    54
Name: Pct, dtype: int64
Opp
BUF    61
Name: Pct, dtype: int64
Opp
SF    71
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
MIN    60
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
NYJ    56
Name: Pct, dtype: int64
Opp
KC    53
Name: Pct, dtype: int64
Opp
CLE    63
Name: Pct, dtype: int64
Opp
NE    56
Name: Pct, dtype: int64
Opp
SF    62
Name: Pct, dtype: int64
Opp
ARI    56
Name: Pct, dtype: int64
Opp
TEN    77
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
HOU    66
Name: Pct, dtype: int64
Opp
NE    68
Name: Pct, dtype: int64
Opp
MIA    63
Name: Pct, dtype: int64
Opp
IND    52
Name: Pct, dtype: int64
Opp
JAX    53
Name: Pct, dtype: int64
Opp
LAR    76
Name: Pct, dtype: int64
Opp
SEA    55
Name: Pct, dtype: int64
Opp
MIA    57
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
ATL    45
Name: Pct, dtype: int64
Opp
LAR    60
Name: Pct, dtype: int64
Opp
NYJ    32
Name: Pct, dtype: int64
Opp
SEA    47
Name: Pct, dtype: int64
Opp
DET    67
Name: Pct, dtype: int64
Opp
CHI    57
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
LAR    33
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
IND    0
Name: Pct, dtype: int64
Opp
NYJ    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
HOU    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
HOU    56
Name: Pct, dtype: int64
Opp
OAK    60
Name: Pct, dtype: int64
Opp
NYJ    44
Name: Pct, dtype: int64
Opp
ARI    63
Name: Pct, dtype: int64
Opp
CIN    65
Name: Pct, dtype: int64
Opp
LAR    72
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
NYJ    40
Name: Pct, dtype: int64
Opp
IND    58
Name: Pct, dtype: int64
Opp
TEN    59
Name: Pct, dtype: int64
Opp
BUF    50
Name: Pct, dtype: int64
Opp
SEA    69
Name: Pct, dtype: int64
Opp
NE    45
Name: Pct, dtype: int64
Opp
SF    52
Name: Pct, dtype: int64
Opp
JAX    79
Name: Pct, dtype: int64
Opp
BUF    52
Name: Pct, dtype: int64
Opp
DET    68
Name: Pct, dtype: int64
Opp
WAS    74
Name: Pct, dtype: int64
Opp
CHI    51
Name: Pct, dtype: int64
Opp
SEA    53
Name: Pct, dtype: int64
Opp
ARI    33
Name: Pct, dtype: int64
Opp
MIA    67
Name: Pct, dtype: int64
Opp
GB    62
Name: Pct, dtype: int64
Opp
NE    73
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
SF    67
Name: Pct, dtype: int64
Opp
NYJ    52
Name: Pct, dtype: int64
Opp
ARI    47
Name: Pct, dtype: int64
Opp
SF    67
Name: Pct, dtype: int64
Opp
BUF    49
Name: Pct, dtype: int64
Opp
MIN    64
Name: Pct, dtype: int64
Opp
TB    48
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
TEN    77
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
DEN    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
GB    40
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
NE    50
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
BUF    0
Name: Pct, dtype: int64
Opp
PIT    0
Name: Pct, dtype: int64
Opp
MIA    0
Name: Pct, dtype: int64
Opp
SF    100
Name: Pct, dtype: int64
Opp
HOU    0
Name: Pct, dtype: int64
Opp
IND    100
Name: Pct, dtype: int64
Opp
NE    0
Name: Pct, dtype: int64
Opp
MIA    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
SEA    100
Name: Pct, dtype: int64
Opp
LAR    100
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
TEN    0
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
TEN    74
Name: Pct, dtype: int64
Opp
ARI    61
Name: Pct, dtype: int64
Opp
BAL    68
Name: Pct, dtype: int64
Opp
BUF    61
Name: Pct, dtype: int64
Opp
DEN    74
Name: Pct, dtype: int64
Opp
SEA    62
Name: Pct, dtype: int64
Opp
NYJ    62
Name: Pct, dtype: int64
Opp
LAR    66
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
BUF    61
Name: Pct, dtype: int64
Opp
IND    69
Name: Pct, dtype: int64
Opp
NYJ    67
Name: Pct, dtype: int64
Opp
MIA    60
Name: Pct, dtype: int64
Opp
HOU    60
Name: Pct, dtype: int64
Opp
SF    55
Name: Pct, dtype: int64
Opp
JAX    59
Name: Pct, dtype: int64
Opp
NYG    76
Name: Pct, dtype: int64
Opp
SEA    58
Name: Pct, dtype: int64
Opp
TB    64
Name: Pct, dtype: int64
Opp
CHI    72
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Opp
BAL    69
Name: Pct, dtype: int64
Opp
CAR    71
Name: Pct, dtype: int64
Opp
NYG    58
Name: Pct, dtype: int64
Opp
ATL    71
Name: Pct, dtype: int64
Opp
PHI    73
Name: Pct, dtype: int64
Opp
CLE    70
Name: Pct, dtype: int64
Opp
WAS    60
Name: Pct, dtype: int64
Opp
PHI    82
Name: Pct, dtype: int64
Opp
CIN    58
Name: Pct, dtype: int64
Opp
PIT    71
Name: Pct, dtype: int64
Opp
NO    61
Name: Pct, dtype: int64
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Series([], Name: Pct, dtype: int64)
Opp
CIN    67
Name: Pct, dtype: int64

Series([], Name: Yds, dtype: int64)
Opp
DEN    299
Name: Yds, dtype: int64
Opp
NYG    199
Name: Yds, dtype: int64
Opp
KC    230
Name: Yds, dtype: int64
Opp
OAK    210
Name: Yds, dtype: int64
Opp
LAC    211
Name: Yds, dtype: int64
Opp
DAL    206
Name: Yds, dtype: int64
Opp
PHI    127
Name: Yds, dtype: int64
Opp
PIT    278
Name: Yds, dtype: int64
Opp
DEN    245
Name: Yds, dtype: int64
Opp
NYJ    275
Name: Yds, dtype: int64
Opp
OAK    384
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
PHI    220
Name: Yds, dtype: int64
Opp
TEN    363
Name: Yds, dtype: int64
Opp
CIN    278
Name: Yds, dtype: int64
Opp
WAS    222
Name: Yds, dtype: int64
Opp
NYG    216
Name: Yds, dtype: int64
Opp
KC    84
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
LAC    285
Name: Yds, dtype: int64
Opp
DAL    339
Name: Yds, dtype: int64
Opp
CIN    220
Name: Yds, dtype: int64
Opp
MIN    260
Name: Yds, dtype: int64
Opp
HOU    53
Name: Yds, dtype: int64
Opp
IND    155
Name: Yds, dtype: int64
Opp
CIN    186
Name: Yds, dtype: int64
Opp
CHI    142
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
OAK    110
Name: Yds, dtype: int64
Opp
GB    303
Name: Yds, dtype: int64
Opp
DET    220
Name: Yds, dtype: int64
Opp
IND    209
Name: Yds, dtype: int64
Opp
HOU    24
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
BAL    32
Name: Yds, dtype: int64
Opp
TB    180
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
OAK    1
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
CIN    95
Name: Yds, dtype: int64
Opp
DEN    126
Name: Yds, dtype: int64
Opp
CAR    201
Name: Yds, dtype: int64
Opp
CLE    159
Name: Yds, dtype: int64
Opp
OAK    136
Name: Yds, dtype: int64
Opp
IND    162
Name: Yds, dtype: int64
Opp
PHI    118
Name: Yds, dtype: int64
Opp
CIN    322
Name: Yds, dtype: int64
Opp
BUF    237
Name: Yds, dtype: int64
Opp
BAL    320
Name: Yds, dtype: int64
Opp
NYG    291
Name: Yds, dtype: int64
Opp
CIN    231
Name: Yds, dtype: int64
Opp
IND    264
Name: Yds, dtype: int64
Opp
LAC    129
Name: Yds, dtype: int64
Opp
BAL    176
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
DAL    210
Name: Yds, dtype: int64
Opp
PIT    158
Name: Yds, dtype: int64
Opp
OAK    364
Name: Yds, dtype: int64
Opp
KC    217
Name: Yds, dtype: int64
Opp
WAS    244
Name: Yds, dtype: int64
Opp
DEN    104
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
CHI    105
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
OAK    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
NO    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
BAL    0
Name: Yds, dtype: int64
Opp
CLE    0
Name: Yds, dtype: int64
Opp
BAL    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
KC    73
Name: Yds, dtype: int64
Opp
BAL    199
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
TB    303
Name: Yds, dtype: int64
Opp
NO    253
Name: Yds, dtype: int64
Opp
NYG    242
Name: Yds, dtype: int64
Opp
ATL    215
Name: Yds, dtype: int64
Opp
SEA    141
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
DAL    233
Name: Yds, dtype: int64
Opp
CHI    314
Name: Yds, dtype: int64
Opp
WAS    201
Name: Yds, dtype: int64
Opp
DEN    241
Name: Yds, dtype: int64
Opp
TB    252
Name: Yds, dtype: int64
Opp
PHI    306
Name: Yds, dtype: int64
Opp
KC    232
Name: Yds, dtype: int64
Opp
ATL    287
Name: Yds, dtype: int64
Opp
LAC    231
Name: Yds, dtype: int64
Opp
OAK    170
Name: Yds, dtype: int64
Opp
LAC    297
Name: Yds, dtype: int64
Opp
MIA    373
Name: Yds, dtype: int64
Opp
PIT    209
Name: Yds, dtype: int64
Opp
DEN    202
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
ATL    353
Name: Yds, dtype: int64
Opp
JAX    298
Name: Yds, dtype: int64
Opp
KC    209
Name: Yds, dtype: int64
Opp
TB    414
Name: Yds, dtype: int64
Opp
BAL    368
Name: Yds, dtype: int64
Opp
NO    312
Name: Yds, dtype: int64
Opp
CIN    146
Name: Yds, dtype: int64
Opp
CLE    351
Name: Yds, dtype: int64
Opp
DEN    273
Name: Yds, dtype: int64
Opp
KC    182
Name: Yds, dtype: int64
Opp
CAR    31
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
HOU    23
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
OAK    71
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
IND    121
Name: Yds, dtype: int64
Opp
HOU    354
Name: Yds, dtype: int64
Opp
TEN    261
Name: Yds, dtype: int64
Opp
BUF    202
Name: Yds, dtype: int64
Opp
NYJ    185
Name: Yds, dtype: int64
Opp
MIA    221
Name: Yds, dtype: int64
Opp
NE    348
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
CLE    199
Name: Yds, dtype: int64
Opp
BAL    276
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
WAS    0
Name: Yds, dtype: int64
Opp
CAR    0
Name: Yds, dtype: int64
Opp
KC    0
Name: Yds, dtype: int64
Opp
GB    0
Name: Yds, dtype: int64
Opp
LAC    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
TB    0
Name: Yds, dtype: int64
Opp
DEN    0
Name: Yds, dtype: int64
Opp
PHI    0
Name: Yds, dtype: int64
Opp
ATL    0
Name: Yds, dtype: int64
Opp
OAK    10
Name: Yds, dtype: int64
Opp
SF    0
Name: Yds, dtype: int64
Opp
ATL    0
Name: Yds, dtype: int64
Opp
NYG    0
Name: Yds, dtype: int64
Opp
TB    0
Name: Yds, dtype: int64
Opp
DAL    0
Name: Yds, dtype: int64
Opp
JAX    270
Name: Yds, dtype: int64
Opp
IND    245
Name: Yds, dtype: int64
Opp
SF    198
Name: Yds, dtype: int64
Opp
DET    111
Name: Yds, dtype: int64
Opp
TEN    258
Name: Yds, dtype: int64
Opp
WAS    352
Name: Yds, dtype: int64
Opp
ARI    58
Name: Yds, dtype: int64
Opp
TB    251
Name: Yds, dtype: int64
Opp
SEA    63
Name: Yds, dtype: int64
Opp
DET    221
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
CHI    159
Name: Yds, dtype: int64
Opp
GB    119
Name: Yds, dtype: int64
Opp
CHI    91
Name: Yds, dtype: int64
Opp
LAR    131
Name: Yds, dtype: int64
Opp
HOU    174
Name: Yds, dtype: int64
Opp
GB    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
NYJ    0
Name: Yds, dtype: int64
Opp
BUF    7
Name: Yds, dtype: int64
Opp
NYG    82
Name: Yds, dtype: int64
Opp
SEA    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
LAR    117
Name: Yds, dtype: int64
Opp
CHI    243
Name: Yds, dtype: int64
Opp
NO    231
Name: Yds, dtype: int64
Opp
LAR    208
Name: Yds, dtype: int64
Opp
MIA    185
Name: Yds, dtype: int64
Opp
NE    221
Name: Yds, dtype: int64
Opp
SEA    244
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
PIT    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
KC    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
DEN    79
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
NO    51
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
CAR    4
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
NYG    46
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
WAS    339
Name: Yds, dtype: int64
Opp
CAR    325
Name: Yds, dtype: int64
Opp
KC    240
Name: Yds, dtype: int64
Opp
GB    446
Name: Yds, dtype: int64
Opp
LAC    370
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
TB    377
Name: Yds, dtype: int64
Opp
DEN    213
Name: Yds, dtype: int64
Opp
PHI    239
Name: Yds, dtype: int64
Opp
ATL    298
Name: Yds, dtype: int64
Opp
OAK    219
Name: Yds, dtype: int64
Opp
SF    267
Name: Yds, dtype: int64
Opp
ATL    341
Name: Yds, dtype: int64
Opp
NYG    354
Name: Yds, dtype: int64
Opp
TB    307
Name: Yds, dtype: int64
Opp
DAL    446
Name: Yds, dtype: int64
Opp
DAL    213
Name: Yds, dtype: int64
Opp
TB    510
Name: Yds, dtype: int64
Opp
CAR    288
Name: Yds, dtype: int64
Opp
PHI    309
Name: Yds, dtype: int64
Opp
CLE    259
Name: Yds, dtype: int64
Opp
SF    193
Name: Yds, dtype: int64
Opp
WAS    337
Name: Yds, dtype: int64
Opp
DAL    192
Name: Yds, dtype: int64
Opp
PIT    125
Name: Yds, dtype: int64
Opp
CIN    215
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
GB    249
Name: Yds, dtype: int64
Opp
WAS    280
Name: Yds, dtype: int64
Opp
NO    259
Name: Yds, dtype: int64
Opp
ATL    161
Name: Yds, dtype: int64
Opp
BAL    150
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
NO    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
HOU    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
NYG    11
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
TEN    9
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
ARI    29
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
LAC    185
Name: Yds, dtype: int64
Opp
NE    229
Name: Yds, dtype: int64
Opp
LAC    174
Name: Yds, dtype: int64
Opp
DET    378
Name: Yds, dtype: int64
Opp
HOU    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
MIA    122
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
JAX    261
Name: Yds, dtype: int64
Opp
HOU    309
Name: Yds, dtype: int64
Opp
IND    262
Name: Yds, dtype: int64
Opp
NYJ    149
Name: Yds, dtype: int64
Opp
GB    140
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
JAX    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
DET    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
TEN    0
Name: Yds, dtype: int64
Opp
HOU    94
Name: Yds, dtype: int64
Opp
SF    107
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
MIN    64
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
IND    333
Name: Yds, dtype: int64
Opp
GB    126
Name: Yds, dtype: int64
Opp
LAR    183
Name: Yds, dtype: int64
Opp
DAL    275
Name: Yds, dtype: int64
Opp
JAX    292
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
DET    150
Name: Yds, dtype: int64
Opp
CAR    186
Name: Yds, dtype: int64
Opp
TEN    229
Name: Yds, dtype: int64
Opp
HOU    40
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
MIN    188
Name: Yds, dtype: int64
Opp
SEA    233
Name: Yds, dtype: int64
Opp
MIN    260
Name: Yds, dtype: int64
Opp
GB    135
Name: Yds, dtype: int64
Opp
ARI    146
Name: Yds, dtype: int64
Opp
CIN    299
Name: Yds, dtype: int64
Opp
PHI    232
Name: Yds, dtype: int64
Opp
NE    382
Name: Yds, dtype: int64
Opp
CLE    356
Name: Yds, dtype: int64
Opp
KC    187
Name: Yds, dtype: int64
Opp
DAL    234
Name: Yds, dtype: int64
Opp
HOU    147
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
CLE    153
Name: Yds, dtype: int64
Opp
OAK    341
Name: Yds, dtype: int64
Opp
PIT    164
Name: Yds, dtype: int64
Opp
LAC    355
Name: Yds, dtype: int64
Opp
PIT    188
Name: Yds, dtype: int64
Opp
WAS    182
Name: Yds, dtype: int64
Opp
DEN    254
Name: Yds, dtype: int64
Opp
NYG    309
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
TEN    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
SEA    149
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
BUF    45
Name: Yds, dtype: int64
Opp
MIN    262
Name: Yds, dtype: int64
Opp
SF    290
Name: Yds, dtype: int64
Opp
GB    306
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
ATL    6
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
SEA    74
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
CAR    138
Name: Yds, dtype: int64
Opp
NYG    243
Name: Yds, dtype: int64
Opp
DAL    110
Name: Yds, dtype: int64
Opp
WAS    299
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
KC    328
Name: Yds, dtype: int64
Opp
NO    420
Name: Yds, dtype: int64
Opp
MIN    262
Name: Yds, dtype: int64
Opp
OAK    247
Name: Yds, dtype: int64
Opp
LAC    210
Name: Yds, dtype: int64
Opp
CAR    248
Name: Yds, dtype: int64
Opp
ATL    256
Name: Yds, dtype: int64
Opp
DEN    242
Name: Yds, dtype: int64
Opp
PHI    189
Name: Yds, dtype: int64
Opp
NO    279
Name: Yds, dtype: int64
Opp
LAR    372
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
NE    39
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
ARI    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
SEA    66
Name: Yds, dtype: int64
Opp
NE    140
Name: Yds, dtype: int64
Opp
PHI    222
Name: Yds, dtype: int64
Opp
MIA    324
Name: Yds, dtype: int64
Opp
LAR    289
Name: Yds, dtype: int64
Opp
BUF    128
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)

Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
HOU    219
Name: Yds, dtype: int64
Opp
OAK    200
Name: Yds, dtype: int64
Opp
NYJ    196
Name: Yds, dtype: int64
Opp
ARI    431
Name: Yds, dtype: int64
Opp
CIN    223
Name: Yds, dtype: int64
Opp
LAR    185
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
NYJ    18
Name: Yds, dtype: int64
Opp
IND    290
Name: Yds, dtype: int64
Opp
TEN    217
Name: Yds, dtype: int64
Opp
BUF    141
Name: Yds, dtype: int64
Opp
SEA    253
Name: Yds, dtype: int64
Opp
NE    186
Name: Yds, dtype: int64
Opp
SF    150
Name: Yds, dtype: int64
Opp
JAX    220
Name: Yds, dtype: int64
Opp
BUF    130
Name: Yds, dtype: int64
Opp
DET    198
Name: Yds, dtype: int64
Opp
WAS    310
Name: Yds, dtype: int64
Opp
CHI    152
Name: Yds, dtype: int64
Opp
SEA    221
Name: Yds, dtype: int64
Opp
ARI    141
Name: Yds, dtype: int64
Opp
MIA    315
Name: Yds, dtype: int64
Opp
GB    255
Name: Yds, dtype: int64
Opp
NE    205
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
SF    275
Name: Yds, dtype: int64
Opp
NYJ    170
Name: Yds, dtype: int64
Opp
ARI    205
Name: Yds, dtype: int64
Opp
SF    221
Name: Yds, dtype: int64
Opp
BUF    209
Name: Yds, dtype: int64
Opp
MIN    377
Name: Yds, dtype: int64
Opp
TB    196
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
TEN    172
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
DEN    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
GB    23
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
NE    15
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
BUF    0
Name: Yds, dtype: int64
Opp
PIT    0
Name: Yds, dtype: int64
Opp
MIA    0
Name: Yds, dtype: int64
Opp
SF    9
Name: Yds, dtype: int64
Opp
HOU    0
Name: Yds, dtype: int64
Opp
IND    23
Name: Yds, dtype: int64
Opp
NE    0
Name: Yds, dtype: int64
Opp
MIA    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
SEA    8
Name: Yds, dtype: int64
Opp
LAR   -1
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
TEN    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
TEN    236
Name: Yds, dtype: int64
Opp
ARI    316
Name: Yds, dtype: int64
Opp
BAL    335
Name: Yds, dtype: int64
Opp
BUF    340
Name: Yds, dtype: int64
Opp
DEN    223
Name: Yds, dtype: int64
Opp
SEA    395
Name: Yds, dtype: int64
Opp
NYJ    259
Name: Yds, dtype: int64
Opp
LAR    304
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
BUF    237
Name: Yds, dtype: int64
Opp
IND    331
Name: Yds, dtype: int64
Opp
NYJ    323
Name: Yds, dtype: int64
Opp
MIA    238
Name: Yds, dtype: int64
Opp
HOU    296
Name: Yds, dtype: int64
Opp
SF    443
Name: Yds, dtype: int64
Opp
JAX    267
Name: Yds, dtype: int64
Opp
NYG    307
Name: Yds, dtype: int64
Opp
SEA    251
Name: Yds, dtype: int64
Opp
TB    283
Name: Yds, dtype: int64
Opp
CHI    307
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Opp
BAL    261
Name: Yds, dtype: int64
Opp
CAR    227
Name: Yds, dtype: int64
Opp
NYG    437
Name: Yds, dtype: int64
Opp
ATL    321
Name: Yds, dtype: int64
Opp
PHI    209
Name: Yds, dtype: int64
Opp
CLE    313
Name: Yds, dtype: int64
Opp
WAS    441
Name: Yds, dtype: int64
Opp
PHI    303
Name: Yds, dtype: int64
Opp
CIN    268
Name: Yds, dtype: int64
Opp
PIT    341
Name: Yds, dtype: int64
Opp
NO    416
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
CIN    30
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
CLE    0
Name: Yds, dtype: int64
Opp
KC    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
CLE    0
Name: Yds, dtype: int64
Opp
OAK    0
Name: Yds, dtype: int64
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Series([], Name: Yds, dtype: int64)
Opp
SF    7
Name: Yds/Att, dtype: int64
Opp
CHI    7
Name: Yds/Att, dtype: int64
Opp
SEA    6
Name: Yds/Att, dtype: int64
Opp
NO    8
Name: Yds/Att, dtype: int64
Opp
IND    7
Name: Yds/Att, dtype: int64
Opp
HOU    9
Name: Yds/Att, dtype: int64
Opp
LAR    9
Name: Yds/Att, dtype: int64
Opp
JAX    5
Name: Yds/Att, dtype: int64
Opp
ARI    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
DET    9
Name: Yds/Att, dtype: int64
Opp
NYG    9
Name: Yds/Att, dtype: int64
Opp
MIN    8
Name: Yds/Att, dtype: int64
Opp
DET    7
Name: Yds/Att, dtype: int64
Opp
CHI    8
Name: Yds/Att, dtype: int64
Opp
TEN    9
Name: Yds/Att, dtype: int64
Opp
GB    8
Name: Yds/Att, dtype: int64
Opp
DET    7
Name: Yds/Att, dtype: int64
Opp
MIN    6
Name: Yds/Att, dtype: int64
Opp
NYJ    7
Name: Yds/Att, dtype: int64
Opp
BUF    13
Name: Yds/Att, dtype: int64
Opp
NYG    7
Name: Yds/Att, dtype: int64
Opp
SEA    6
Name: Yds/Att, dtype: int64
Opp
ARI    12
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
LAR    9
Name: Yds/Att, dtype: int64
Opp
CHI    0
Name: Yds/Att, dtype: int64
Opp
NO    0
Name: Yds/Att, dtype: int64
Opp
LAR    0
Name: Yds/Att, dtype: int64
Opp
MIA    0
Name: Yds/Att, dtype: int64
Opp
NE    0
Name: Yds/Att, dtype: int64
Opp
SEA    0
Name: Yds/Att, dtype: int64
Opp
CHI    7
Name: Yds/Att, dtype: int64
Opp
MIN    7
Name: Yds/Att, dtype: int64
Opp
JAX    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
GB    7
Name: Yds/Att, dtype: int64
Opp
NYJ    6
Name: Yds/Att, dtype: int64
Opp
CLE    6
Name: Yds/Att, dtype: int64
Opp
TEN    8
Name: Yds/Att, dtype: int64
Opp
MIA    9
Name: Yds/Att, dtype: int64
Opp
JAX    9
Name: Yds/Att, dtype: int64
Opp
NE    7
Name: Yds/Att, dtype: int64
Opp
BUF    7
Name: Yds/Att, dtype: int64
Opp
DET    7
Name: Yds/Att, dtype: int64
Opp
TEN    6
Name: Yds/Att, dtype: int64
Opp
HOU    7
Name: Yds/Att, dtype: int64
Opp
KC    6
Name: Yds/Att, dtype: int64
Opp
BAL    6
Name: Yds/Att, dtype: int64
Opp
CLE    10
Name: Yds/Att, dtype: int64
Opp
WAS    12
Name: Yds/Att, dtype: int64
Opp
JAX    8
Name: Yds/Att, dtype: int64
Opp
MIA    5
Name: Yds/Att, dtype: int64
Opp
CLE    8
Name: Yds/Att, dtype: int64
Opp
PIT    4
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
DEN    7
Name: Yds/Att, dtype: int64
Opp
NYG    7
Name: Yds/Att, dtype: int64
Opp
KC    8
Name: Yds/Att, dtype: int64
Opp
OAK    7
Name: Yds/Att, dtype: int64
Opp
LAC    6
Name: Yds/Att, dtype: int64
Opp
DAL    6
Name: Yds/Att, dtype: int64
Opp
PHI    5
Name: Yds/Att, dtype: int64
Opp
PIT    7
Name: Yds/Att, dtype: int64
Opp
DEN    6
Name: Yds/Att, dtype: int64
Opp
NYJ    9
Name: Yds/Att, dtype: int64
Opp
OAK    8
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
PHI    6
Name: Yds/Att, dtype: int64
Opp
TEN    9
Name: Yds/Att, dtype: int64
Opp
CIN    8
Name: Yds/Att, dtype: int64
Opp
WAS    7
Name: Yds/Att, dtype: int64
Opp
NYG    7
Name: Yds/Att, dtype: int64
Opp
KC    5
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
LAC    7
Name: Yds/Att, dtype: int64
Opp
DAL    9
Name: Yds/Att, dtype: int64
Opp
CIN    8
Name: Yds/Att, dtype: int64
Opp
MIN    7
Name: Yds/Att, dtype: int64
Opp
HOU    3
Name: Yds/Att, dtype: int64
Opp
IND    7
Name: Yds/Att, dtype: int64
Opp
CIN    6
Name: Yds/Att, dtype: int64
Opp
CHI    4
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
OAK    9
Name: Yds/Att, dtype: int64
Opp
GB    6
Name: Yds/Att, dtype: int64
Opp
DET    6
Name: Yds/Att, dtype: int64
Opp
IND    7
Name: Yds/Att, dtype: int64
Opp
HOU    12
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
BAL    16
Name: Yds/Att, dtype: int64
Opp
TB    5
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
OAK    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
CIN    7
Name: Yds/Att, dtype: int64
Opp
DEN    5
Name: Yds/Att, dtype: int64
Opp
CAR    9
Name: Yds/Att, dtype: int64
Opp
CLE    8
Name: Yds/Att, dtype: int64
Opp
OAK    4
Name: Yds/Att, dtype: int64
Opp
IND    7
Name: Yds/Att, dtype: int64
Opp
PHI    3
Name: Yds/Att, dtype: int64
Opp
CIN    9
Name: Yds/Att, dtype: int64
Opp
BUF    6
Name: Yds/Att, dtype: int64
Opp
BAL    6
Name: Yds/Att, dtype: int64
Opp
NYG    8
Name: Yds/Att, dtype: int64
Opp
CIN    8
Name: Yds/Att, dtype: int64
Opp
IND    6
Name: Yds/Att, dtype: int64
Opp
LAC    5
Name: Yds/Att, dtype: int64
Opp
BAL    5
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
DAL    6
Name: Yds/Att, dtype: int64
Opp
PIT    6
Name: Yds/Att, dtype: int64
Opp
OAK    10
Name: Yds/Att, dtype: int64
Opp
KC    7
Name: Yds/Att, dtype: int64
Opp
WAS    7
Name: Yds/Att, dtype: int64
Opp
DEN    6
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
CHI    6
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
OAK    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
NO    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
BAL    0
Name: Yds/Att, dtype: int64
Opp
CLE    0
Name: Yds/Att, dtype: int64
Opp
BAL    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
KC    5
Name: Yds/Att, dtype: int64
Opp
BAL    5
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
TB    9
Name: Yds/Att, dtype: int64
Opp
NO    13
Name: Yds/Att, dtype: int64
Opp
NYG    8
Name: Yds/Att, dtype: int64
Opp
ATL    9
Name: Yds/Att, dtype: int64
Opp
SEA    5
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
DAL    6
Name: Yds/Att, dtype: int64
Opp
CHI    8
Name: Yds/Att, dtype: int64
Opp
WAS    9
Name: Yds/Att, dtype: int64
Opp
DEN    7
Name: Yds/Att, dtype: int64
Opp
TB    9
Name: Yds/Att, dtype: int64
Opp
PHI    11
Name: Yds/Att, dtype: int64
Opp
KC    9
Name: Yds/Att, dtype: int64
Opp
ATL    8
Name: Yds/Att, dtype: int64
Opp
LAC    7
Name: Yds/Att, dtype: int64
Opp
OAK    6
Name: Yds/Att, dtype: int64
Opp
LAC    7
Name: Yds/Att, dtype: int64
Opp
MIA    8
Name: Yds/Att, dtype: int64
Opp
PIT    6
Name: Yds/Att, dtype: int64
Opp
DEN    6
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
ATL    11
Name: Yds/Att, dtype: int64
Opp
JAX    7
Name: Yds/Att, dtype: int64
Opp
KC    8
Name: Yds/Att, dtype: int64
Opp
TB    7
Name: Yds/Att, dtype: int64
Opp
BAL    8
Name: Yds/Att, dtype: int64
Opp
NO    8
Name: Yds/Att, dtype: int64
Opp
CIN    4
Name: Yds/Att, dtype: int64
Opp
CLE    7
Name: Yds/Att, dtype: int64
Opp
DEN    9
Name: Yds/Att, dtype: int64
Opp
KC    6
Name: Yds/Att, dtype: int64
Opp
CAR    10
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
HOU    12
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
OAK    4
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
IND    8
Name: Yds/Att, dtype: int64
Opp
HOU    11
Name: Yds/Att, dtype: int64
Opp
TEN    10
Name: Yds/Att, dtype: int64
Opp
BUF    5
Name: Yds/Att, dtype: int64
Opp
NYJ    4
Name: Yds/Att, dtype: int64
Opp
MIA    7
Name: Yds/Att, dtype: int64
Opp
NE    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
CLE    6
Name: Yds/Att, dtype: int64
Opp
BAL    8
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
WAS    0
Name: Yds/Att, dtype: int64
Opp
CAR    0
Name: Yds/Att, dtype: int64
Opp
KC    0
Name: Yds/Att, dtype: int64
Opp
GB    0
Name: Yds/Att, dtype: int64
Opp
LAC    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
TB    0
Name: Yds/Att, dtype: int64
Opp
DEN    0
Name: Yds/Att, dtype: int64
Opp
PHI    0
Name: Yds/Att, dtype: int64
Opp
ATL    0
Name: Yds/Att, dtype: int64
Opp
OAK    10
Name: Yds/Att, dtype: int64
Opp
SF    0
Name: Yds/Att, dtype: int64
Opp
ATL    0
Name: Yds/Att, dtype: int64
Opp
NYG    0
Name: Yds/Att, dtype: int64
Opp
TB    0
Name: Yds/Att, dtype: int64
Opp
DAL    0
Name: Yds/Att, dtype: int64
Opp
JAX    10
Name: Yds/Att, dtype: int64
Opp
IND    7
Name: Yds/Att, dtype: int64
Opp
SF    6
Name: Yds/Att, dtype: int64
Opp
DET    4
Name: Yds/Att, dtype: int64
Opp
TEN    7
Name: Yds/Att, dtype: int64
Opp
WAS    7
Name: Yds/Att, dtype: int64
Opp
ARI    3
Name: Yds/Att, dtype: int64
Opp
TB    7
Name: Yds/Att, dtype: int64
Opp
SEA    3
Name: Yds/Att, dtype: int64
Opp
DET    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
CHI    4
Name: Yds/Att, dtype: int64
Opp
GB    5
Name: Yds/Att, dtype: int64
Opp
CHI    5
Name: Yds/Att, dtype: int64
Opp
LAR    6
Name: Yds/Att, dtype: int64
Opp
HOU    6
Name: Yds/Att, dtype: int64
Opp
GB    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
NYJ    0
Name: Yds/Att, dtype: int64
Opp
BUF    7
Name: Yds/Att, dtype: int64
Opp
NYG    12
Name: Yds/Att, dtype: int64
Opp
SEA    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
LAR    7
Name: Yds/Att, dtype: int64
Opp
CHI    11
Name: Yds/Att, dtype: int64
Opp
NO    9
Name: Yds/Att, dtype: int64
Opp
LAR    7
Name: Yds/Att, dtype: int64
Opp
MIA    8
Name: Yds/Att, dtype: int64
Opp
NE    9
Name: Yds/Att, dtype: int64
Opp
SEA    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
PIT    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
KC    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
DEN    5
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
NO    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
CAR    2
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)

Opp
GB    6
Name: Yds/Att, dtype: int64
Opp
ARI    6
Name: Yds/Att, dtype: int64
Opp
CIN    10
Name: Yds/Att, dtype: int64
Opp
PHI    6
Name: Yds/Att, dtype: int64
Opp
NE    10
Name: Yds/Att, dtype: int64
Opp
CLE    8
Name: Yds/Att, dtype: int64
Opp
KC    7
Name: Yds/Att, dtype: int64
Opp
DAL    9
Name: Yds/Att, dtype: int64
Opp
HOU    3
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
CLE    6
Name: Yds/Att, dtype: int64
Opp
OAK    10
Name: Yds/Att, dtype: int64
Opp
PIT    5
Name: Yds/Att, dtype: int64
Opp
LAC    7
Name: Yds/Att, dtype: int64
Opp
PIT    6
Name: Yds/Att, dtype: int64
Opp
WAS    9
Name: Yds/Att, dtype: int64
Opp
DEN    6
Name: Yds/Att, dtype: int64
Opp
NYG    9
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
TEN    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
SEA    5
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
BUF    5
Name: Yds/Att, dtype: int64
Opp
MIN    7
Name: Yds/Att, dtype: int64
Opp
SF    6
Name: Yds/Att, dtype: int64
Opp
GB    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
ATL    1
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
SEA    3
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
CAR    6
Name: Yds/Att, dtype: int64
Opp
NYG    9
Name: Yds/Att, dtype: int64
Opp
DAL    4
Name: Yds/Att, dtype: int64
Opp
WAS    8
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
KC    13
Name: Yds/Att, dtype: int64
Opp
NO    10
Name: Yds/Att, dtype: int64
Opp
MIN    7
Name: Yds/Att, dtype: int64
Opp
OAK    8
Name: Yds/Att, dtype: int64
Opp
LAC    11
Name: Yds/Att, dtype: int64
Opp
CAR    5
Name: Yds/Att, dtype: int64
Opp
ATL    9
Name: Yds/Att, dtype: int64
Opp
DEN    6
Name: Yds/Att, dtype: int64
Opp
PHI    6
Name: Yds/Att, dtype: int64
Opp
NO    6
Name: Yds/Att, dtype: int64
Opp
LAR    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
NE    20
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
ARI    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
SEA    8
Name: Yds/Att, dtype: int64
Opp
NE    5
Name: Yds/Att, dtype: int64
Opp
PHI    9
Name: Yds/Att, dtype: int64
Opp
MIA    7
Name: Yds/Att, dtype: int64
Opp
LAR    6
Name: Yds/Att, dtype: int64
Opp
BUF    5
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
ATL    12
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
BAL    13
Name: Yds/Att, dtype: int64
Opp
CLE    9
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
CHI    9
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
LAC    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
NYG    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
BUF    10
Name: Yds/Att, dtype: int64
Opp
PIT    5
Name: Yds/Att, dtype: int64
Opp
MIA    7
Name: Yds/Att, dtype: int64
Opp
SF    4
Name: Yds/Att, dtype: int64
Opp
HOU    7
Name: Yds/Att, dtype: int64
Opp
IND    5
Name: Yds/Att, dtype: int64
Opp
NE    8
Name: Yds/Att, dtype: int64
Opp
MIA    5
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
SEA    6
Name: Yds/Att, dtype: int64
Opp
LAR    9
Name: Yds/Att, dtype: int64
Opp
NE    8
Name: Yds/Att, dtype: int64
Opp
ARI    5
Name: Yds/Att, dtype: int64
Opp
JAX    6
Name: Yds/Att, dtype: int64
Opp
TEN    5
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
ATL    8
Name: Yds/Att, dtype: int64
Opp
BUF    7
Name: Yds/Att, dtype: int64
Opp
NO    6
Name: Yds/Att, dtype: int64
Opp
LAC    6
Name: Yds/Att, dtype: int64
Opp
BAL    6
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
OAK    7
Name: Yds/Att, dtype: int64
Opp
LAC    6
Name: Yds/Att, dtype: int64
Opp
PIT    6
Name: Yds/Att, dtype: int64
Opp
CIN    6
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
ARI    8
Name: Yds/Att, dtype: int64
Opp
BUF    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
NE    4
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
HOU    8
Name: Yds/Att, dtype: int64
Opp
MIN    5
Name: Yds/Att, dtype: int64
Opp
PIT    7
Name: Yds/Att, dtype: int64
Opp
BUF    6
Name: Yds/Att, dtype: int64
Opp
IND    8
Name: Yds/Att, dtype: int64
Opp
CHI    6
Name: Yds/Att, dtype: int64
Opp
MIA    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
BAL    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
CAR    4
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
NYJ    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
TEN    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
SF    0
Name: Yds/Att, dtype: int64
Opp
JAX    0
Name: Yds/Att, dtype: int64
Opp
BUF    0
Name: Yds/Att, dtype: int64
Opp
KC    10
Name: Yds/Att, dtype: int64
Opp
DEN    6
Name: Yds/Att, dtype: int64
Opp
LAC    7
Name: Yds/Att, dtype: int64
Opp
CAR    9
Name: Yds/Att, dtype: int64
Opp
WAS    7
Name: Yds/Att, dtype: int64
Opp
OAK    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
PHI    9
Name: Yds/Att, dtype: int64
Opp
DAL    10
Name: Yds/Att, dtype: int64
Opp
NO    8
Name: Yds/Att, dtype: int64
Opp
ARI    7
Name: Yds/Att, dtype: int64
Opp
TB    11
Name: Yds/Att, dtype: int64
Opp
NO    5
Name: Yds/Att, dtype: int64
Opp
CAR    7
Name: Yds/Att, dtype: int64
Opp
NYG    10
Name: Yds/Att, dtype: int64
Opp
DET    9
Name: Yds/Att, dtype: int64
Opp
MIA    9
Name: Yds/Att, dtype: int64
Opp
JAX    6
Name: Yds/Att, dtype: int64
Opp
DEN    10
Name: Yds/Att, dtype: int64
Opp
TEN    7
Name: Yds/Att, dtype: int64
Opp
NYJ    8
Name: Yds/Att, dtype: int64
Opp
GB    7
Name: Yds/Att, dtype: int64
Opp
BAL    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
BUF    10
Name: Yds/Att, dtype: int64
Opp
CHI    4
Name: Yds/Att, dtype: int64
Opp
JAX    10
Name: Yds/Att, dtype: int64
Opp
DET    7
Name: Yds/Att, dtype: int64
Opp
TEN    6
Name: Yds/Att, dtype: int64
Opp
NE    7
Name: Yds/Att, dtype: int64
Opp
IND    8
Name: Yds/Att, dtype: int64
Opp
MIN    6
Name: Yds/Att, dtype: int64
Opp
LAR    7
Name: Yds/Att, dtype: int64
Opp
SF    7
Name: Yds/Att, dtype: int64
Opp
TEN    7
Name: Yds/Att, dtype: int64
Opp
MIN    6
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
PHI    7
Name: Yds/Att, dtype: int64
Opp
CHI    6
Name: Yds/Att, dtype: int64
Opp
SEA    7
Name: Yds/Att, dtype: int64
Opp
JAX    9
Name: Yds/Att, dtype: int64
Opp
MIN    8
Name: Yds/Att, dtype: int64
Opp
GB    7
Name: Yds/Att, dtype: int64
Opp
HOU    7
Name: Yds/Att, dtype: int64
Opp
IND    7
Name: Yds/Att, dtype: int64
Opp
GB    6
Name: Yds/Att, dtype: int64
Opp
ARI    5
Name: Yds/Att, dtype: int64
Opp
ATL    8
Name: Yds/Att, dtype: int64
Opp
CLE    6
Name: Yds/Att, dtype: int64
Opp
BAL    12
Name: Yds/Att, dtype: int64
Opp
ARI    6
Name: Yds/Att, dtype: int64
Opp
NYG    8
Name: Yds/Att, dtype: int64
Opp
PIT    6
Name: Yds/Att, dtype: int64
Opp
DET    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
ATL    6
Name: Yds/Att, dtype: int64
Opp
NO    7
Name: Yds/Att, dtype: int64
Opp
DAL    8
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
DAL    7
Name: Yds/Att, dtype: int64
Opp
WAS    4
Name: Yds/Att, dtype: int64
Opp
CAR    6
Name: Yds/Att, dtype: int64
Opp
DAL    7
Name: Yds/Att, dtype: int64
Opp
TB    8
Name: Yds/Att, dtype: int64
Opp
CIN    6
Name: Yds/Att, dtype: int64
Opp
WAS    7
Name: Yds/Att, dtype: int64
Opp
PIT    10
Name: Yds/Att, dtype: int64
Opp
ATL    7
Name: Yds/Att, dtype: int64
Opp
HOU    6
Name: Yds/Att, dtype: int64
Opp
OAK    9
Name: Yds/Att, dtype: int64
Opp
NE    8
Name: Yds/Att, dtype: int64
Opp
LAC    10
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
NO    10
Name: Yds/Att, dtype: int64
Opp
CIN    8
Name: Yds/Att, dtype: int64
Opp
CAR    8
Name: Yds/Att, dtype: int64
Opp
LAC    6
Name: Yds/Att, dtype: int64
Opp
KC    8
Name: Yds/Att, dtype: int64
Opp
TB    6
Name: Yds/Att, dtype: int64
Opp
OAK    9
Name: Yds/Att, dtype: int64
Opp
BAL    7
Name: Yds/Att, dtype: int64
Opp
CLE    8
Name: Yds/Att, dtype: int64
Opp
OAK    7
Name: Yds/Att, dtype: int64
Opp
TEN    9
Name: Yds/Att, dtype: int64
Opp
ATL    5
Name: Yds/Att, dtype: int64
Opp
KC    9
Name: Yds/Att, dtype: int64
Opp
NO    8
Name: Yds/Att, dtype: int64
Opp
DEN    6
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
CLE    5
Name: Yds/Att, dtype: int64
Opp
KC    11
Name: Yds/Att, dtype: int64
Opp
TB    9
Name: Yds/Att, dtype: int64
Opp
DEN    6
Name: Yds/Att, dtype: int64
Opp
BAL    6
Name: Yds/Att, dtype: int64
Opp
CIN    6
Name: Yds/Att, dtype: int64
Opp
PIT    5
Name: Yds/Att, dtype: int64
Opp
CAR    5
Name: Yds/Att, dtype: int64
Opp
NYJ    8
Name: Yds/Att, dtype: int64
Opp
NO    12
Name: Yds/Att, dtype: int64
Opp
LAR    7
Name: Yds/Att, dtype: int64
Opp
CIN    7
Name: Yds/Att, dtype: int64
Opp
TB    9
Name: Yds/Att, dtype: int64
Opp
ATL    6
Name: Yds/Att, dtype: int64
Opp
MIN    8
Name: Yds/Att, dtype: int64
Opp
NYG    9
Name: Yds/Att, dtype: int64
Opp
PIT    5
Name: Yds/Att, dtype: int64
Opp
CAR    6
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
PHI    13
Name: Yds/Att, dtype: int64
Opp
DAL    11
Name: Yds/Att, dtype: int64
Opp
NYG    8
Name: Yds/Att, dtype: int64
Opp
BAL    9
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
PHI    8
Name: Yds/Att, dtype: int64
Opp
ARI    5
Name: Yds/Att, dtype: int64
Opp
DAL    8
Name: Yds/Att, dtype: int64
Opp
GB    6
Name: Yds/Att, dtype: int64
Opp
LAR    6
Name: Yds/Att, dtype: int64
Opp
CAR    9
Name: Yds/Att, dtype: int64
Opp
NE    11
Name: Yds/Att, dtype: int64
Opp
SF    5
Name: Yds/Att, dtype: int64
Opp
DET    7
Name: Yds/Att, dtype: int64
Opp
MIN    7
Name: Yds/Att, dtype: int64
Opp
NYJ    10
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
MIA    8
Name: Yds/Att, dtype: int64
Opp
CHI    8
Name: Yds/Att, dtype: int64
Opp
ARI    11
Name: Yds/Att, dtype: int64
Opp
BUF    9
Name: Yds/Att, dtype: int64
Opp
SF    8
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
MIN    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
NYJ    6
Name: Yds/Att, dtype: int64
Opp
KC    9
Name: Yds/Att, dtype: int64
Opp
CLE    6
Name: Yds/Att, dtype: int64
Opp
NE    9
Name: Yds/Att, dtype: int64
Opp
SF    5
Name: Yds/Att, dtype: int64
Opp
ARI    5
Name: Yds/Att, dtype: int64
Opp
TEN    6
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
HOU    6
Name: Yds/Att, dtype: int64
Opp
NE    8
Name: Yds/Att, dtype: int64
Opp
MIA    6
Name: Yds/Att, dtype: int64
Opp
IND    6
Name: Yds/Att, dtype: int64
Opp
JAX    7
Name: Yds/Att, dtype: int64
Opp
LAR    8
Name: Yds/Att, dtype: int64
Opp
SEA    6
Name: Yds/Att, dtype: int64
Opp
MIA    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
ATL    3
Name: Yds/Att, dtype: int64
Opp
LAR    6
Name: Yds/Att, dtype: int64
Opp
NYJ    2
Name: Yds/Att, dtype: int64
Opp
SEA    4
Name: Yds/Att, dtype: int64
Opp
DET    5
Name: Yds/Att, dtype: int64
Opp
CHI    5
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
LAR    6
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
IND    0
Name: Yds/Att, dtype: int64
Opp
NYJ    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
HOU    0
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Series([], Name: Yds/Att, dtype: int64)
Opp
HOU    6
Name: Yds/Att, dtype: int64
Opp
OAK    7
Name: Yds/Att, dtype: int64
Opp
NYJ    5
Name: Yds/Att, dtype: int64
Opp
ARI    11
Name: Yds/Att, dtype: int64
Opp
CIN    9
Name: Yds/Att, dtype: int64
Opp
LAR    6
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
NYJ    4
Name: Yds/Att, dtype: int64
Opp
IND    8
Name: Yds/Att, dtype: int64
Opp
TEN    6
Name: Yds/Att, dtype: int64
Opp
BUF    5
Name: Yds/Att, dtype: int64
Opp
SEA    10
Name: Yds/Att, dtype: int64
Opp
NE    6
Name: Yds/Att, dtype: int64
Opp
SF    5
Name: Yds/Att, dtype: int64
Opp
JAX    8
Name: Yds/Att, dtype: int64
Opp
BUF    5
Name: Yds/Att, dtype: int64
Opp
DET    8
Name: Yds/Att, dtype: int64
Opp
WAS    9
Name: Yds/Att, dtype: int64
Opp
CHI    4
Name: Yds/Att, dtype: int64
Opp
SEA    7
Name: Yds/Att, dtype: int64
Opp
ARI    7
Name: Yds/Att, dtype: int64
Opp
MIA    8
Name: Yds/Att, dtype: int64
Opp
GB    8
Name: Yds/Att, dtype: int64
Opp
NE    7
Name: Yds/Att, dtype: int64
Series([], Name: Yds/Att, dtype: int64)
Opp
SF    7
Name: Yds/Att, dtype: int64
Opp
NYJ    4
Name: Yds/Att, dtype: int64
Opp
ARI    12

Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
OAK    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
IND    1
Name: TD, dtype: int64
Opp
HOU    4
Name: TD, dtype: int64
Opp
TEN    2
Name: TD, dtype: int64
Opp
BUF    1
Name: TD, dtype: int64
Opp
NYJ    0
Name: TD, dtype: int64
Opp
MIA    0
Name: TD, dtype: int64
Opp
NE    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
CLE    0
Name: TD, dtype: int64
Opp
BAL    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
WAS    0
Name: TD, dtype: int64
Opp
CAR    0
Name: TD, dtype: int64
Opp
KC    0
Name: TD, dtype: int64
Opp
GB    0
Name: TD, dtype: int64
Opp
LAC    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
TB    0
Name: TD, dtype: int64
Opp
DEN    0
Name: TD, dtype: int64
Opp
PHI    0
Name: TD, dtype: int64
Opp
ATL    0
Name: TD, dtype: int64
Opp
OAK    0
Name: TD, dtype: int64
Opp
SF    0
Name: TD, dtype: int64
Opp
ATL    0
Name: TD, dtype: int64
Opp
NYG    0
Name: TD, dtype: int64
Opp
TB    0
Name: TD, dtype: int64
Opp
DAL    0
Name: TD, dtype: int64
Opp
JAX    0
Name: TD, dtype: int64
Opp
IND    2
Name: TD, dtype: int64
Opp
SF    2
Name: TD, dtype: int64
Opp
DET    0
Name: TD, dtype: int64
Opp
TEN    2
Name: TD, dtype: int64
Opp
WAS    2
Name: TD, dtype: int64
Opp
ARI    1
Name: TD, dtype: int64
Opp
TB    1
Name: TD, dtype: int64
Opp
SEA    0
Name: TD, dtype: int64
Opp
DET    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
CHI    1
Name: TD, dtype: int64
Opp
GB    1
Name: TD, dtype: int64
Opp
CHI    0
Name: TD, dtype: int64
Opp
LAR    0
Name: TD, dtype: int64
Opp
HOU    1
Name: TD, dtype: int64
Opp
GB    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
NYJ    0
Name: TD, dtype: int64
Opp
BUF    0
Name: TD, dtype: int64
Opp
NYG    0
Name: TD, dtype: int64
Opp
SEA    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
LAR    0
Name: TD, dtype: int64
Opp
CHI    2
Name: TD, dtype: int64
Opp
NO    1
Name: TD, dtype: int64
Opp
LAR    0
Name: TD, dtype: int64
Opp
MIA    0
Name: TD, dtype: int64
Opp
NE    4
Name: TD, dtype: int64
Opp
SEA    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
PIT    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
KC    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
DEN    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
NO    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
CAR    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
NYG    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
WAS    3
Name: TD, dtype: int64
Opp
CAR    1
Name: TD, dtype: int64
Opp
KC    3
Name: TD, dtype: int64
Opp
GB    3
Name: TD, dtype: int64
Opp
LAC    4
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
TB    4
Name: TD, dtype: int64
Opp
DEN    2
Name: TD, dtype: int64
Opp
PHI    2
Name: TD, dtype: int64
Opp
ATL    3
Name: TD, dtype: int64
Opp
OAK    3
Name: TD, dtype: int64
Opp
SF    3
Name: TD, dtype: int64
Opp
ATL    0
Name: TD, dtype: int64
Opp
NYG    1
Name: TD, dtype: int64
Opp
TB    4
Name: TD, dtype: int64
Opp
DAL    3
Name: TD, dtype: int64
Opp
DAL    1
Name: TD, dtype: int64
Opp
TB    3
Name: TD, dtype: int64
Opp
CAR    1
Name: TD, dtype: int64
Opp
PHI    2
Name: TD, dtype: int64
Opp
CLE    3
Name: TD, dtype: int64
Opp
SF    1
Name: TD, dtype: int64
Opp
WAS    1
Name: TD, dtype: int64
Opp
DAL    0
Name: TD, dtype: int64
Opp
PIT    0
Name: TD, dtype: int64
Opp
CIN    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
GB    3
Name: TD, dtype: int64
Opp
WAS    1
Name: TD, dtype: int64
Opp
NO    4
Name: TD, dtype: int64
Opp
ATL    0
Name: TD, dtype: int64
Opp
BAL    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
NO    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
HOU    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
NYG    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
TEN    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
ARI    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
LAC    0
Name: TD, dtype: int64
Opp
NE    1
Name: TD, dtype: int64
Opp
LAC    1
Name: TD, dtype: int64
Opp
DET    2
Name: TD, dtype: int64
Opp
HOU    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
MIA    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
JAX    1
Name: TD, dtype: int64
Opp
HOU    1
Name: TD, dtype: int64
Opp
IND    1
Name: TD, dtype: int64
Opp
NYJ    0
Name: TD, dtype: int64
Opp
GB    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
JAX    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
DET    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
TEN    0
Name: TD, dtype: int64
Opp
HOU    0
Name: TD, dtype: int64
Opp
SF    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
MIN    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
IND    2
Name: TD, dtype: int64
Opp
GB    1
Name: TD, dtype: int64
Opp
LAR    0
Name: TD, dtype: int64
Opp
DAL    2
Name: TD, dtype: int64
Opp
JAX    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
DET    1
Name: TD, dtype: int64
Opp
CAR    1
Name: TD, dtype: int64
Opp
TEN    3
Name: TD, dtype: int64
Opp
HOU    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
MIN    1
Name: TD, dtype: int64
Opp
SEA    2
Name: TD, dtype: int64
Opp
MIN    1
Name: TD, dtype: int64
Opp
GB    1
Name: TD, dtype: int64
Opp
ARI    1
Name: TD, dtype: int64
Opp
CIN    2
Name: TD, dtype: int64
Opp
PHI    1
Name: TD, dtype: int64
Opp
NE    3
Name: TD, dtype: int64
Opp
CLE    1
Name: TD, dtype: int64
Opp
KC    0
Name: TD, dtype: int64
Opp
DAL    1
Name: TD, dtype: int64
Opp
HOU    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
CLE    1
Name: TD, dtype: int64
Opp
OAK    3
Name: TD, dtype: int64
Opp
PIT    0
Name: TD, dtype: int64
Opp
LAC    1
Name: TD, dtype: int64
Opp
PIT    1
Name: TD, dtype: int64
Opp
WAS    3
Name: TD, dtype: int64
Opp
DEN    2
Name: TD, dtype: int64
Opp
NYG    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
TEN    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
SEA    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
BUF    0
Name: TD, dtype: int64
Opp
MIN    1
Name: TD, dtype: int64
Opp
SF    0
Name: TD, dtype: int64
Opp
GB    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
ATL    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
SEA    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
CAR    1
Name: TD, dtype: int64
Opp
NYG    2
Name: TD, dtype: int64
Opp
DAL    1
Name: TD, dtype: int64
Opp
WAS    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
KC    3
Name: TD, dtype: int64
Opp
NO    3
Name: TD, dtype: int64
Opp
MIN    3
Name: TD, dtype: int64
Opp
OAK    2
Name: TD, dtype: int64
Opp
LAC    2
Name: TD, dtype: int64
Opp
CAR    3
Name: TD, dtype: int64
Opp
ATL    0
Name: TD, dtype: int64
Opp
DEN    2
Name: TD, dtype: int64
Opp
PHI    2
Name: TD, dtype: int64
Opp
NO    0
Name: TD, dtype: int64
Opp
LAR    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
NE    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
ARI    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
SEA    1
Name: TD, dtype: int64
Opp
NE    1
Name: TD, dtype: int64
Opp
PHI    2
Name: TD, dtype: int64
Opp
MIA    3
Name: TD, dtype: int64
Opp
LAR    0
Name: TD, dtype: int64
Opp
BUF    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
ATL    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
BAL    1
Name: TD, dtype: int64
Opp
CLE    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
CHI    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
LAC    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
NYG    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
BUF    3
Name: TD, dtype: int64
Opp
PIT    1
Name: TD, dtype: int64
Opp
MIA    1
Name: TD, dtype: int64
Opp
SF    0
Name: TD, dtype: int64
Opp
HOU    1
Name: TD, dtype: int64
Opp
IND    2
Name: TD, dtype: int64
Opp
NE    1
Name: TD, dtype: int64
Opp
MIA    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
SEA    0
Name: TD, dtype: int64
Opp
LAR    1
Name: TD, dtype: int64
Opp
NE    1
Name: TD, dtype: int64
Opp
ARI    0
Name: TD, dtype: int64
Opp
JAX    0
Name: TD, dtype: int64
Opp
TEN    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
ATL    1
Name: TD, dtype: int64
Opp
BUF    2
Name: TD, dtype: int64
Opp
NO    0
Name: TD, dtype: int64
Opp
LAC    2
Name: TD, dtype: int64
Opp
BAL    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
OAK    1
Name: TD, dtype: int64
Opp
LAC    0
Name: TD, dtype: int64
Opp
PIT    0
Name: TD, dtype: int64
Opp
CIN    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
ARI    0
Name: TD, dtype: int64
Opp
BUF    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
NE    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
HOU    2
Name: TD, dtype: int64
Opp
MIN    1
Name: TD, dtype: int64
Opp
PIT    1
Name: TD, dtype: int64
Opp
BUF    1
Name: TD, dtype: int64
Opp
IND    1
Name: TD, dtype: int64
Opp
CHI    1
Name: TD, dtype: int64
Opp
MIA    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
BAL    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
CAR    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
NYJ    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
TEN    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
SF    0
Name: TD, dtype: int64
Opp
JAX    0
Name: TD, dtype: int64
Opp
BUF    0
Name: TD, dtype: int64
Opp
KC    3
Name: TD, dtype: int64
Opp
DEN    2
Name: TD, dtype: int64
Opp
LAC    3
Name: TD, dtype: int64
Opp
CAR    3
Name: TD, dtype: int64
Opp
WAS    2
Name: TD, dtype: int64
Opp
OAK    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
PHI    3
Name: TD, dtype: int64
Opp
DAL    0
Name: TD, dtype: int64
Opp
NO    3
Name: TD, dtype: int64
Opp
ARI    0
Name: TD, dtype: int64
Opp
TB    1
Name: TD, dtype: int64
Opp
NO    1
Name: TD, dtype: int64
Opp
CAR    2
Name: TD, dtype: int64
Opp
NYG    3
Name: TD, dtype: int64
Opp
DET    4
Name: TD, dtype: int64
Opp
MIA    1
Name: TD, dtype: int64
Opp
JAX    0
Name: TD, dtype: int64
Opp
DEN    4
Name: TD, dtype: int64
Opp
TEN    2
Name: TD, dtype: int64
Opp
NYJ    1
Name: TD, dtype: int64
Opp
GB    0
Name: TD, dtype: int64
Opp
BAL    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
BUF    2
Name: TD, dtype: int64
Opp
CHI    1
Name: TD, dtype: int64
Opp
JAX    5
Name: TD, dtype: int64
Opp
DET    1
Name: TD, dtype: int64
Opp
TEN    2
Name: TD, dtype: int64
Opp
NE    0
Name: TD, dtype: int64
Opp
IND    1
Name: TD, dtype: int64
Opp
MIN    0
Name: TD, dtype: int64
Opp
LAR    1
Name: TD, dtype: int64
Opp
SF    1
Name: TD, dtype: int64
Opp
TEN    1
Name: TD, dtype: int64
Opp
MIN    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
PHI    1
Name: TD, dtype: int64
Opp
CHI    1
Name: TD, dtype: int64
Opp
SEA    3
Name: TD, dtype: int64
Opp
JAX    0
Name: TD, dtype: int64
Opp
MIN    3
Name: TD, dtype: int64
Opp
GB    1
Name: TD, dtype: int64
Opp
HOU    2
Name: TD, dtype: int64
Opp
IND    2
Name: TD, dtype: int64
Opp
GB    1
Name: TD, dtype: int64
Opp
ARI    0
Name: TD, dtype: int64
Opp
ATL    0
Name: TD, dtype: int64
Opp
CLE    2
Name: TD, dtype: int64
Opp
BAL    1
Name: TD, dtype: int64
Opp
ARI    0
Name: TD, dtype: int64
Opp
NYG    1
Name: TD, dtype: int64
Opp
PIT    2
Name: TD, dtype: int64
Opp
DET    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
ATL    1
Name: TD, dtype: int64
Opp
NO    1
Name: TD, dtype: int64
Opp

Opp
BAL    1
Name: TD, dtype: int64
Opp
CLE    3
Name: TD, dtype: int64
Opp
OAK    1
Name: TD, dtype: int64
Opp
TEN    3
Name: TD, dtype: int64
Opp
ATL    0
Name: TD, dtype: int64
Opp
KC    2
Name: TD, dtype: int64
Opp
NO    2
Name: TD, dtype: int64
Opp
DEN    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
CLE    0
Name: TD, dtype: int64
Opp
KC    2
Name: TD, dtype: int64
Opp
TB    3
Name: TD, dtype: int64
Opp
DEN    2
Name: TD, dtype: int64
Opp
BAL    1
Name: TD, dtype: int64
Opp
CIN    0
Name: TD, dtype: int64
Opp
PIT    3
Name: TD, dtype: int64
Opp
CAR    1
Name: TD, dtype: int64
Opp
NYJ    2
Name: TD, dtype: int64
Opp
NO    2
Name: TD, dtype: int64
Opp
LAR    1
Name: TD, dtype: int64
Opp
CIN    1
Name: TD, dtype: int64
Opp
TB    0
Name: TD, dtype: int64
Opp
ATL    0
Name: TD, dtype: int64
Opp
MIN    1
Name: TD, dtype: int64
Opp
NYG    2
Name: TD, dtype: int64
Opp
PIT    1
Name: TD, dtype: int64
Opp
CAR    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
PHI    4
Name: TD, dtype: int64
Opp
DAL    4
Name: TD, dtype: int64
Opp
NYG    1
Name: TD, dtype: int64
Opp
BAL    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
PHI    2
Name: TD, dtype: int64
Opp
ARI    1
Name: TD, dtype: int64
Opp
DAL    1
Name: TD, dtype: int64
Opp
GB    2
Name: TD, dtype: int64
Opp
LAR    0
Name: TD, dtype: int64
Opp
CAR    1
Name: TD, dtype: int64
Opp
NE    3
Name: TD, dtype: int64
Opp
SF    0
Name: TD, dtype: int64
Opp
DET    2
Name: TD, dtype: int64
Opp
MIN    3
Name: TD, dtype: int64
Opp
NYJ    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
MIA    2
Name: TD, dtype: int64
Opp
CHI    2
Name: TD, dtype: int64
Opp
ARI    1
Name: TD, dtype: int64
Opp
BUF    1
Name: TD, dtype: int64
Opp
SF    4
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
MIN    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
NYJ    3
Name: TD, dtype: int64
Opp
KC    2
Name: TD, dtype: int64
Opp
CLE    3
Name: TD, dtype: int64
Opp
NE    4
Name: TD, dtype: int64
Opp
SF    0
Name: TD, dtype: int64
Opp
ARI    0
Name: TD, dtype: int64
Opp
TEN    3
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
HOU    0
Name: TD, dtype: int64
Opp
NE    2
Name: TD, dtype: int64
Opp
MIA    0
Name: TD, dtype: int64
Opp
IND    1
Name: TD, dtype: int64
Opp
JAX    2
Name: TD, dtype: int64
Opp
LAR    1
Name: TD, dtype: int64
Opp
SEA    1
Name: TD, dtype: int64
Opp
MIA    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
ATL    0
Name: TD, dtype: int64
Opp
LAR    0
Name: TD, dtype: int64
Opp
NYJ    0
Name: TD, dtype: int64
Opp
SEA    0
Name: TD, dtype: int64
Opp
DET    0
Name: TD, dtype: int64
Opp
CHI    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
LAR    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
IND    0
Name: TD, dtype: int64
Opp
NYJ    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
HOU    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
HOU    0
Name: TD, dtype: int64
Opp
OAK    1
Name: TD, dtype: int64
Opp
NYJ    0
Name: TD, dtype: int64
Opp
ARI    1
Name: TD, dtype: int64
Opp
CIN    0
Name: TD, dtype: int64
Opp
LAR    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
NYJ    0
Name: TD, dtype: int64
Opp
IND    1
Name: TD, dtype: int64
Opp
TEN    0
Name: TD, dtype: int64
Opp
BUF    1
Name: TD, dtype: int64
Opp
SEA    1
Name: TD, dtype: int64
Opp
NE    0
Name: TD, dtype: int64
Opp
SF    1
Name: TD, dtype: int64
Opp
JAX    2
Name: TD, dtype: int64
Opp
BUF    2
Name: TD, dtype: int64
Opp
DET    1
Name: TD, dtype: int64
Opp
WAS    3
Name: TD, dtype: int64
Opp
CHI    0
Name: TD, dtype: int64
Opp
SEA    0
Name: TD, dtype: int64
Opp
ARI    2
Name: TD, dtype: int64
Opp
MIA    0
Name: TD, dtype: int64
Opp
GB    1
Name: TD, dtype: int64
Opp
NE    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
SF    2
Name: TD, dtype: int64
Opp
NYJ    2
Name: TD, dtype: int64
Opp
ARI    2
Name: TD, dtype: int64
Opp
SF    0
Name: TD, dtype: int64
Opp
BUF    1
Name: TD, dtype: int64
Opp
MIN    3
Name: TD, dtype: int64
Opp
TB    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
TEN    2
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
DEN    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
GB    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
NE    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
BUF    0
Name: TD, dtype: int64
Opp
PIT    0
Name: TD, dtype: int64
Opp
MIA    0
Name: TD, dtype: int64
Opp
SF    0
Name: TD, dtype: int64
Opp
HOU    0
Name: TD, dtype: int64
Opp
IND    0
Name: TD, dtype: int64
Opp
NE    0
Name: TD, dtype: int64
Opp
MIA    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
SEA    0
Name: TD, dtype: int64
Opp
LAR    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
TEN    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
TEN    2
Name: TD, dtype: int64
Opp
ARI    1
Name: TD, dtype: int64
Opp
BAL    1
Name: TD, dtype: int64
Opp
BUF    3
Name: TD, dtype: int64
Opp
DEN    1
Name: TD, dtype: int64
Opp
SEA    2
Name: TD, dtype: int64
Opp
NYJ    2
Name: TD, dtype: int64
Opp
LAR    4
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
BUF    2
Name: TD, dtype: int64
Opp
IND    3
Name: TD, dtype: int64
Opp
NYJ    3
Name: TD, dtype: int64
Opp
MIA    1
Name: TD, dtype: int64
Opp
HOU    4
Name: TD, dtype: int64
Opp
SF    1
Name: TD, dtype: int64
Opp
JAX    2
Name: TD, dtype: int64
Opp
NYG    3
Name: TD, dtype: int64
Opp
SEA    1
Name: TD, dtype: int64
Opp
TB    0
Name: TD, dtype: int64
Opp
CHI    1
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Opp
BAL    2
Name: TD, dtype: int64
Opp
CAR    1
Name: TD, dtype: int64
Opp
NYG    1
Name: TD, dtype: int64
Opp
ATL    1
Name: TD, dtype: int64
Opp
PHI    2
Name: TD, dtype: int64
Opp
CLE    1
Name: TD, dtype: int64
Opp
WAS    3
Name: TD, dtype: int64
Opp
PHI    3
Name: TD, dtype: int64
Opp
CIN    1
Name: TD, dtype: int64
Opp
PIT    2
Name: TD, dtype: int64
Opp
NO    4
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
CIN    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
CLE    0
Name: TD, dtype: int64
Opp
KC    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
CLE    0
Name: TD, dtype: int64
Opp
OAK    0
Name: TD, dtype: int64
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Series([], Name: TD, dtype: int64)
Opp
SF    1
Name: Int, dtype: int64
Opp
CHI    1
Name: Int, dtype: int64
Opp
SEA    0
Name: Int, dtype: int64
Opp
NO    1
Name: Int, dtype: int64
Opp
IND    1
Name: Int, dtype: int64
Opp
HOU    0
Name: Int, dtype: int64
Opp
LAR    0
Name: Int, dtype: int64
Opp
JAX    0
Name: Int, dtype: int64
Opp
ARI    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
DET    1
Name: Int, dtype: int64
Opp
NYG    1
Name: Int, dtype: int64
Opp
MIN    1
Name: Int, dtype: int64
Opp
DET    0
Name: Int, dtype: int64
Opp
CHI    0
Name: Int, dtype: int64
Opp
TEN    0
Name: Int, dtype: int64
Opp
GB    0
Name: Int, dtype: int64
Opp
DET    0
Name: Int, dtype: int64
Opp
MIN    1
Name: Int, dtype: int64
Opp
NYJ    0
Name: Int, dtype: int64
Opp
BUF    0
Name: Int, dtype: int64
Opp
NYG    3
Name: Int, dtype: int64
Opp
SEA    1
Name: Int, dtype: int64
Opp
ARI    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
LAR    0
Name: Int, dtype: int64
Opp
CHI    0
Name: Int, dtype: int64
Opp
NO    0
Name: Int, dtype: int64
Opp
LAR    0
Name: Int, dtype: int64
Opp
MIA    0
Name: Int, dtype: int64
Opp
NE    0
Name: Int, dtype: int64
Opp
SEA    0
Name: Int, dtype: int64
Opp
CHI    3
Name: Int, dtype: int64
Opp
MIN    0
Name: Int, dtype: int64
Opp
JAX    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
GB    1
Name: Int, dtype: int64
Opp
NYJ    2
Name: Int, dtype: int64
Opp
CLE    0
Name: Int, dtype: int64
Opp
TEN    1
Name: Int, dtype: int64
Opp
MIA    0
Name: Int, dtype: int64
Opp
JAX    1
Name: Int, dtype: int64
Opp
NE    3
Name: Int, dtype: int64
Opp
BUF    1
Name: Int, dtype: int64
Opp
DET    3
Name: Int, dtype: int64
Opp
TEN    2
Name: Int, dtype: int64
Opp
HOU    0
Name: Int, dtype: int64
Opp
KC    0
Name: Int, dtype: int64
Opp
BAL    1
Name: Int, dtype: int64
Opp
CLE    1
Name: Int, dtype: int64
Opp
WAS    1
Name: Int, dtype: int64
Opp
JAX    1
Name: Int, dtype: int64
Opp
MIA    2
Name: Int, dtype: int64
Opp
CLE    3
Name: Int, dtype: int64
Opp
PIT    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
DEN    1
Name: Int, dtype: int64
Opp
NYG    0
Name: Int, dtype: int64
Opp
KC    0
Name: Int, dtype: int64
Opp
OAK    0
Name: Int, dtype: int64
Opp
LAC    2
Name: Int, dtype: int64
Opp
DAL    1
Name: Int, dtype: int64
Opp
PHI    0
Name: Int, dtype: int64
Opp
PIT    2
Name: Int, dtype: int64
Opp
DEN    1
Name: Int, dtype: int64
Opp
NYJ    0
Name: Int, dtype: int64
Opp
OAK    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
PHI    0
Name: Int, dtype: int64
Opp
TEN    1
Name: Int, dtype: int64
Opp
CIN    1
Name: Int, dtype: int64
Opp
WAS    0
Name: Int, dtype: int64
Opp
NYG    1
Name: Int, dtype: int64
Opp
KC    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
LAC    1
Name: Int, dtype: int64
Opp
DAL    1
Name: Int, dtype: int64
Opp
CIN    2
Name: Int, dtype: int64
Opp
MIN    0
Name: Int, dtype: int64
Opp
HOU    0
Name: Int, dtype: int64
Opp
IND    0
Name: Int, dtype: int64
Opp
CIN    1
Name: Int, dtype: int64
Opp
CHI    2
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
OAK    0
Name: Int, dtype: int64
Opp
GB    0
Name: Int, dtype: int64
Opp
DET    2
Name: Int, dtype: int64
Opp
IND    1
Name: Int, dtype: int64
Opp
HOU    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
BAL    0
Name: Int, dtype: int64
Opp
TB    2
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
OAK    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
CIN    0
Name: Int, dtype: int64
Opp
DEN    1
Name: Int, dtype: int64
Opp
CAR    0
Name: Int, dtype: int64
Opp
CLE    1
Name: Int, dtype: int64
Opp
OAK    1
Name: Int, dtype: int64
Opp
IND    2
Name: Int, dtype: int64
Opp
PHI    4
Name: Int, dtype: int64
Opp
CIN    0
Name: Int, dtype: int64
Opp
BUF    2
Name: Int, dtype: int64
Opp
BAL    1
Name: Int, dtype: int64
Opp
NYG    2
Name: Int, dtype: int64
Opp
CIN    1
Name: Int, dtype: int64
Opp
IND    0
Name: Int, dtype: int64
Opp
LAC    0
Name: Int, dtype: int64
Opp
BAL    2
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
DAL    0
Name: Int, dtype: int64
Opp
PIT    1
Name: Int, dtype: int64
Opp
OAK    2
Name: Int, dtype: int64
Opp
KC    0
Name: Int, dtype: int64
Opp
WAS    2
Name: Int, dtype: int64
Opp
DEN    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
CHI    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
OAK    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
NO    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
BAL    0
Name: Int, dtype: int64
Opp
CLE    0
Name: Int, dtype: int64
Opp
BAL    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
KC    0
Name: Int, dtype: int64
Opp
BAL    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
TB    2
Name: Int, dtype: int64
Opp
NO    0
Name: Int, dtype: int64
Opp
NYG    3
Name: Int, dtype: int64
Opp
ATL    0
Name: Int, dtype: int64
Opp
SEA    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
DAL    1
Name: Int, dtype: int64
Opp
CHI    2
Name: Int, dtype: int64
Opp
WAS    0
Name: Int, dtype: int64
Opp
DEN    2
Name: Int, dtype: int64
Opp
TB    0
Name: Int, dtype: int64
Opp
PHI    0
Name: Int, dtype: int64
Opp
KC    0
Name: Int, dtype: int64
Opp
ATL    0
Name: Int, dtype: int64
Opp
LAC    0
Name: Int, dtype: int64
Opp
OAK    1
Name: Int, dtype: int64
Opp
LAC    0
Name: Int, dtype: int64
Opp
MIA    1
Name: Int, dtype: int64
Opp
PIT    1
Name: Int, dtype: int64
Opp
DEN    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
ATL    1
Name: Int, dtype: int64
Opp
JAX    1
Name: Int, dtype: int64
Opp
KC    1
Name: Int, dtype: int64
Opp
TB    3
Name: Int, dtype: int64
Opp
BAL    1
Name: Int, dtype: int64
Opp
NO    2
Name: Int, dtype: int64
Opp
CIN    1
Name: Int, dtype: int64
Opp
CLE    1
Name: Int, dtype: int64
Opp
DEN    1
Name: Int, dtype: int64
Opp
KC    0
Name: Int, dtype: int64
Opp
CAR    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
HOU    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
OAK    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
IND    1
Name: Int, dtype: int64
Opp
HOU    0
Name: Int, dtype: int64
Opp
TEN    1
Name: Int, dtype: int64
Opp
BUF    1
Name: Int, dtype: int64
Opp
NYJ    2
Name: Int, dtype: int64
Opp
MIA    0
Name: Int, dtype: int64
Opp
NE    3
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
CLE    3
Name: Int, dtype: int64
Opp
BAL    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
WAS    0
Name: Int, dtype: int64
Opp
CAR    0
Name: Int, dtype: int64
Opp
KC    0
Name: Int, dtype: int64
Opp
GB    0
Name: Int, dtype: int64
Opp
LAC    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
TB    0
Name: Int, dtype: int64
Opp
DEN    0
Name: Int, dtype: int64
Opp
PHI    0
Name: Int, dtype: int64
Opp
ATL    0
Name: Int, dtype: int64
Opp
OAK    0
Name: Int, dtype: int64
Opp
SF    0
Name: Int, dtype: int64
Opp
ATL    0
Name: Int, dtype: int64
Opp
NYG    0
Name: Int, dtype: int64
Opp
TB    0
Name: Int, dtype: int64
Opp
DAL    0
Name: Int, dtype: int64
Opp
JAX    0
Name: Int, dtype: int64
Opp
IND    0
Name: Int, dtype: int64
Opp
SF    0
Name: Int, dtype: int64
Opp
DET    0
Name: Int, dtype: int64
Opp
TEN    2
Name: Int, dtype: int64
Opp
WAS    2
Name: Int, dtype: int64
Opp
ARI    2
Name: Int, dtype: int64
Opp
TB    1
Name: Int, dtype: int64
Opp
SEA    1
Name: Int, dtype: int64
Opp
DET    0

Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
NYG    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
BUF    1
Name: Int, dtype: int64
Opp
PIT    0
Name: Int, dtype: int64
Opp
MIA    2
Name: Int, dtype: int64
Opp
SF    1
Name: Int, dtype: int64
Opp
HOU    2
Name: Int, dtype: int64
Opp
IND    0
Name: Int, dtype: int64
Opp
NE    1
Name: Int, dtype: int64
Opp
MIA    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
SEA    1
Name: Int, dtype: int64
Opp
LAR    0
Name: Int, dtype: int64
Opp
NE    1
Name: Int, dtype: int64
Opp
ARI    3
Name: Int, dtype: int64
Opp
JAX    0
Name: Int, dtype: int64
Opp
TEN    4
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
ATL    2
Name: Int, dtype: int64
Opp
BUF    1
Name: Int, dtype: int64
Opp
NO    1
Name: Int, dtype: int64
Opp
LAC    3
Name: Int, dtype: int64
Opp
BAL    2
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
OAK    1
Name: Int, dtype: int64
Opp
LAC    1
Name: Int, dtype: int64
Opp
PIT    1
Name: Int, dtype: int64
Opp
CIN    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
ARI    0
Name: Int, dtype: int64
Opp
BUF    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
NE    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
HOU    2
Name: Int, dtype: int64
Opp
MIN    1
Name: Int, dtype: int64
Opp
PIT    1
Name: Int, dtype: int64
Opp
BUF    0
Name: Int, dtype: int64
Opp
IND    0
Name: Int, dtype: int64
Opp
CHI    1
Name: Int, dtype: int64
Opp
MIA    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
BAL    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
CAR    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
NYJ    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
TEN    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
SF    0
Name: Int, dtype: int64
Opp
JAX    0
Name: Int, dtype: int64
Opp
BUF    0
Name: Int, dtype: int64
Opp
KC    0
Name: Int, dtype: int64
Opp
DEN    0
Name: Int, dtype: int64
Opp
LAC    1
Name: Int, dtype: int64
Opp
CAR    1
Name: Int, dtype: int64
Opp
WAS    1
Name: Int, dtype: int64
Opp
OAK    3
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
PHI    0
Name: Int, dtype: int64
Opp
DAL    0
Name: Int, dtype: int64
Opp
NO    1
Name: Int, dtype: int64
Opp
ARI    5
Name: Int, dtype: int64
Opp
TB    1
Name: Int, dtype: int64
Opp
NO    0
Name: Int, dtype: int64
Opp
CAR    1
Name: Int, dtype: int64
Opp
NYG    0
Name: Int, dtype: int64
Opp
DET    0
Name: Int, dtype: int64
Opp
MIA    0
Name: Int, dtype: int64
Opp
JAX    0
Name: Int, dtype: int64
Opp
DEN    1
Name: Int, dtype: int64
Opp
TEN    0
Name: Int, dtype: int64
Opp
NYJ    1
Name: Int, dtype: int64
Opp
GB    2
Name: Int, dtype: int64
Opp
BAL    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
BUF    0
Name: Int, dtype: int64
Opp
CHI    2
Name: Int, dtype: int64
Opp
JAX    2
Name: Int, dtype: int64
Opp
DET    1
Name: Int, dtype: int64
Opp
TEN    0
Name: Int, dtype: int64
Opp
NE    1
Name: Int, dtype: int64
Opp
IND    0
Name: Int, dtype: int64
Opp
MIN    0
Name: Int, dtype: int64
Opp
LAR    3
Name: Int, dtype: int64
Opp
SF    1
Name: Int, dtype: int64
Opp
TEN    0
Name: Int, dtype: int64
Opp
MIN    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
PHI    1
Name: Int, dtype: int64
Opp
CHI    1
Name: Int, dtype: int64
Opp
SEA    1
Name: Int, dtype: int64
Opp
JAX    0
Name: Int, dtype: int64
Opp
MIN    1
Name: Int, dtype: int64
Opp
GB    2
Name: Int, dtype: int64
Opp
HOU    0
Name: Int, dtype: int64
Opp
IND    1
Name: Int, dtype: int64
Opp
GB    1
Name: Int, dtype: int64
Opp
ARI    3
Name: Int, dtype: int64
Opp
ATL    1
Name: Int, dtype: int64
Opp
CLE    4
Name: Int, dtype: int64
Opp
BAL    2
Name: Int, dtype: int64
Opp
ARI    0
Name: Int, dtype: int64
Opp
NYG    0
Name: Int, dtype: int64
Opp
PIT    0
Name: Int, dtype: int64
Opp
DET    2
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
ATL    0
Name: Int, dtype: int64
Opp
NO    1
Name: Int, dtype: int64
Opp
DAL    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
DAL    1
Name: Int, dtype: int64
Opp
WAS    2
Name: Int, dtype: int64
Opp
CAR    0
Name: Int, dtype: int64
Opp
DAL    0
Name: Int, dtype: int64
Opp
TB    0
Name: Int, dtype: int64
Opp
CIN    1
Name: Int, dtype: int64
Opp
WAS    1
Name: Int, dtype: int64
Opp
PIT    0
Name: Int, dtype: int64
Opp
ATL    3
Name: Int, dtype: int64
Opp
HOU    0
Name: Int, dtype: int64
Opp
OAK    0
Name: Int, dtype: int64
Opp
NE    0
Name: Int, dtype: int64
Opp
LAC    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
NO    0
Name: Int, dtype: int64
Opp
CIN    2
Name: Int, dtype: int64
Opp
CAR    0
Name: Int, dtype: int64
Opp
LAC    1
Name: Int, dtype: int64
Opp
KC    1
Name: Int, dtype: int64
Opp
TB    1
Name: Int, dtype: int64
Opp
OAK    1
Name: Int, dtype: int64
Opp
BAL    0
Name: Int, dtype: int64
Opp
CLE    1
Name: Int, dtype: int64
Opp
OAK    0
Name: Int, dtype: int64
Opp
TEN    1
Name: Int, dtype: int64
Opp
ATL    2
Name: Int, dtype: int64
Opp
KC    1
Name: Int, dtype: int64
Opp
NO    1
Name: Int, dtype: int64
Opp
DEN    4
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
CLE    0
Name: Int, dtype: int64
Opp
KC    1
Name: Int, dtype: int64
Opp
TB    2
Name: Int, dtype: int64
Opp
DEN    2
Name: Int, dtype: int64
Opp
BAL    0
Name: Int, dtype: int64
Opp
CIN    1
Name: Int, dtype: int64
Opp
PIT    0
Name: Int, dtype: int64
Opp
CAR    0
Name: Int, dtype: int64
Opp
NYJ    0
Name: Int, dtype: int64
Opp
NO    0
Name: Int, dtype: int64
Opp
LAR    1
Name: Int, dtype: int64
Opp
CIN    0
Name: Int, dtype: int64
Opp
TB    0
Name: Int, dtype: int64
Opp
ATL    0
Name: Int, dtype: int64
Opp
MIN    1
Name: Int, dtype: int64
Opp
NYG    1
Name: Int, dtype: int64
Opp
PIT    0
Name: Int, dtype: int64
Opp
CAR    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
PHI    0
Name: Int, dtype: int64
Opp
DAL    1
Name: Int, dtype: int64
Opp
NYG    0
Name: Int, dtype: int64
Opp
BAL    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
PHI    1
Name: Int, dtype: int64
Opp
ARI    1
Name: Int, dtype: int64
Opp
DAL    0
Name: Int, dtype: int64
Opp
GB    0
Name: Int, dtype: int64
Opp
LAR    3
Name: Int, dtype: int64
Opp
CAR    2
Name: Int, dtype: int64
Opp
NE    0
Name: Int, dtype: int64
Opp
SF    1
Name: Int, dtype: int64
Opp
DET    1
Name: Int, dtype: int64
Opp
MIN    0
Name: Int, dtype: int64
Opp
NYJ    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
MIA    0
Name: Int, dtype: int64
Opp
CHI    0
Name: Int, dtype: int64
Opp
ARI    1
Name: Int, dtype: int64
Opp
BUF    0
Name: Int, dtype: int64
Opp
SF    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
MIN    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
NYJ    3
Name: Int, dtype: int64
Opp
KC    0
Name: Int, dtype: int64
Opp
CLE    0
Name: Int, dtype: int64
Opp
NE    4
Name: Int, dtype: int64
Opp
SF    1
Name: Int, dtype: int64
Opp
ARI    0
Name: Int, dtype: int64
Opp
TEN    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
HOU    0
Name: Int, dtype: int64
Opp
NE    1
Name: Int, dtype: int64
Opp
MIA    0
Name: Int, dtype: int64
Opp
IND    1
Name: Int, dtype: int64
Opp
JAX    1
Name: Int, dtype: int64
Opp
LAR    1
Name: Int, dtype: int64
Opp
SEA    2
Name: Int, dtype: int64
Opp
MIA    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
ATL    0
Name: Int, dtype: int64
Opp
LAR    4
Name: Int, dtype: int64
Opp
NYJ    1
Name: Int, dtype: int64
Opp
SEA    0
Name: Int, dtype: int64
Opp
DET    1
Name: Int, dtype: int64
Opp
CHI    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
LAR    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
IND    0
Name: Int, dtype: int64
Opp
NYJ    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
HOU    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
HOU    3
Name: Int, dtype: int64
Opp
OAK    0
Name: Int, dtype: int64
Opp
NYJ    1
Name: Int, dtype: int64
Opp
ARI    2
Name: Int, dtype: int64
Opp
CIN    0
Name: Int, dtype: int64
Opp
LAR    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
NYJ    0
Name: Int, dtype: int64
Opp
IND    0
Name: Int, dtype: int64
Opp
TEN    3
Name: Int, dtype: int64
Opp
BUF    2
Name: Int, dtype: int64
Opp
SEA    1
Name: Int, dtype: int64
Opp
NE    0
Name: Int, dtype: int64
Opp
SF    0
Name: Int, dtype: int64
Opp
JAX    0
Name: Int, dtype: int64
Opp
BUF    0
Name: Int, dtype: int64
Opp
DET    0
Name: Int, dtype: int64
Opp
WAS    1
Name: Int, dtype: int64
Opp
CHI    2
Name: Int, dtype: int64
Opp
SEA    1
Name: Int, dtype: int64
Opp
ARI    1
Name: Int, dtype: int64
Opp
MIA    0
Name: Int, dtype: int64
Opp
GB    1
Name: Int, dtype: int64
Opp
NE    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
SF    0
Name: Int, dtype: int64
Opp
NYJ    1
Name: Int, dtype: int64
Opp
ARI    1
Name: Int, dtype: int64
Opp
SF    0
Name: Int, dtype: int64
Opp
BUF    1
Name: Int, dtype: int64
Opp
MIN    1
Name: Int, dtype: int64
Opp
TB    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
TEN    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
DEN    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
GB    1
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
NE    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
BUF    0
Name: Int, dtype: int64
Opp
PIT    0
Name: Int, dtype: int64
Opp
MIA    0
Name: Int, dtype: int64
Opp
SF    0
Name: Int, dtype: int64
Opp
HOU    0
Name: Int, dtype: int64
Opp
IND    0
Name: Int, dtype: int64
Opp
NE    0
Name: Int, dtype: int64
Opp
MIA    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
SEA    0
Name: Int, dtype: int64
Opp
LAR    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
TEN    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
TEN    0
Name: Int, dtype: int64
Opp
ARI    1
Name: Int, dtype: int64
Opp
BAL    0
Name: Int, dtype: int64
Opp
BUF    0
Name: Int, dtype: int64
Opp
DEN    0
Name: Int, dtype: int64
Opp
SEA    2
Name: Int, dtype: int64
Opp
NYJ    0
Name: Int, dtype: int64
Opp
LAR    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
BUF    0
Name: Int, dtype: int64
Opp
IND    0
Name: Int, dtype: int64
Opp
NYJ    0
Name: Int, dtype: int64
Opp
MIA    1
Name: Int, dtype: int64
Opp
HOU    0
Name: Int, dtype: int64
Opp
SF    2
Name: Int, dtype: int64
Opp
JAX    2
Name: Int, dtype: int64
Opp
NYG    1
Name: Int, dtype: int64
Opp
SEA    1
Name: Int, dtype: int64
Opp
TB    1
Name: Int, dtype: int64
Opp
CHI    5
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Opp
BAL    1
Name: Int, dtype: int64
Opp
CAR    0
Name: Int, dtype: int64
Opp
NYG    4
Name: Int, dtype: int64
Opp
ATL    0
Name: Int, dtype: int64
Opp
PHI    0
Name: Int, dtype: int64
Opp
CLE    0
Name: Int, dtype: int64
Opp
WAS    2
Name: Int, dtype: int64
Opp
PHI    0
Name: Int, dtype: int64
Opp
CIN    1
Name: Int, dtype: int64
Opp
PIT    0
Name: Int, dtype: int64
Opp
NO    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
CIN    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
CLE    0
Name: Int, dtype: int64
Opp
KC    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
CLE    0
Name: Int, dtype: int64
Opp
OAK    0
Name: Int, dtype: int64
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Series([], Name: Int, dtype: int64)
Opp
SF    93
Name: QB Rating, dtype: int64
Opp
CHI    85
Name: QB Rating, dtype: int64
Opp
SEA    81
Name: QB Rating, dtype: int64
Opp
NO    120
Name: QB Rating, dtype: int64
Opp
IND    103
Name: QB Rating, dtype: int64
Opp
HOU    134
Name: QB Rating, dtype: int64
Opp
LAR    132
Name: QB Rating, dtype: int64
Opp
JAX    96
Name: QB Rating, dtype: int64
Opp
ARI    97
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
DET    106
Name: QB Rating, dtype: int64
Opp
NYG    82
Name: QB Rating, dtype: int64
Opp
MIN    98
Name: QB Rating, dtype: int64
Opp
DET    81
Name: QB Rating, dtype: int64
Opp
CHI    117
Name: QB Rating, dtype: int64
Opp
TEN    125
Name: QB Rating, dtype: int64
Opp
GB    126
Name: QB Rating, dtype: int64
Opp
DET    108
Name: QB Rating, dtype: int64
Opp
MIN    81
Name: QB Rating, dtype: int64
Opp
NYJ    78
Name: QB Rating, dtype: int64
Opp
BUF    156
Name: QB Rating, dtype: int64
Opp
NYG    43
Name: QB Rating, dtype: int64
Opp
SEA    75
Name: QB Rating, dtype: int64
Opp
ARI    157
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
LAR    144
Name: QB Rating, dtype: int64
Opp
CHI    0
Name: QB Rating, dtype: int64
Opp
NO    0
Name: QB Rating, dtype: int64
Opp
LAR    0
Name: QB Rating, dtype: int64
Opp
MIA    0
Name: QB Rating, dtype: int64
Opp
NE    0
Name: QB Rating, dtype: int64
Opp
SEA    0
Name: QB Rating, dtype: int64
Opp
CHI    53
Name: QB Rating, dtype: int64
Opp
MIN    107
Name: QB Rating, dtype: int64
Opp
JAX    76
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
GB    81
Name: QB Rating, dtype: int64
Opp
NYJ    51
Name: QB Rating, dtype: int64
Opp
CLE    75
Name: QB Rating, dtype: int64
Opp
TEN    89
Name: QB Rating, dtype: int64
Opp
MIA    106
Name: QB Rating, dtype: int64
Opp
JAX    80
Name: QB Rating, dtype: int64
Opp
NE    63
Name: QB Rating, dtype: int64
Opp
BUF    72
Name: QB Rating, dtype: int64
Opp
DET    71
Name: QB Rating, dtype: int64
Opp
TEN    51
Name: QB Rating, dtype: int64
Opp
HOU    96
Name: QB Rating, dtype: int64
Opp
KC    76
Name: QB Rating, dtype: int64
Opp
BAL    65
Name: QB Rating, dtype: int64
Opp
CLE    128
Name: QB Rating, dtype: int64
Opp
WAS    133
Name: QB Rating, dtype: int64
Opp
JAX    97
Name: QB Rating, dtype: int64
Opp
MIA    64
Name: QB Rating, dtype: int64
Opp
CLE    87
Name: QB Rating, dtype: int64
Opp
PIT    56
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
DEN    81
Name: QB Rating, dtype: int64
Opp
NYG    128
Name: QB Rating, dtype: int64
Opp
KC    110
Name: QB Rating, dtype: int64
Opp
OAK    109
Name: QB Rating, dtype: int64
Opp
LAC    67
Name: QB Rating, dtype: int64
Opp
DAL    76

Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
BAL    0
Name: QB Rating, dtype: int64
Opp
CLE    0
Name: QB Rating, dtype: int64
Opp
BAL    0
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
KC    65
Name: QB Rating, dtype: int64
Opp
BAL    51
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
TB    83
Name: QB Rating, dtype: int64
Opp
NO    129
Name: QB Rating, dtype: int64
Opp
NYG    41
Name: QB Rating, dtype: int64
Opp
ATL    119
Name: QB Rating, dtype: int64
Opp
SEA    57
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
DAL    73
Name: QB Rating, dtype: int64
Opp
CHI    57
Name: QB Rating, dtype: int64
Opp
WAS    100
Name: QB Rating, dtype: int64
Opp
DEN    74
Name: QB Rating, dtype: int64
Opp
TB    96
Name: QB Rating, dtype: int64
Opp
PHI    125
Name: QB Rating, dtype: int64
Opp
KC    121
Name: QB Rating, dtype: int64
Opp
ATL    110
Name: QB Rating, dtype: int64
Opp
LAC    99
Name: QB Rating, dtype: int64
Opp
OAK    75
Name: QB Rating, dtype: int64
Opp
LAC    94
Name: QB Rating, dtype: int64
Opp
MIA    74
Name: QB Rating, dtype: int64
Opp
PIT    104
Name: QB Rating, dtype: int64
Opp
DEN    73
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
ATL    102
Name: QB Rating, dtype: int64
Opp
JAX    74
Name: QB Rating, dtype: int64
Opp
KC    84
Name: QB Rating, dtype: int64
Opp
TB    85
Name: QB Rating, dtype: int64
Opp
BAL    95
Name: QB Rating, dtype: int64
Opp
NO    76
Name: QB Rating, dtype: int64
Opp
CIN    64
Name: QB Rating, dtype: int64
Opp
CLE    86
Name: QB Rating, dtype: int64
Opp
DEN    101
Name: QB Rating, dtype: int64
Opp
KC    80
Name: QB Rating, dtype: int64
Opp
CAR    110
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
HOU    115
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
OAK    54
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
IND    80
Name: QB Rating, dtype: int64
Opp
HOU    127
Name: QB Rating, dtype: int64
Opp
TEN    108
Name: QB Rating, dtype: int64
Opp
BUF    58
Name: QB Rating, dtype: int64
Opp
NYJ    41
Name: QB Rating, dtype: int64
Opp
MIA    73
Name: QB Rating, dtype: int64
Opp
NE    60
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
CLE    39
Name: QB Rating, dtype: int64
Opp
BAL    90
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
WAS    0
Name: QB Rating, dtype: int64
Opp
CAR    0
Name: QB Rating, dtype: int64
Opp
KC    0
Name: QB Rating, dtype: int64
Opp
GB    0
Name: QB Rating, dtype: int64
Opp
LAC    0
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
TB    0
Name: QB Rating, dtype: int64
Opp
DEN    0
Name: QB Rating, dtype: int64
Opp
PHI    0
Name: QB Rating, dtype: int64
Opp
ATL    0
Name: QB Rating, dtype: int64
Opp
OAK    108
Name: QB Rating, dtype: int64
Opp
SF    0
Name: QB Rating, dtype: int64
Opp
ATL    0
Name: QB Rating, dtype: int64
Opp
NYG    0
Name: QB Rating, dtype: int64
Opp
TB    0
Name: QB Rating, dtype: int64
Opp
DAL    0
Name: QB Rating, dtype: int64
Opp
JAX    105
Name: QB Rating, dtype: int64
Opp
IND    115
Name: QB Rating, dtype: int64
Opp
SF    95
Name: QB Rating, dtype: int64
Opp
DET    71
Name: QB Rating, dtype: int64
Opp
TEN    88
Name: QB Rating, dtype: int64
Opp
WAS    83
Name: QB Rating, dtype: int64
Opp
ARI    36
Name: QB Rating, dtype: int64
Opp
TB    75
Name: QB Rating, dtype: int64
Opp
SEA    37
Name: QB Rating, dtype: int64
Opp
DET    114
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
CHI    58
Name: QB Rating, dtype: int64
Opp
GB    42
Name: QB Rating, dtype: int64
Opp
CHI    54
Name: QB Rating, dtype: int64
Opp
LAR    84
Name: QB Rating, dtype: int64
Opp
HOU    82
Name: QB Rating, dtype: int64
Opp
GB    0
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
NYJ    40
Name: QB Rating, dtype: int64
Opp
BUF    96
Name: QB Rating, dtype: int64
Opp
NYG    99
Name: QB Rating, dtype: int64
Opp
SEA    0
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
LAR    85
Name: QB Rating, dtype: int64
Opp
CHI    133
Name: QB Rating, dtype: int64
Opp
NO    91
Name: QB Rating, dtype: int64
Opp
LAR    84
Name: QB Rating, dtype: int64
Opp
MIA    100
Name: QB Rating, dtype: int64
Opp
NE    109
Name: QB Rating, dtype: int64
Opp
SEA    72
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
PIT    0
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
KC    0
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
DEN    85
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
NO    80
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
CAR    56
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
NYG    119
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
WAS    71
Name: QB Rating, dtype: int64
Opp
CAR    72
Name: QB Rating, dtype: int64
Opp
KC    92
Name: QB Rating, dtype: int64
Opp
GB    109
Name: QB Rating, dtype: int64
Opp
LAC    110
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
TB    130
Name: QB Rating, dtype: int64
Opp
DEN    73
Name: QB Rating, dtype: int64
Opp
PHI    128
Name: QB Rating, dtype: int64
Opp
ATL    114
Name: QB Rating, dtype: int64
Opp
OAK    135
Name: QB Rating, dtype: int64
Opp
SF    86
Name: QB Rating, dtype: int64
Opp
ATL    38
Name: QB Rating, dtype: int64
Opp
NYG    75
Name: QB Rating, dtype: int64
Opp
TB    125
Name: QB Rating, dtype: int64
Opp
DAL    114
Name: QB Rating, dtype: int64
Opp
DAL    95
Name: QB Rating, dtype: int64
Opp
TB    90
Name: QB Rating, dtype: int64
Opp
CAR    110
Name: QB Rating, dtype: int64
Opp
PHI    86
Name: QB Rating, dtype: int64
Opp
CLE    103
Name: QB Rating, dtype: int64
Opp
SF    87
Name: QB Rating, dtype: int64
Opp
WAS    79
Name: QB Rating, dtype: int64
Opp
DAL    58
Name: QB Rating, dtype: int64
Opp
PIT    41
Name: QB Rating, dtype: int64
Opp
CIN    56
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
GB    114
Name: QB Rating, dtype: int64
Opp
WAS    98
Name: QB Rating, dtype: int64
Opp
NO    100
Name: QB Rating, dtype: int64
Opp
ATL    39
Name: QB Rating, dtype: int64
Opp
BAL    78
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
NO    0
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
HOU    0
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
NYG    67
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
TEN    63
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
ARI    118
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
LAC    65
Name: QB Rating, dtype: int64
Opp
NE    89
Name: QB Rating, dtype: int64
Opp
LAC    65
Name: QB Rating, dtype: int64
Opp
DET    113
Name: QB Rating, dtype: int64
Opp
HOU    40
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
MIA    94
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
JAX    65
Name: QB Rating, dtype: int64
Opp
HOU    49
Name: QB Rating, dtype: int64
Opp
IND    71
Name: QB Rating, dtype: int64
Opp
NYJ    80
Name: QB Rating, dtype: int64
Opp
GB    41
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
JAX    0
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
DET    79
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
TEN    0
Name: QB Rating, dtype: int64
Opp
HOU    71
Name: QB Rating, dtype: int64
Opp
SF    53
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
MIN    124
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
IND    99
Name: QB Rating, dtype: int64
Opp
GB    28
Name: QB Rating, dtype: int64
Opp
LAR    59
Name: QB Rating, dtype: int64
Opp
DAL    140
Name: QB Rating, dtype: int64
Opp
JAX    89
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
DET    76
Name: QB Rating, dtype: int64
Opp
CAR    83
Name: QB Rating, dtype: int64
Opp
TEN    138
Name: QB Rating, dtype: int64
Opp
HOU    17
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
MIN    86
Name: QB Rating, dtype: int64
Opp
SEA    120
Name: QB Rating, dtype: int64
Opp
MIN    57
Name: QB Rating, dtype: int64
Opp
GB    73
Name: QB Rating, dtype: int64
Opp
ARI    77
Name: QB Rating, dtype: int64
Opp
CIN    128
Name: QB Rating, dtype: int64
Opp
PHI    67
Name: QB Rating, dtype: int64
Opp
NE    118
Name: QB Rating, dtype: int64
Opp
CLE    83
Name: QB Rating, dtype: int64
Opp
KC    56
Name: QB Rating, dtype: int64
Opp
DAL    107
Name: QB Rating, dtype: int64
Opp
HOU    45
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
CLE    95
Name: QB Rating, dtype: int64
Opp
OAK    116
Name: QB Rating, dtype: int64
Opp
PIT    76
Name: QB Rating, dtype: int64
Opp
LAC    87
Name: QB Rating, dtype: int64
Opp
PIT    62
Name: QB Rating, dtype: int64
Opp
WAS    121
Name: QB Rating, dtype: int64
Opp
DEN    76
Name: QB Rating, dtype: int64
Opp
NYG    114
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
TEN    0
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
SEA    51
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
BUF    6
Name: QB Rating, dtype: int64
Opp
MIN    88
Name: QB Rating, dtype: int64
Opp
SF    69
Name: QB Rating, dtype: int64
Opp
GB    70
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
ATL    40
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
SEA    18
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
CAR    95
Name: QB Rating, dtype: int64
Opp
NYG    77
Name: QB Rating, dtype: int64
Opp
DAL    45
Name: QB Rating, dtype: int64
Opp
WAS    83
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
KC    125
Name: QB Rating, dtype: int64
Opp
NO    115
Name: QB Rating, dtype: int64
Opp
MIN    104
Name: QB Rating, dtype: int64
Opp
OAK    109
Name: QB Rating, dtype: int64
Opp
LAC    138
Name: QB Rating, dtype: int64
Opp
CAR    73
Name: QB Rating, dtype: int64
Opp
ATL    90
Name: QB Rating, dtype: int64
Opp
DEN    73
Name: QB Rating, dtype: int64
Opp
PHI    79
Name: QB Rating, dtype: int64
Opp
NO    37
Name: QB Rating, dtype: int64
Opp
LAR    52
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
NE    56
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
ARI    40
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
SEA    139
Name: QB Rating, dtype: int64
Opp
NE    82
Name: QB Rating, dtype: int64
Opp
PHI    127
Name: QB Rating, dtype: int64
Opp
MIA    84
Name: QB Rating, dtype: int64
Opp
LAR    73
Name: QB Rating, dtype: int64
Opp
BUF    64
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
ATL    97
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
BAL    158
Name: QB Rating, dtype: int64
Opp
CLE    104
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
CHI    137
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)

Series([], Name: QB Rating, dtype: int64)
Opp
SEA    79
Name: QB Rating, dtype: int64
Opp
LAR    79
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
TEN    40
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
TEN    117
Name: QB Rating, dtype: int64
Opp
ARI    80
Name: QB Rating, dtype: int64
Opp
BAL    101
Name: QB Rating, dtype: int64
Opp
BUF    120
Name: QB Rating, dtype: int64
Opp
DEN    105
Name: QB Rating, dtype: int64
Opp
SEA    79
Name: QB Rating, dtype: int64
Opp
NYJ    95
Name: QB Rating, dtype: int64
Opp
LAR    131
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
BUF    96
Name: QB Rating, dtype: int64
Opp
IND    127
Name: QB Rating, dtype: int64
Opp
NYJ    145
Name: QB Rating, dtype: int64
Opp
MIA    75
Name: QB Rating, dtype: int64
Opp
HOU    125
Name: QB Rating, dtype: int64
Opp
SF    69
Name: QB Rating, dtype: int64
Opp
JAX    74
Name: QB Rating, dtype: int64
Opp
NYG    130
Name: QB Rating, dtype: int64
Opp
SEA    74
Name: QB Rating, dtype: int64
Opp
TB    75
Name: QB Rating, dtype: int64
Opp
CHI    60
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Opp
BAL    97
Name: QB Rating, dtype: int64
Opp
CAR    99
Name: QB Rating, dtype: int64
Opp
NYG    58
Name: QB Rating, dtype: int64
Opp
ATL    109
Name: QB Rating, dtype: int64
Opp
PHI    122
Name: QB Rating, dtype: int64
Opp
CLE    93
Name: QB Rating, dtype: int64
Opp
WAS    84
Name: QB Rating, dtype: int64
Opp
PHI    150
Name: QB Rating, dtype: int64
Opp
CIN    75
Name: QB Rating, dtype: int64
Opp
PIT    111
Name: QB Rating, dtype: int64
Opp
NO    124
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
CIN    99
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
CLE    0
Name: QB Rating, dtype: int64
Opp
KC    0
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
CLE    0
Name: QB Rating, dtype: int64
Opp
OAK    40
Name: QB Rating, dtype: int64
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Series([], Name: QB Rating, dtype: int64)
Opp
SF    5
Name: rush_att, dtype: int64
Opp
CHI    3
Name: rush_att, dtype: int64
Opp
SEA    2
Name: rush_att, dtype: int64
Opp
NO    5
Name: rush_att, dtype: int64
Opp
IND    5
Name: rush_att, dtype: int64
Opp
HOU    2
Name: rush_att, dtype: int64
Opp
LAR    2
Name: rush_att, dtype: int64
Opp
JAX    3
Name: rush_att, dtype: int64
Opp
ARI    8
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
DET    1
Name: rush_att, dtype: int64
Opp
NYG    3
Name: rush_att, dtype: int64
Opp
MIN    4
Name: rush_att, dtype: int64
Opp
DET    3
Name: rush_att, dtype: int64
Opp
CHI    4
Name: rush_att, dtype: int64
Opp
TEN    4
Name: rush_att, dtype: int64
Opp
GB    5
Name: rush_att, dtype: int64
Opp
DET    4
Name: rush_att, dtype: int64
Opp
MIN    4
Name: rush_att, dtype: int64
Opp
NYJ    3
Name: rush_att, dtype: int64
Opp
BUF    3
Name: rush_att, dtype: int64
Opp
NYG    2
Name: rush_att, dtype: int64
Opp
SEA    5
Name: rush_att, dtype: int64
Opp
ARI    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
LAR    2
Name: rush_att, dtype: int64
Opp
CHI    0
Name: rush_att, dtype: int64
Opp
NO    0
Name: rush_att, dtype: int64
Opp
LAR    0
Name: rush_att, dtype: int64
Opp
MIA    0
Name: rush_att, dtype: int64
Opp
NE    0
Name: rush_att, dtype: int64
Opp
SEA    0
Name: rush_att, dtype: int64
Opp
CHI    2
Name: rush_att, dtype: int64
Opp
MIN    4
Name: rush_att, dtype: int64
Opp
JAX    4
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
GB    6
Name: rush_att, dtype: int64
Opp
NYJ    1
Name: rush_att, dtype: int64
Opp
CLE    3
Name: rush_att, dtype: int64
Opp
TEN    6
Name: rush_att, dtype: int64
Opp
MIA    1
Name: rush_att, dtype: int64
Opp
JAX    7
Name: rush_att, dtype: int64
Opp
NE    1
Name: rush_att, dtype: int64
Opp
BUF    6
Name: rush_att, dtype: int64
Opp
DET    3
Name: rush_att, dtype: int64
Opp
TEN    5
Name: rush_att, dtype: int64
Opp
HOU    2
Name: rush_att, dtype: int64
Opp
KC    6
Name: rush_att, dtype: int64
Opp
BAL    3
Name: rush_att, dtype: int64
Opp
CLE    3
Name: rush_att, dtype: int64
Opp
WAS    2
Name: rush_att, dtype: int64
Opp
JAX    6
Name: rush_att, dtype: int64
Opp
MIA    4
Name: rush_att, dtype: int64
Opp
CLE    2
Name: rush_att, dtype: int64
Opp
PIT    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
DEN    2
Name: rush_att, dtype: int64
Opp
NYG    2
Name: rush_att, dtype: int64
Opp
KC    3
Name: rush_att, dtype: int64
Opp
OAK    4
Name: rush_att, dtype: int64
Opp
LAC    4
Name: rush_att, dtype: int64
Opp
DAL    1
Name: rush_att, dtype: int64
Opp
PHI    8
Name: rush_att, dtype: int64
Opp
PIT    0
Name: rush_att, dtype: int64
Opp
DEN    2
Name: rush_att, dtype: int64
Opp
NYJ    0
Name: rush_att, dtype: int64
Opp
OAK    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
PHI    3
Name: rush_att, dtype: int64
Opp
TEN    1
Name: rush_att, dtype: int64
Opp
CIN    1
Name: rush_att, dtype: int64
Opp
WAS    2
Name: rush_att, dtype: int64
Opp
NYG    4
Name: rush_att, dtype: int64
Opp
KC    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
LAC    5
Name: rush_att, dtype: int64
Opp
DAL    2
Name: rush_att, dtype: int64
Opp
CIN    2
Name: rush_att, dtype: int64
Opp
MIN    5
Name: rush_att, dtype: int64
Opp
HOU    1
Name: rush_att, dtype: int64
Opp
IND    2
Name: rush_att, dtype: int64
Opp
CIN    3
Name: rush_att, dtype: int64
Opp
CHI    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
OAK    0
Name: rush_att, dtype: int64
Opp
GB    1
Name: rush_att, dtype: int64
Opp
DET    3
Name: rush_att, dtype: int64
Opp
IND    1
Name: rush_att, dtype: int64
Opp
HOU    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
BAL    0
Name: rush_att, dtype: int64
Opp
TB    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
OAK    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
CIN    3
Name: rush_att, dtype: int64
Opp
DEN    1
Name: rush_att, dtype: int64
Opp
CAR    3
Name: rush_att, dtype: int64
Opp
CLE    1
Name: rush_att, dtype: int64
Opp
OAK    0
Name: rush_att, dtype: int64
Opp
IND    5
Name: rush_att, dtype: int64
Opp
PHI    2
Name: rush_att, dtype: int64
Opp
CIN    2
Name: rush_att, dtype: int64
Opp
BUF    0
Name: rush_att, dtype: int64
Opp
BAL    0
Name: rush_att, dtype: int64
Opp
NYG    1
Name: rush_att, dtype: int64
Opp
CIN    3
Name: rush_att, dtype: int64
Opp
IND    1
Name: rush_att, dtype: int64
Opp
LAC    4
Name: rush_att, dtype: int64
Opp
BAL    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
DAL    0
Name: rush_att, dtype: int64
Opp
PIT    2
Name: rush_att, dtype: int64
Opp
OAK    5
Name: rush_att, dtype: int64
Opp
KC    1
Name: rush_att, dtype: int64
Opp
WAS    1
Name: rush_att, dtype: int64
Opp
DEN    3
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
CHI    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
OAK    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
NO    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
BAL    2
Name: rush_att, dtype: int64
Opp
CLE    1
Name: rush_att, dtype: int64
Opp
BAL    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
KC    0
Name: rush_att, dtype: int64
Opp
BAL    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
TB    5
Name: rush_att, dtype: int64
Opp
NO    13
Name: rush_att, dtype: int64
Opp
NYG    6
Name: rush_att, dtype: int64
Opp
ATL    9
Name: rush_att, dtype: int64
Opp
SEA    7
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
DAL    6
Name: rush_att, dtype: int64
Opp
CHI    5
Name: rush_att, dtype: int64
Opp
WAS    8
Name: rush_att, dtype: int64
Opp
DEN    4
Name: rush_att, dtype: int64
Opp
TB    11
Name: rush_att, dtype: int64
Opp
PHI    14
Name: rush_att, dtype: int64
Opp
KC    7
Name: rush_att, dtype: int64
Opp
ATL    9
Name: rush_att, dtype: int64
Opp
LAC    4
Name: rush_att, dtype: int64
Opp
OAK    12
Name: rush_att, dtype: int64
Opp
LAC    0
Name: rush_att, dtype: int64
Opp
MIA    2
Name: rush_att, dtype: int64
Opp
PIT    2
Name: rush_att, dtype: int64
Opp
DEN    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
ATL    0
Name: rush_att, dtype: int64
Opp
JAX    6
Name: rush_att, dtype: int64
Opp
KC    1
Name: rush_att, dtype: int64
Opp
TB    1
Name: rush_att, dtype: int64
Opp
BAL    1
Name: rush_att, dtype: int64
Opp
NO    1
Name: rush_att, dtype: int64
Opp
CIN    0
Name: rush_att, dtype: int64
Opp
CLE    1
Name: rush_att, dtype: int64
Opp
DEN    1
Name: rush_att, dtype: int64
Opp
KC    2
Name: rush_att, dtype: int64
Opp
CAR    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
HOU    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
OAK    3
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
IND    0
Name: rush_att, dtype: int64
Opp
HOU    2
Name: rush_att, dtype: int64
Opp
TEN    2
Name: rush_att, dtype: int64
Opp
BUF    3
Name: rush_att, dtype: int64
Opp
NYJ    1
Name: rush_att, dtype: int64
Opp
MIA    3
Name: rush_att, dtype: int64
Opp
NE    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
CLE    0
Name: rush_att, dtype: int64
Opp
BAL    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
WAS    0
Name: rush_att, dtype: int64
Opp
CAR    0
Name: rush_att, dtype: int64
Opp
KC    0
Name: rush_att, dtype: int64
Opp
GB    0
Name: rush_att, dtype: int64
Opp
LAC    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
TB    0
Name: rush_att, dtype: int64
Opp
DEN    0
Name: rush_att, dtype: int64
Opp
PHI    0
Name: rush_att, dtype: int64
Opp
ATL    0
Name: rush_att, dtype: int64
Opp
OAK    3
Name: rush_att, dtype: int64
Opp
SF    0
Name: rush_att, dtype: int64
Opp
ATL    0
Name: rush_att, dtype: int64
Opp
NYG    0
Name: rush_att, dtype: int64
Opp
TB    0
Name: rush_att, dtype: int64
Opp
DAL    0
Name: rush_att, dtype: int64
Opp
JAX    1
Name: rush_att, dtype: int64
Opp
IND    3
Name: rush_att, dtype: int64
Opp
SF    7
Name: rush_att, dtype: int64
Opp
DET    1
Name: rush_att, dtype: int64
Opp
TEN    3
Name: rush_att, dtype: int64
Opp
WAS    4
Name: rush_att, dtype: int64
Opp
ARI    1
Name: rush_att, dtype: int64
Opp
TB    4
Name: rush_att, dtype: int64
Opp
SEA    5
Name: rush_att, dtype: int64
Opp
DET    6
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
CHI    2
Name: rush_att, dtype: int64
Opp
GB    6
Name: rush_att, dtype: int64
Opp
CHI    4
Name: rush_att, dtype: int64
Opp
LAR    4
Name: rush_att, dtype: int64
Opp
HOU    7
Name: rush_att, dtype: int64
Opp
GB    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
NYJ    5
Name: rush_att, dtype: int64
Opp
BUF    4
Name: rush_att, dtype: int64
Opp
NYG    2
Name: rush_att, dtype: int64
Opp
SEA    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
LAR    8
Name: rush_att, dtype: int64
Opp
CHI    4
Name: rush_att, dtype: int64
Opp
NO    6
Name: rush_att, dtype: int64
Opp
LAR    9
Name: rush_att, dtype: int64
Opp
MIA    6
Name: rush_att, dtype: int64
Opp
NE    7
Name: rush_att, dtype: int64
Opp
SEA    7
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
PIT    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
KC    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
DEN    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
NO    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
CAR    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
NYG    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
WAS    0
Name: rush_att, dtype: int64
Opp
CAR    2
Name: rush_att, dtype: int64
Opp
KC    1
Name: rush_att, dtype: int64
Opp
GB    0
Name: rush_att, dtype: int64
Opp
LAC    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
TB    1
Name: rush_att, dtype: int64
Opp
DEN    2
Name: rush_att, dtype: int64
Opp
PHI    1
Name: rush_att, dtype: int64
Opp
ATL    1
Name: rush_att, dtype: int64
Opp
OAK    0
Name: rush_att, dtype: int64
Opp
SF    2
Name: rush_att, dtype: int64
Opp
ATL    0
Name: rush_att, dtype: int64
Opp
NYG    1
Name: rush_att, dtype: int64
Opp
TB    1
Name: rush_att, dtype: int64
Opp
DAL    1
Name: rush_att, dtype: int64
Opp
DAL    0
Name: rush_att, dtype: int64
Opp
TB    3
Name: rush_att, dtype: int64
Opp
CAR    2
Name: rush_att, dtype: int64
Opp
PHI    0
Name: rush_att, dtype: int64
Opp
CLE    2
Name: rush_att, dtype: int64
Opp
SF    3
Name: rush_att, dtype: int64
Opp
WAS    2
Name: rush_att, dtype: int64
Opp
DAL    1
Name: rush_att, dtype: int64
Opp
PIT    0
Name: rush_att, dtype: int64
Opp
CIN    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
GB    2
Name: rush_att, dtype: int64
Opp
WAS    1
Name: rush_att, dtype: int64
Opp
NO    2
Name: rush_att, dtype: int64
Opp
ATL    0
Name: rush_att, dtype: int64
Opp
BAL    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
NO    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
HOU    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)

Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
SEA    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
BUF    0
Name: rush_att, dtype: int64
Opp
MIN    0
Name: rush_att, dtype: int64
Opp
SF    1
Name: rush_att, dtype: int64
Opp
GB    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
ATL    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
SEA    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
CAR    7
Name: rush_att, dtype: int64
Opp
NYG    0
Name: rush_att, dtype: int64
Opp
DAL    1
Name: rush_att, dtype: int64
Opp
WAS    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
KC    3
Name: rush_att, dtype: int64
Opp
NO    1
Name: rush_att, dtype: int64
Opp
MIN    3
Name: rush_att, dtype: int64
Opp
OAK    5
Name: rush_att, dtype: int64
Opp
LAC    1
Name: rush_att, dtype: int64
Opp
CAR    5
Name: rush_att, dtype: int64
Opp
ATL    0
Name: rush_att, dtype: int64
Opp
DEN    2
Name: rush_att, dtype: int64
Opp
PHI    2
Name: rush_att, dtype: int64
Opp
NO    2
Name: rush_att, dtype: int64
Opp
LAR    4
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
NE    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
ARI    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
SEA    1
Name: rush_att, dtype: int64
Opp
NE    5
Name: rush_att, dtype: int64
Opp
PHI    4
Name: rush_att, dtype: int64
Opp
MIA    0
Name: rush_att, dtype: int64
Opp
LAR    1
Name: rush_att, dtype: int64
Opp
BUF    5
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
ATL    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
BAL    0
Name: rush_att, dtype: int64
Opp
CLE    3
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
CHI    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
LAC    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
NYG    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
BUF    0
Name: rush_att, dtype: int64
Opp
PIT    0
Name: rush_att, dtype: int64
Opp
MIA    1
Name: rush_att, dtype: int64
Opp
SF    0
Name: rush_att, dtype: int64
Opp
HOU    2
Name: rush_att, dtype: int64
Opp
IND    1
Name: rush_att, dtype: int64
Opp
NE    1
Name: rush_att, dtype: int64
Opp
MIA    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
SEA    0
Name: rush_att, dtype: int64
Opp
LAR    4
Name: rush_att, dtype: int64
Opp
NE    2
Name: rush_att, dtype: int64
Opp
ARI    1
Name: rush_att, dtype: int64
Opp
JAX    3
Name: rush_att, dtype: int64
Opp
TEN    4
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
ATL    4
Name: rush_att, dtype: int64
Opp
BUF    2
Name: rush_att, dtype: int64
Opp
NO    1
Name: rush_att, dtype: int64
Opp
LAC    0
Name: rush_att, dtype: int64
Opp
BAL    4
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
OAK    7
Name: rush_att, dtype: int64
Opp
LAC    6
Name: rush_att, dtype: int64
Opp
PIT    2
Name: rush_att, dtype: int64
Opp
CIN    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
ARI    1
Name: rush_att, dtype: int64
Opp
BUF    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
NE    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
HOU    2
Name: rush_att, dtype: int64
Opp
MIN    2
Name: rush_att, dtype: int64
Opp
PIT    1
Name: rush_att, dtype: int64
Opp
BUF    1
Name: rush_att, dtype: int64
Opp
IND    2
Name: rush_att, dtype: int64
Opp
CHI    2
Name: rush_att, dtype: int64
Opp
MIA    3
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
BAL    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
CAR    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
NYJ    4
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
TEN    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
SF    0
Name: rush_att, dtype: int64
Opp
JAX    0
Name: rush_att, dtype: int64
Opp
BUF    0
Name: rush_att, dtype: int64
Opp
KC    3
Name: rush_att, dtype: int64
Opp
DEN    6
Name: rush_att, dtype: int64
Opp
LAC    1
Name: rush_att, dtype: int64
Opp
CAR    0
Name: rush_att, dtype: int64
Opp
WAS    5
Name: rush_att, dtype: int64
Opp
OAK    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
PHI    3
Name: rush_att, dtype: int64
Opp
DAL    1
Name: rush_att, dtype: int64
Opp
NO    2
Name: rush_att, dtype: int64
Opp
ARI    3
Name: rush_att, dtype: int64
Opp
TB    1
Name: rush_att, dtype: int64
Opp
NO    3
Name: rush_att, dtype: int64
Opp
CAR    0
Name: rush_att, dtype: int64
Opp
NYG    1
Name: rush_att, dtype: int64
Opp
DET    2
Name: rush_att, dtype: int64
Opp
MIA    4
Name: rush_att, dtype: int64
Opp
JAX    2
Name: rush_att, dtype: int64
Opp
DEN    0
Name: rush_att, dtype: int64
Opp
TEN    2
Name: rush_att, dtype: int64
Opp
NYJ    0
Name: rush_att, dtype: int64
Opp
GB    1
Name: rush_att, dtype: int64
Opp
BAL    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
BUF    1
Name: rush_att, dtype: int64
Opp
CHI    2
Name: rush_att, dtype: int64
Opp
JAX    0
Name: rush_att, dtype: int64
Opp
DET    2
Name: rush_att, dtype: int64
Opp
TEN    4
Name: rush_att, dtype: int64
Opp
NE    0
Name: rush_att, dtype: int64
Opp
IND    0
Name: rush_att, dtype: int64
Opp
MIN    0
Name: rush_att, dtype: int64
Opp
LAR    0
Name: rush_att, dtype: int64
Opp
SF    2
Name: rush_att, dtype: int64
Opp
TEN    2
Name: rush_att, dtype: int64
Opp
MIN    4
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
PHI    3
Name: rush_att, dtype: int64
Opp
CHI    3
Name: rush_att, dtype: int64
Opp
SEA    4
Name: rush_att, dtype: int64
Opp
JAX    2
Name: rush_att, dtype: int64
Opp
MIN    3
Name: rush_att, dtype: int64
Opp
GB    2
Name: rush_att, dtype: int64
Opp
HOU    2
Name: rush_att, dtype: int64
Opp
IND    1
Name: rush_att, dtype: int64
Opp
GB    3
Name: rush_att, dtype: int64
Opp
ARI    0
Name: rush_att, dtype: int64
Opp
ATL    1
Name: rush_att, dtype: int64
Opp
CLE    7
Name: rush_att, dtype: int64
Opp
BAL    10
Name: rush_att, dtype: int64
Opp
ARI    4
Name: rush_att, dtype: int64
Opp
NYG    6
Name: rush_att, dtype: int64
Opp
PIT    5
Name: rush_att, dtype: int64
Opp
DET    9
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
ATL    7
Name: rush_att, dtype: int64
Opp
NO    6
Name: rush_att, dtype: int64
Opp
DAL    3
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
DAL    0
Name: rush_att, dtype: int64
Opp
WAS    1
Name: rush_att, dtype: int64
Opp
CAR    1
Name: rush_att, dtype: int64
Opp
DAL    0
Name: rush_att, dtype: int64
Opp
TB    3
Name: rush_att, dtype: int64
Opp
CIN    2
Name: rush_att, dtype: int64
Opp
WAS    4
Name: rush_att, dtype: int64
Opp
PIT    4
Name: rush_att, dtype: int64
Opp
ATL    1
Name: rush_att, dtype: int64
Opp
HOU    0
Name: rush_att, dtype: int64
Opp
OAK    1
Name: rush_att, dtype: int64
Opp
NE    2
Name: rush_att, dtype: int64
Opp
LAC    3
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
NO    1
Name: rush_att, dtype: int64
Opp
CIN    2
Name: rush_att, dtype: int64
Opp
CAR    3
Name: rush_att, dtype: int64
Opp
LAC    0
Name: rush_att, dtype: int64
Opp
KC    1
Name: rush_att, dtype: int64
Opp
TB    2
Name: rush_att, dtype: int64
Opp
OAK    3
Name: rush_att, dtype: int64
Opp
BAL    0
Name: rush_att, dtype: int64
Opp
CLE    0
Name: rush_att, dtype: int64
Opp
OAK    1
Name: rush_att, dtype: int64
Opp
TEN    1
Name: rush_att, dtype: int64
Opp
ATL    2
Name: rush_att, dtype: int64
Opp
KC    3
Name: rush_att, dtype: int64
Opp
NO    0
Name: rush_att, dtype: int64
Opp
DEN    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
CLE    0
Name: rush_att, dtype: int64
Opp
KC    2
Name: rush_att, dtype: int64
Opp
TB    2
Name: rush_att, dtype: int64
Opp
DEN    0
Name: rush_att, dtype: int64
Opp
BAL    0
Name: rush_att, dtype: int64
Opp
CIN    2
Name: rush_att, dtype: int64
Opp
PIT    3
Name: rush_att, dtype: int64
Opp
CAR    3
Name: rush_att, dtype: int64
Opp
NYJ    5
Name: rush_att, dtype: int64
Opp
NO    9
Name: rush_att, dtype: int64
Opp
LAR    11
Name: rush_att, dtype: int64
Opp
CIN    13
Name: rush_att, dtype: int64
Opp
TB    8
Name: rush_att, dtype: int64
Opp
ATL    1
Name: rush_att, dtype: int64
Opp
MIN    13
Name: rush_att, dtype: int64
Opp
NYG    9
Name: rush_att, dtype: int64
Opp
PIT    6
Name: rush_att, dtype: int64
Opp
CAR    11
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
PHI    12
Name: rush_att, dtype: int64
Opp
DAL    7
Name: rush_att, dtype: int64
Opp
NYG    5
Name: rush_att, dtype: int64
Opp
BAL    7
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
PHI    2
Name: rush_att, dtype: int64
Opp
ARI    8
Name: rush_att, dtype: int64
Opp
DAL    4
Name: rush_att, dtype: int64
Opp
GB    3
Name: rush_att, dtype: int64
Opp
LAR    7
Name: rush_att, dtype: int64
Opp
CAR    5
Name: rush_att, dtype: int64
Opp
NE    5
Name: rush_att, dtype: int64
Opp
SF    3
Name: rush_att, dtype: int64
Opp
DET    1
Name: rush_att, dtype: int64
Opp
MIN    9
Name: rush_att, dtype: int64
Opp
NYJ    7
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
MIA    5
Name: rush_att, dtype: int64
Opp
CHI    9
Name: rush_att, dtype: int64
Opp
ARI    3
Name: rush_att, dtype: int64
Opp
BUF    9
Name: rush_att, dtype: int64
Opp
SF    6
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
MIN    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
NYJ    2
Name: rush_att, dtype: int64
Opp
KC    4
Name: rush_att, dtype: int64
Opp
CLE    6
Name: rush_att, dtype: int64
Opp
NE    3
Name: rush_att, dtype: int64
Opp
SF    2
Name: rush_att, dtype: int64
Opp
ARI    3
Name: rush_att, dtype: int64
Opp
TEN    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
HOU    2
Name: rush_att, dtype: int64
Opp
NE    3
Name: rush_att, dtype: int64
Opp
MIA    3
Name: rush_att, dtype: int64
Opp
IND    3
Name: rush_att, dtype: int64
Opp
JAX    5
Name: rush_att, dtype: int64
Opp
LAR    3
Name: rush_att, dtype: int64
Opp
SEA    3
Name: rush_att, dtype: int64
Opp
MIA    4
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
ATL    0
Name: rush_att, dtype: int64
Opp
LAR    1
Name: rush_att, dtype: int64
Opp
NYJ    0
Name: rush_att, dtype: int64
Opp
SEA    1
Name: rush_att, dtype: int64
Opp
DET    2
Name: rush_att, dtype: int64
Opp
CHI    0
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
LAR    3
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
IND    0
Name: rush_att, dtype: int64
Opp
NYJ    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
HOU    3
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
HOU    3
Name: rush_att, dtype: int64
Opp
OAK    3
Name: rush_att, dtype: int64
Opp
NYJ    3
Name: rush_att, dtype: int64
Opp
ARI    1
Name: rush_att, dtype: int64
Opp
CIN    4
Name: rush_att, dtype: int64
Opp
LAR    4
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
NYJ    0
Name: rush_att, dtype: int64
Opp
IND    1
Name: rush_att, dtype: int64
Opp
TEN    1
Name: rush_att, dtype: int64
Opp
BUF    1
Name: rush_att, dtype: int64
Opp
SEA    4
Name: rush_att, dtype: int64
Opp
NE    5
Name: rush_att, dtype: int64
Opp
SF    3
Name: rush_att, dtype: int64
Opp
JAX    8
Name: rush_att, dtype: int64
Opp
BUF    6
Name: rush_att, dtype: int64
Opp
DET    2
Name: rush_att, dtype: int64
Opp
WAS    3
Name: rush_att, dtype: int64
Opp
CHI    2
Name: rush_att, dtype: int64
Opp
SEA    2
Name: rush_att, dtype: int64
Opp
ARI    5
Name: rush_att, dtype: int64
Opp
MIA    4
Name: rush_att, dtype: int64
Opp
GB    0
Name: rush_att, dtype: int64
Opp
NE    3
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Opp
SF    1
Name: rush_att, dtype: int64
Opp
NYJ    1
Name: rush_att, dtype: int64
Opp
ARI    2
Name: rush_att, dtype: int64
Opp
SF    3
Name: rush_att, dtype: int64
Opp
BUF    4
Name: rush_att, dtype: int64
Opp
MIN    2
Name: rush_att, dtype: int64
Opp
TB    2
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Opp
TEN    1
Name: rush_att, dtype: int64
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)
Series([], Name: rush_att, dtype: int64)

Name: rush_yds, dtype: int64
Opp
HOU    48
Name: rush_yds, dtype: int64
Opp
GB    17
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
NYJ    50
Name: rush_yds, dtype: int64
Opp
BUF    39
Name: rush_yds, dtype: int64
Opp
NYG    6
Name: rush_yds, dtype: int64
Opp
SEA   -1
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
LAR    66
Name: rush_yds, dtype: int64
Opp
CHI    10
Name: rush_yds, dtype: int64
Opp
NO    27
Name: rush_yds, dtype: int64
Opp
LAR    84
Name: rush_yds, dtype: int64
Opp
MIA    53
Name: rush_yds, dtype: int64
Opp
NE    28
Name: rush_yds, dtype: int64
Opp
SEA    31
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
PIT    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
KC   -2
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
DEN    17
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
NO    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
CAR    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
NYG    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
WAS    0
Name: rush_yds, dtype: int64
Opp
CAR    0
Name: rush_yds, dtype: int64
Opp
KC   -1
Name: rush_yds, dtype: int64
Opp
GB    0
Name: rush_yds, dtype: int64
Opp
LAC   -2
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
TB    1
Name: rush_yds, dtype: int64
Opp
DEN    2
Name: rush_yds, dtype: int64
Opp
PHI   -1
Name: rush_yds, dtype: int64
Opp
ATL   -1
Name: rush_yds, dtype: int64
Opp
OAK    0
Name: rush_yds, dtype: int64
Opp
SF   -2
Name: rush_yds, dtype: int64
Opp
ATL    0
Name: rush_yds, dtype: int64
Opp
NYG   -1
Name: rush_yds, dtype: int64
Opp
TB    11
Name: rush_yds, dtype: int64
Opp
DAL   -1
Name: rush_yds, dtype: int64
Opp
DAL    0
Name: rush_yds, dtype: int64
Opp
TB   -2
Name: rush_yds, dtype: int64
Opp
CAR    5
Name: rush_yds, dtype: int64
Opp
PHI    0
Name: rush_yds, dtype: int64
Opp
CLE   -1
Name: rush_yds, dtype: int64
Opp
SF   -2
Name: rush_yds, dtype: int64
Opp
WAS    4
Name: rush_yds, dtype: int64
Opp
DAL    3
Name: rush_yds, dtype: int64
Opp
PIT    0
Name: rush_yds, dtype: int64
Opp
CIN    1
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
GB    12
Name: rush_yds, dtype: int64
Opp
WAS    5
Name: rush_yds, dtype: int64
Opp
NO   -3
Name: rush_yds, dtype: int64
Opp
ATL    0
Name: rush_yds, dtype: int64
Opp
BAL    8
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
NO    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
HOU    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
NYG    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
TEN   -3
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
ARI    5
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
LAC    25
Name: rush_yds, dtype: int64
Opp
NE    11
Name: rush_yds, dtype: int64
Opp
LAC    21
Name: rush_yds, dtype: int64
Opp
DET    35
Name: rush_yds, dtype: int64
Opp
HOU    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
MIA    36
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
JAX    21
Name: rush_yds, dtype: int64
Opp
HOU    38
Name: rush_yds, dtype: int64
Opp
IND    51
Name: rush_yds, dtype: int64
Opp
NYJ    43
Name: rush_yds, dtype: int64
Opp
GB    32
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
JAX    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
DET    5
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
TEN   -3
Name: rush_yds, dtype: int64
Opp
HOU    5
Name: rush_yds, dtype: int64
Opp
SF    13
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
MIN    8
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
IND   -4
Name: rush_yds, dtype: int64
Opp
GB    12
Name: rush_yds, dtype: int64
Opp
LAR    18
Name: rush_yds, dtype: int64
Opp
DAL    0
Name: rush_yds, dtype: int64
Opp
JAX    22
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
DET    34
Name: rush_yds, dtype: int64
Opp
CAR    4
Name: rush_yds, dtype: int64
Opp
TEN    12
Name: rush_yds, dtype: int64
Opp
HOU    37
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
MIN    9
Name: rush_yds, dtype: int64
Opp
SEA    27
Name: rush_yds, dtype: int64
Opp
MIN    16
Name: rush_yds, dtype: int64
Opp
GB    9
Name: rush_yds, dtype: int64
Opp
ARI    8
Name: rush_yds, dtype: int64
Opp
CIN   -1
Name: rush_yds, dtype: int64
Opp
PHI    0
Name: rush_yds, dtype: int64
Opp
NE    3
Name: rush_yds, dtype: int64
Opp
CLE    4
Name: rush_yds, dtype: int64
Opp
KC    14
Name: rush_yds, dtype: int64
Opp
DAL    2
Name: rush_yds, dtype: int64
Opp
HOU    7
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
CLE    1
Name: rush_yds, dtype: int64
Opp
OAK    1
Name: rush_yds, dtype: int64
Opp
PIT   -1
Name: rush_yds, dtype: int64
Opp
LAC   -4
Name: rush_yds, dtype: int64
Opp
PIT   -1
Name: rush_yds, dtype: int64
Opp
WAS    9
Name: rush_yds, dtype: int64
Opp
DEN   -2
Name: rush_yds, dtype: int64
Opp
NYG   -10
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
TEN   -1
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
SEA    2
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
BUF    0
Name: rush_yds, dtype: int64
Opp
MIN    0
Name: rush_yds, dtype: int64
Opp
SF    1
Name: rush_yds, dtype: int64
Opp
GB    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
ATL    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
SEA    2
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
CAR    13
Name: rush_yds, dtype: int64
Opp
NYG    0
Name: rush_yds, dtype: int64
Opp
DAL    1
Name: rush_yds, dtype: int64
Opp
WAS    8
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
KC    5
Name: rush_yds, dtype: int64
Opp
NO    13
Name: rush_yds, dtype: int64
Opp
MIN   -1
Name: rush_yds, dtype: int64
Opp
OAK    22
Name: rush_yds, dtype: int64
Opp
LAC    4
Name: rush_yds, dtype: int64
Opp
CAR    27
Name: rush_yds, dtype: int64
Opp
ATL    0
Name: rush_yds, dtype: int64
Opp
DEN    7
Name: rush_yds, dtype: int64
Opp
PHI    13
Name: rush_yds, dtype: int64
Opp
NO    8
Name: rush_yds, dtype: int64
Opp
LAR    18
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
NE    5
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
ARI    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
SEA   -1
Name: rush_yds, dtype: int64
Opp
NE    17
Name: rush_yds, dtype: int64
Opp
PHI    16
Name: rush_yds, dtype: int64
Opp
MIA    0
Name: rush_yds, dtype: int64
Opp
LAR    2
Name: rush_yds, dtype: int64
Opp
BUF    66
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
ATL    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
BAL    0
Name: rush_yds, dtype: int64
Opp
CLE    22
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
CHI    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
LAC    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
NYG   -3
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
BUF    0
Name: rush_yds, dtype: int64
Opp
PIT    0
Name: rush_yds, dtype: int64
Opp
MIA    4
Name: rush_yds, dtype: int64
Opp
SF    0
Name: rush_yds, dtype: int64
Opp
HOU    1
Name: rush_yds, dtype: int64
Opp
IND   -1
Name: rush_yds, dtype: int64
Opp
NE    0
Name: rush_yds, dtype: int64
Opp
MIA    6
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
SEA    0
Name: rush_yds, dtype: int64
Opp
LAR   -2
Name: rush_yds, dtype: int64
Opp
NE    2
Name: rush_yds, dtype: int64
Opp
ARI    2
Name: rush_yds, dtype: int64
Opp
JAX    11
Name: rush_yds, dtype: int64
Opp
TEN    6
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
ATL    20
Name: rush_yds, dtype: int64
Opp
BUF    25
Name: rush_yds, dtype: int64
Opp
NO    2
Name: rush_yds, dtype: int64
Opp
LAC    0
Name: rush_yds, dtype: int64
Opp
BAL    14
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
OAK    35
Name: rush_yds, dtype: int64
Opp
LAC    37
Name: rush_yds, dtype: int64
Opp
PIT    12
Name: rush_yds, dtype: int64
Opp
CIN    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
ARI   -2
Name: rush_yds, dtype: int64
Opp
BUF    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
NE    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
HOU    3
Name: rush_yds, dtype: int64
Opp
MIN    10
Name: rush_yds, dtype: int64
Opp
PIT    2
Name: rush_yds, dtype: int64
Opp
BUF   -2
Name: rush_yds, dtype: int64
Opp
IND    10
Name: rush_yds, dtype: int64
Opp
CHI    18
Name: rush_yds, dtype: int64
Opp
MIA   -3
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
BAL    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
CAR    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
NYJ   -4
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
TEN    1
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
SF    0
Name: rush_yds, dtype: int64
Opp
JAX    0
Name: rush_yds, dtype: int64
Opp
BUF    0
Name: rush_yds, dtype: int64
Opp
KC    25
Name: rush_yds, dtype: int64
Opp
DEN    19
Name: rush_yds, dtype: int64
Opp
LAC    4
Name: rush_yds, dtype: int64
Opp
CAR    0
Name: rush_yds, dtype: int64
Opp
WAS    7
Name: rush_yds, dtype: int64
Opp
OAK    15
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
PHI    18
Name: rush_yds, dtype: int64
Opp
DAL    8
Name: rush_yds, dtype: int64
Opp
NO    2
Name: rush_yds, dtype: int64
Opp
ARI   -3
Name: rush_yds, dtype: int64
Opp
TB    13
Name: rush_yds, dtype: int64
Opp
NO   -2
Name: rush_yds, dtype: int64
Opp
CAR    0
Name: rush_yds, dtype: int64
Opp
NYG   -1
Name: rush_yds, dtype: int64
Opp
DET    25
Name: rush_yds, dtype: int64
Opp
MIA   -2
Name: rush_yds, dtype: int64
Opp
JAX   -3
Name: rush_yds, dtype: int64
Opp
DEN    0
Name: rush_yds, dtype: int64
Opp
TEN   -2
Name: rush_yds, dtype: int64
Opp
NYJ    0
Name: rush_yds, dtype: int64
Opp
GB    0
Name: rush_yds, dtype: int64
Opp
BAL   -2
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
BUF   -1
Name: rush_yds, dtype: int64
Opp
CHI   -2
Name: rush_yds, dtype: int64
Opp
JAX    0
Name: rush_yds, dtype: int64
Opp
DET   -1
Name: rush_yds, dtype: int64
Opp
TEN    5
Name: rush_yds, dtype: int64
Opp
NE    0
Name: rush_yds, dtype: int64
Opp
IND    0
Name: rush_yds, dtype: int64
Opp
MIN    0
Name: rush_yds, dtype: int64
Opp
LAR    0

Opp
DEN    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
CLE    0
Name: rush_yds, dtype: int64
Opp
KC   -2
Name: rush_yds, dtype: int64
Opp
TB    5
Name: rush_yds, dtype: int64
Opp
DEN    0
Name: rush_yds, dtype: int64
Opp
BAL    0
Name: rush_yds, dtype: int64
Opp
CIN    20
Name: rush_yds, dtype: int64
Opp
PIT    3
Name: rush_yds, dtype: int64
Opp
CAR    4
Name: rush_yds, dtype: int64
Opp
NYJ    4
Name: rush_yds, dtype: int64
Opp
NO    42
Name: rush_yds, dtype: int64
Opp
LAR    82
Name: rush_yds, dtype: int64
Opp
CIN    74
Name: rush_yds, dtype: int64
Opp
TB    36
Name: rush_yds, dtype: int64
Opp
ATL    7
Name: rush_yds, dtype: int64
Opp
MIN    138
Name: rush_yds, dtype: int64
Opp
NYG    89
Name: rush_yds, dtype: int64
Opp
PIT    8
Name: rush_yds, dtype: int64
Opp
CAR    53
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
PHI    84
Name: rush_yds, dtype: int64
Opp
DAL    29
Name: rush_yds, dtype: int64
Opp
NYG    72
Name: rush_yds, dtype: int64
Opp
BAL    34
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
PHI    4
Name: rush_yds, dtype: int64
Opp
ARI    20
Name: rush_yds, dtype: int64
Opp
DAL    28
Name: rush_yds, dtype: int64
Opp
GB    18
Name: rush_yds, dtype: int64
Opp
LAR    14
Name: rush_yds, dtype: int64
Opp
CAR    12
Name: rush_yds, dtype: int64
Opp
NE    17
Name: rush_yds, dtype: int64
Opp
SF    10
Name: rush_yds, dtype: int64
Opp
DET    9
Name: rush_yds, dtype: int64
Opp
MIN    27
Name: rush_yds, dtype: int64
Opp
NYJ    34
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
MIA    38
Name: rush_yds, dtype: int64
Opp
CHI    71
Name: rush_yds, dtype: int64
Opp
ARI    12
Name: rush_yds, dtype: int64
Opp
BUF    92
Name: rush_yds, dtype: int64
Opp
SF    29
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
MIN    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
NYJ    8
Name: rush_yds, dtype: int64
Opp
KC    34
Name: rush_yds, dtype: int64
Opp
CLE    10
Name: rush_yds, dtype: int64
Opp
NE    14
Name: rush_yds, dtype: int64
Opp
SF    1
Name: rush_yds, dtype: int64
Opp
ARI    5
Name: rush_yds, dtype: int64
Opp
TEN    23
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
HOU    14
Name: rush_yds, dtype: int64
Opp
NE    12
Name: rush_yds, dtype: int64
Opp
MIA    15
Name: rush_yds, dtype: int64
Opp
IND    12
Name: rush_yds, dtype: int64
Opp
JAX    18
Name: rush_yds, dtype: int64
Opp
LAR    5
Name: rush_yds, dtype: int64
Opp
SEA    8
Name: rush_yds, dtype: int64
Opp
MIA    18
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
ATL    0
Name: rush_yds, dtype: int64
Opp
LAR    1
Name: rush_yds, dtype: int64
Opp
NYJ    0
Name: rush_yds, dtype: int64
Opp
SEA   -2
Name: rush_yds, dtype: int64
Opp
DET    8
Name: rush_yds, dtype: int64
Opp
CHI    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
LAR   -3
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
IND    0
Name: rush_yds, dtype: int64
Opp
NYJ   -3
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
HOU   -3
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
HOU   -4
Name: rush_yds, dtype: int64
Opp
OAK    14
Name: rush_yds, dtype: int64
Opp
NYJ    3
Name: rush_yds, dtype: int64
Opp
ARI    0
Name: rush_yds, dtype: int64
Opp
CIN   -4
Name: rush_yds, dtype: int64
Opp
LAR    16
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
NYJ    0
Name: rush_yds, dtype: int64
Opp
IND   -1
Name: rush_yds, dtype: int64
Opp
TEN   -1
Name: rush_yds, dtype: int64
Opp
BUF    7
Name: rush_yds, dtype: int64
Opp
SEA    33
Name: rush_yds, dtype: int64
Opp
NE    19
Name: rush_yds, dtype: int64
Opp
SF    25
Name: rush_yds, dtype: int64
Opp
JAX    52
Name: rush_yds, dtype: int64
Opp
BUF    44
Name: rush_yds, dtype: int64
Opp
DET    2
Name: rush_yds, dtype: int64
Opp
WAS    10
Name: rush_yds, dtype: int64
Opp
CHI    14
Name: rush_yds, dtype: int64
Opp
SEA   -2
Name: rush_yds, dtype: int64
Opp
ARI    0
Name: rush_yds, dtype: int64
Opp
MIA    34
Name: rush_yds, dtype: int64
Opp
GB    0
Name: rush_yds, dtype: int64
Opp
NE    3
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
SF    0
Name: rush_yds, dtype: int64
Opp
NYJ    7
Name: rush_yds, dtype: int64
Opp
ARI    1
Name: rush_yds, dtype: int64
Opp
SF    31
Name: rush_yds, dtype: int64
Opp
BUF    13
Name: rush_yds, dtype: int64
Opp
MIN    9
Name: rush_yds, dtype: int64
Opp
TB   -1
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
TEN   -1
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
DEN    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
GB    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
NE    1
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
BUF    11
Name: rush_yds, dtype: int64
Opp
PIT    22
Name: rush_yds, dtype: int64
Opp
MIA    5
Name: rush_yds, dtype: int64
Opp
SF    0
Name: rush_yds, dtype: int64
Opp
HOU    19
Name: rush_yds, dtype: int64
Opp
IND    7
Name: rush_yds, dtype: int64
Opp
NE    12
Name: rush_yds, dtype: int64
Opp
MIA    2
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
SEA    14
Name: rush_yds, dtype: int64
Opp
LAR   -5
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
TEN    15
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
TEN    1
Name: rush_yds, dtype: int64
Opp
ARI   -1
Name: rush_yds, dtype: int64
Opp
BAL    7
Name: rush_yds, dtype: int64
Opp
BUF    4
Name: rush_yds, dtype: int64
Opp
DEN   -2
Name: rush_yds, dtype: int64
Opp
SEA    0
Name: rush_yds, dtype: int64
Opp
NYJ    0
Name: rush_yds, dtype: int64
Opp
LAR    3
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
BUF   -1
Name: rush_yds, dtype: int64
Opp
IND    0
Name: rush_yds, dtype: int64
Opp
NYJ    5
Name: rush_yds, dtype: int64
Opp
MIA   -1
Name: rush_yds, dtype: int64
Opp
HOU    6
Name: rush_yds, dtype: int64
Opp
SF    11
Name: rush_yds, dtype: int64
Opp
JAX    0
Name: rush_yds, dtype: int64
Opp
NYG    12
Name: rush_yds, dtype: int64
Opp
SEA   -1
Name: rush_yds, dtype: int64
Opp
TB    1
Name: rush_yds, dtype: int64
Opp
CHI    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Opp
BAL    0
Name: rush_yds, dtype: int64
Opp
CAR    11
Name: rush_yds, dtype: int64
Opp
NYG    0
Name: rush_yds, dtype: int64
Opp
ATL    0
Name: rush_yds, dtype: int64
Opp
PHI   -1
Name: rush_yds, dtype: int64
Opp
CLE    10
Name: rush_yds, dtype: int64
Opp
WAS    7
Name: rush_yds, dtype: int64
Opp
PHI    14
Name: rush_yds, dtype: int64
Opp
CIN    0
Name: rush_yds, dtype: int64
Opp
PIT   -4
Name: rush_yds, dtype: int64
Opp
NO    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
CIN    7
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
CLE    0
Name: rush_yds, dtype: int64
Opp
KC    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
CLE    4
Name: rush_yds, dtype: int64
Opp
OAK    0
Name: rush_yds, dtype: int64
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Series([], Name: rush_yds, dtype: int64)
Opp
SF    5
Name: rush_yd/att, dtype: int64
Opp
CHI   -2
Name: rush_yd/att, dtype: int64
Opp
SEA    9
Name: rush_yd/att, dtype: int64
Opp
NO    3
Name: rush_yd/att, dtype: int64
Opp
IND    11
Name: rush_yd/att, dtype: int64
Opp
HOU    9
Name: rush_yd/att, dtype: int64
Opp
LAR    0
Name: rush_yd/att, dtype: int64
Opp
JAX    1
Name: rush_yd/att, dtype: int64
Opp
ARI    4
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
DET    3
Name: rush_yd/att, dtype: int64
Opp
NYG    7
Name: rush_yd/att, dtype: int64
Opp
MIN    4
Name: rush_yd/att, dtype: int64
Opp
DET    11
Name: rush_yd/att, dtype: int64
Opp
CHI    4
Name: rush_yd/att, dtype: int64
Opp
TEN    3
Name: rush_yd/att, dtype: int64
Opp
GB    3
Name: rush_yd/att, dtype: int64
Opp
DET    2
Name: rush_yd/att, dtype: int64
Opp
MIN    7
Name: rush_yd/att, dtype: int64
Opp
NYJ    4
Name: rush_yd/att, dtype: int64
Opp
BUF    16
Name: rush_yd/att, dtype: int64
Opp
NYG    3
Name: rush_yd/att, dtype: int64
Opp
SEA    2
Name: rush_yd/att, dtype: int64
Opp
ARI    6
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
LAR    3
Name: rush_yd/att, dtype: int64
Opp
CHI    0
Name: rush_yd/att, dtype: int64
Opp
NO    0
Name: rush_yd/att, dtype: int64
Opp
LAR    0
Name: rush_yd/att, dtype: int64
Opp
MIA    0
Name: rush_yd/att, dtype: int64
Opp
NE    0
Name: rush_yd/att, dtype: int64
Opp
SEA    0
Name: rush_yd/att, dtype: int64
Opp
CHI    5
Name: rush_yd/att, dtype: int64
Opp
MIN    5
Name: rush_yd/att, dtype: int64
Opp
JAX    13
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
GB    4
Name: rush_yd/att, dtype: int64
Opp
NYJ   -1
Name: rush_yd/att, dtype: int64
Opp
CLE    4
Name: rush_yd/att, dtype: int64
Opp
TEN    5
Name: rush_yd/att, dtype: int64
Opp
MIA    5
Name: rush_yd/att, dtype: int64
Opp
JAX    2
Name: rush_yd/att, dtype: int64
Opp
NE    4
Name: rush_yd/att, dtype: int64
Opp
BUF    3
Name: rush_yd/att, dtype: int64
Opp
DET    11
Name: rush_yd/att, dtype: int64
Opp
TEN    1
Name: rush_yd/att, dtype: int64
Opp
HOU    5
Name: rush_yd/att, dtype: int64
Opp
KC    4
Name: rush_yd/att, dtype: int64
Opp
BAL    4
Name: rush_yd/att, dtype: int64
Opp
CLE    1
Name: rush_yd/att, dtype: int64
Opp
WAS    8
Name: rush_yd/att, dtype: int64
Opp
JAX    1
Name: rush_yd/att, dtype: int64
Opp
MIA    5
Name: rush_yd/att, dtype: int64
Opp
CLE    3
Name: rush_yd/att, dtype: int64
Opp
PIT   -1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
DEN    8
Name: rush_yd/att, dtype: int64
Opp
NYG   -1
Name: rush_yd/att, dtype: int64
Opp
KC    4
Name: rush_yd/att, dtype: int64
Opp
OAK    1
Name: rush_yd/att, dtype: int64
Opp
LAC    1
Name: rush_yd/att, dtype: int64
Opp
DAL    0
Name: rush_yd/att, dtype: int64
Opp
PHI    2
Name: rush_yd/att, dtype: int64
Opp
PIT    0
Name: rush_yd/att, dtype: int64
Opp
DEN    2
Name: rush_yd/att, dtype: int64
Opp
NYJ    0
Name: rush_yd/att, dtype: int64
Opp
OAK    8
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
PHI    5
Name: rush_yd/att, dtype: int64
Opp
TEN    14
Name: rush_yd/att, dtype: int64
Opp
CIN   -1
Name: rush_yd/att, dtype: int64
Opp
WAS    3
Name: rush_yd/att, dtype: int64
Opp
NYG    0
Name: rush_yd/att, dtype: int64
Opp
KC    14
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
LAC    6
Name: rush_yd/att, dtype: int64
Opp
DAL    1
Name: rush_yd/att, dtype: int64
Opp
CIN    2
Name: rush_yd/att, dtype: int64
Opp
MIN    1
Name: rush_yd/att, dtype: int64
Opp
HOU    5
Name: rush_yd/att, dtype: int64
Opp
IND    6
Name: rush_yd/att, dtype: int64
Opp
CIN    6
Name: rush_yd/att, dtype: int64
Opp
CHI    1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
OAK    0
Name: rush_yd/att, dtype: int64
Opp
GB    0
Name: rush_yd/att, dtype: int64
Opp
DET    1
Name: rush_yd/att, dtype: int64
Opp
IND    10
Name: rush_yd/att, dtype: int64
Opp
HOU    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
BAL    0
Name: rush_yd/att, dtype: int64
Opp
TB    6
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
OAK    9
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
CIN    2
Name: rush_yd/att, dtype: int64
Opp
DEN   -1
Name: rush_yd/att, dtype: int64
Opp
CAR    4
Name: rush_yd/att, dtype: int64
Opp
CLE    4
Name: rush_yd/att, dtype: int64
Opp
OAK    0
Name: rush_yd/att, dtype: int64
Opp
IND    2
Name: rush_yd/att, dtype: int64
Opp
PHI    13
Name: rush_yd/att, dtype: int64
Opp
CIN    3
Name: rush_yd/att, dtype: int64
Opp
BUF    0
Name: rush_yd/att, dtype: int64
Opp
BAL    0
Name: rush_yd/att, dtype: int64
Opp
NYG    2
Name: rush_yd/att, dtype: int64
Opp
CIN    1
Name: rush_yd/att, dtype: int64
Opp
IND    13
Name: rush_yd/att, dtype: int64
Opp
LAC    1
Name: rush_yd/att, dtype: int64
Opp
BAL    6
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
DAL    0
Name: rush_yd/att, dtype: int64
Opp
PIT    4
Name: rush_yd/att, dtype: int64
Opp
OAK    2
Name: rush_yd/att, dtype: int64
Opp
KC    15
Name: rush_yd/att, dtype: int64
Opp
WAS    9
Name: rush_yd/att, dtype: int64
Opp
DEN    1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
CHI    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
OAK   -1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
NO   -1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
BAL   -2
Name: rush_yd/att, dtype: int64
Opp
CLE   -1
Name: rush_yd/att, dtype: int64
Opp
BAL    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
KC    0
Name: rush_yd/att, dtype: int64
Opp
BAL    31
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
TB    1
Name: rush_yd/att, dtype: int64
Opp
NO    6
Name: rush_yd/att, dtype: int64
Opp
NYG    1
Name: rush_yd/att, dtype: int64
Opp
ATL    10
Name: rush_yd/att, dtype: int64
Opp
SEA    6
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
DAL    11
Name: rush_yd/att, dtype: int64

Opp
DAL    0
Name: rush_yd/att, dtype: int64
Opp
TB   -1
Name: rush_yd/att, dtype: int64
Opp
CAR    3
Name: rush_yd/att, dtype: int64
Opp
PHI    0
Name: rush_yd/att, dtype: int64
Opp
CLE   -1
Name: rush_yd/att, dtype: int64
Opp
SF   -1
Name: rush_yd/att, dtype: int64
Opp
WAS    2
Name: rush_yd/att, dtype: int64
Opp
DAL    3
Name: rush_yd/att, dtype: int64
Opp
PIT    0
Name: rush_yd/att, dtype: int64
Opp
CIN    1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
GB    6
Name: rush_yd/att, dtype: int64
Opp
WAS    5
Name: rush_yd/att, dtype: int64
Opp
NO   -2
Name: rush_yd/att, dtype: int64
Opp
ATL    0
Name: rush_yd/att, dtype: int64
Opp
BAL    8
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
NO    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
HOU    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
NYG    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
TEN   -1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
ARI    1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
LAC    6
Name: rush_yd/att, dtype: int64
Opp
NE    6
Name: rush_yd/att, dtype: int64
Opp
LAC    11
Name: rush_yd/att, dtype: int64
Opp
DET    9
Name: rush_yd/att, dtype: int64
Opp
HOU    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
MIA    9
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
JAX    4
Name: rush_yd/att, dtype: int64
Opp
HOU    10
Name: rush_yd/att, dtype: int64
Opp
IND    13
Name: rush_yd/att, dtype: int64
Opp
NYJ    6
Name: rush_yd/att, dtype: int64
Opp
GB    8
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
JAX    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
DET    5
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
TEN   -1
Name: rush_yd/att, dtype: int64
Opp
HOU    5
Name: rush_yd/att, dtype: int64
Opp
SF    13
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
MIN    8
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
IND   -1
Name: rush_yd/att, dtype: int64
Opp
GB    12
Name: rush_yd/att, dtype: int64
Opp
LAR    5
Name: rush_yd/att, dtype: int64
Opp
DAL    0
Name: rush_yd/att, dtype: int64
Opp
JAX    11
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
DET    11
Name: rush_yd/att, dtype: int64
Opp
CAR    4
Name: rush_yd/att, dtype: int64
Opp
TEN    12
Name: rush_yd/att, dtype: int64
Opp
HOU    12
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
MIN    3
Name: rush_yd/att, dtype: int64
Opp
SEA    5
Name: rush_yd/att, dtype: int64
Opp
MIN    8
Name: rush_yd/att, dtype: int64
Opp
GB    9
Name: rush_yd/att, dtype: int64
Opp
ARI    3
Name: rush_yd/att, dtype: int64
Opp
CIN   -1
Name: rush_yd/att, dtype: int64
Opp
PHI    0
Name: rush_yd/att, dtype: int64
Opp
NE    2
Name: rush_yd/att, dtype: int64
Opp
CLE    2
Name: rush_yd/att, dtype: int64
Opp
KC    5
Name: rush_yd/att, dtype: int64
Opp
DAL    1
Name: rush_yd/att, dtype: int64
Opp
HOU    4
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
CLE    1
Name: rush_yd/att, dtype: int64
Opp
OAK    1
Name: rush_yd/att, dtype: int64
Opp
PIT   -1
Name: rush_yd/att, dtype: int64
Opp
LAC   -1
Name: rush_yd/att, dtype: int64
Opp
PIT   -1
Name: rush_yd/att, dtype: int64
Opp
WAS    2
Name: rush_yd/att, dtype: int64
Opp
DEN   -1
Name: rush_yd/att, dtype: int64
Opp
NYG   -3
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
TEN   -1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
SEA    2
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
BUF    0
Name: rush_yd/att, dtype: int64
Opp
MIN    0
Name: rush_yd/att, dtype: int64
Opp
SF    1
Name: rush_yd/att, dtype: int64
Opp
GB    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
ATL    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
SEA    1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
CAR    2
Name: rush_yd/att, dtype: int64
Opp
NYG    0
Name: rush_yd/att, dtype: int64
Opp
DAL    1
Name: rush_yd/att, dtype: int64
Opp
WAS    4
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
KC    2
Name: rush_yd/att, dtype: int64
Opp
NO    13
Name: rush_yd/att, dtype: int64
Opp
MIN    0
Name: rush_yd/att, dtype: int64
Opp
OAK    4
Name: rush_yd/att, dtype: int64
Opp
LAC    4
Name: rush_yd/att, dtype: int64
Opp
CAR    5
Name: rush_yd/att, dtype: int64
Opp
ATL    0
Name: rush_yd/att, dtype: int64
Opp
DEN    4
Name: rush_yd/att, dtype: int64
Opp
PHI    7
Name: rush_yd/att, dtype: int64
Opp
NO    4
Name: rush_yd/att, dtype: int64
Opp
LAR    5
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
NE    3
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
ARI    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
SEA   -1
Name: rush_yd/att, dtype: int64
Opp
NE    3
Name: rush_yd/att, dtype: int64
Opp
PHI    4
Name: rush_yd/att, dtype: int64
Opp
MIA    0
Name: rush_yd/att, dtype: int64
Opp
LAR    2
Name: rush_yd/att, dtype: int64
Opp
BUF    13
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
ATL    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
BAL    0
Name: rush_yd/att, dtype: int64
Opp
CLE    7
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
CHI    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
LAC    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
NYG   -2
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
BUF    0
Name: rush_yd/att, dtype: int64
Opp
PIT    0
Name: rush_yd/att, dtype: int64
Opp
MIA    4
Name: rush_yd/att, dtype: int64
Opp
SF    0
Name: rush_yd/att, dtype: int64
Opp
HOU    1
Name: rush_yd/att, dtype: int64
Opp
IND   -1
Name: rush_yd/att, dtype: int64
Opp
NE    0
Name: rush_yd/att, dtype: int64
Opp
MIA    6
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
SEA    0
Name: rush_yd/att, dtype: int64
Opp
LAR   -1
Name: rush_yd/att, dtype: int64
Opp
NE    1
Name: rush_yd/att, dtype: int64
Opp
ARI    2
Name: rush_yd/att, dtype: int64
Opp
JAX    4
Name: rush_yd/att, dtype: int64
Opp
TEN    2
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
ATL    5
Name: rush_yd/att, dtype: int64
Opp
BUF    13
Name: rush_yd/att, dtype: int64
Opp
NO    2
Name: rush_yd/att, dtype: int64
Opp
LAC    0
Name: rush_yd/att, dtype: int64
Opp
BAL    4
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
OAK    5
Name: rush_yd/att, dtype: int64
Opp
LAC    6
Name: rush_yd/att, dtype: int64
Opp
PIT    6
Name: rush_yd/att, dtype: int64
Opp
CIN    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
ARI   -2
Name: rush_yd/att, dtype: int64
Opp
BUF    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
NE    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
HOU    2
Name: rush_yd/att, dtype: int64
Opp
MIN    5
Name: rush_yd/att, dtype: int64
Opp
PIT    2
Name: rush_yd/att, dtype: int64
Opp
BUF   -2
Name: rush_yd/att, dtype: int64
Opp
IND    5
Name: rush_yd/att, dtype: int64
Opp
CHI    9
Name: rush_yd/att, dtype: int64
Opp
MIA   -1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
BAL    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
CAR    0
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
NYJ   -1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
TEN    1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
SF    0
Name: rush_yd/att, dtype: int64
Opp
JAX    0
Name: rush_yd/att, dtype: int64
Opp
BUF    0
Name: rush_yd/att, dtype: int64
Opp
KC    8
Name: rush_yd/att, dtype: int64
Opp
DEN    3
Name: rush_yd/att, dtype: int64
Opp
LAC    4
Name: rush_yd/att, dtype: int64
Opp
CAR    0
Name: rush_yd/att, dtype: int64
Opp
WAS    1
Name: rush_yd/att, dtype: int64
Opp
OAK    15
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
PHI    6
Name: rush_yd/att, dtype: int64
Opp
DAL    8
Name: rush_yd/att, dtype: int64
Opp
NO    1
Name: rush_yd/att, dtype: int64
Opp
ARI   -1
Name: rush_yd/att, dtype: int64
Opp
TB    13
Name: rush_yd/att, dtype: int64
Opp
NO   -1
Name: rush_yd/att, dtype: int64
Opp
CAR    0
Name: rush_yd/att, dtype: int64
Opp
NYG   -1
Name: rush_yd/att, dtype: int64
Opp
DET    13
Name: rush_yd/att, dtype: int64
Opp
MIA   -1
Name: rush_yd/att, dtype: int64
Opp
JAX   -2
Name: rush_yd/att, dtype: int64
Opp
DEN    0
Name: rush_yd/att, dtype: int64
Opp
TEN   -1
Name: rush_yd/att, dtype: int64
Opp
NYJ    0
Name: rush_yd/att, dtype: int64
Opp
GB    0
Name: rush_yd/att, dtype: int64
Opp
BAL   -2
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
BUF   -1
Name: rush_yd/att, dtype: int64
Opp
CHI   -1
Name: rush_yd/att, dtype: int64
Opp
JAX    0
Name: rush_yd/att, dtype: int64
Opp
DET   -1
Name: rush_yd/att, dtype: int64
Opp
TEN    1
Name: rush_yd/att, dtype: int64
Opp
NE    0
Name: rush_yd/att, dtype: int64
Opp
IND    0
Name: rush_yd/att, dtype: int64
Opp
MIN    0
Name: rush_yd/att, dtype: int64
Opp
LAR    0
Name: rush_yd/att, dtype: int64
Opp
SF    5
Name: rush_yd/att, dtype: int64
Opp
TEN    6
Name: rush_yd/att, dtype: int64
Opp
MIN    4
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
PHI    2
Name: rush_yd/att, dtype: int64
Opp
CHI    7
Name: rush_yd/att, dtype: int64
Opp
SEA    3
Name: rush_yd/att, dtype: int64
Opp
JAX   -1
Name: rush_yd/att, dtype: int64
Opp
MIN    4
Name: rush_yd/att, dtype: int64
Opp
GB    6
Name: rush_yd/att, dtype: int64
Opp
HOU    4
Name: rush_yd/att, dtype: int64
Opp
IND    0
Name: rush_yd/att, dtype: int64
Opp
GB    3
Name: rush_yd/att, dtype: int64
Opp
ARI    0
Name: rush_yd/att, dtype: int64
Opp
ATL    2
Name: rush_yd/att, dtype: int64
Opp
CLE    5
Name: rush_yd/att, dtype: int64
Opp
BAL    3
Name: rush_yd/att, dtype: int64
Opp
ARI    4
Name: rush_yd/att, dtype: int64
Opp
NYG    8
Name: rush_yd/att, dtype: int64
Opp
PIT    3
Name: rush_yd/att, dtype: int64
Opp
DET    7
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
ATL    6
Name: rush_yd/att, dtype: int64
Opp
NO    9
Name: rush_yd/att, dtype: int64
Opp
DAL    2
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Series([], Name: rush_yd/att, dtype: int64)
Opp
DAL    0
Name: rush_yd/att, dtype: int64
Opp
WAS    0
Name: rush_yd/att, dtype: int64
Opp
CAR    0
Name: rush_yd/att, dtype: int64
Opp
DAL    0
Name: rush_yd/att, dtype: int64
Opp
TB    9
Name: rush_yd/att, dtype: int64
Opp
CIN    3
Name: rush_yd/att, dtype: int64
Opp
WAS    3
Name: rush_yd/att, dtype: int64
Opp
PIT    1
Name: rush_yd/att, dtype: int64
Opp
ATL   -1
Name: rush_yd/att, dtype: int64
Opp
HOU    0
Name: rush_yd/att, dtype: int64
Opp
OAK   -1
Name: rush_yd/att, dtype: int64
Opp
NE    5
Name: rush_yd/att, dtype: int64
Opp
LAC   -1
Name: rush_yd/att, dtype: int64
Series([], Name: rush_yd/att, dtype: int64)
Opp
NO    4
Name: rush_yd/att, dtype: int64
Opp
CIN   -1
Name: rush_yd/att, dtype: int64
Opp
CAR    1
Name: rush_yd/att, dtype: int64
Opp
LAC    0
Name: rush_yd/att, dtype: int64
Opp
KC    1
Name: rush_yd/att, dtype: int64
Opp
TB   -3
Name: rush_yd/att, dtype: int64
Opp
OAK   -1
Name: rush_yd/att, dtype: int64
Opp
BAL    0
Name: rush_yd/att, dtype: int64
Opp
CLE    0
Name: rush_yd/att, dtype: int64
Opp
OAK   -2
Name: rush_yd/att, dtype: int64
Opp
TEN    9
Name: rush_yd/att, dtype: int64
Opp

Name: rush_td, dtype: int64
Opp
IND    0
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
BAL    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
OAK    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
CIN    0
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
OAK    0
Name: rush_td, dtype: int64
Opp
IND    0
Name: rush_td, dtype: int64
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
CIN    0
Name: rush_td, dtype: int64
Opp
BUF    0
Name: rush_td, dtype: int64
Opp
BAL    0
Name: rush_td, dtype: int64
Opp
NYG    0
Name: rush_td, dtype: int64
Opp
CIN    0
Name: rush_td, dtype: int64
Opp
IND    0
Name: rush_td, dtype: int64
Opp
LAC    0
Name: rush_td, dtype: int64
Opp
BAL    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
PIT    0
Name: rush_td, dtype: int64
Opp
OAK    0
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
CHI    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
OAK    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
NO    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
BAL    0
Name: rush_td, dtype: int64
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
BAL    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
KC    0
Name: rush_td, dtype: int64
Opp
BAL    1
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
TB    0
Name: rush_td, dtype: int64
Opp
NO    1
Name: rush_td, dtype: int64
Opp
NYG    1
Name: rush_td, dtype: int64
Opp
ATL    1
Name: rush_td, dtype: int64
Opp
SEA    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
CHI    0
Name: rush_td, dtype: int64
Opp
WAS    1
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Opp
PHI    2
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Opp
ATL    1
Name: rush_td, dtype: int64
Opp
LAC    0
Name: rush_td, dtype: int64
Opp
OAK    1
Name: rush_td, dtype: int64
Opp
LAC    0
Name: rush_td, dtype: int64
Opp
MIA    0
Name: rush_td, dtype: int64
Opp
PIT    0
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
JAX    1
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Opp
BAL    0
Name: rush_td, dtype: int64
Opp
NO    0
Name: rush_td, dtype: int64
Opp
CIN    0
Name: rush_td, dtype: int64
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
HOU    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
OAK    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
IND    0
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Opp
TEN    0
Name: rush_td, dtype: int64
Opp
BUF    1
Name: rush_td, dtype: int64
Opp
NYJ    0
Name: rush_td, dtype: int64
Opp
MIA    0
Name: rush_td, dtype: int64
Opp
NE    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
BAL    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Opp
LAC    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
TB    0
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
OAK    0
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
NYG    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
JAX    0
Name: rush_td, dtype: int64
Opp
IND    0
Name: rush_td, dtype: int64
Opp
SF    1
Name: rush_td, dtype: int64
Opp
DET    0
Name: rush_td, dtype: int64
Opp
TEN    0
Name: rush_td, dtype: int64
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Opp
SEA    0
Name: rush_td, dtype: int64
Opp
DET    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
CHI    0
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Opp
CHI    0
Name: rush_td, dtype: int64
Opp
LAR    1
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
NYJ    1
Name: rush_td, dtype: int64
Opp
BUF    1
Name: rush_td, dtype: int64
Opp
NYG    0
Name: rush_td, dtype: int64
Opp
SEA    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
LAR    1
Name: rush_td, dtype: int64
Opp
CHI    0
Name: rush_td, dtype: int64
Opp
NO    1
Name: rush_td, dtype: int64
Opp
LAR    0
Name: rush_td, dtype: int64
Opp
MIA    1
Name: rush_td, dtype: int64
Opp
NE    0
Name: rush_td, dtype: int64
Opp
SEA    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
PIT    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
KC    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
DEN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
NO    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
CAR    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
NYG    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
CAR    1
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Opp
LAC    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
TB    0
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
OAK    0
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
NYG    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
PIT    0
Name: rush_td, dtype: int64
Opp
CIN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
GB    0
Name: rush_td, dtype: int64
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
NO    0
Name: rush_td, dtype: int64
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
BAL    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
NO    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
HOU    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
NYG    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
TEN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
ARI    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
LAC    0
Name: rush_td, dtype: int64
Opp
NE    0
Name: rush_td, dtype: int64
Opp
LAC    0
Name: rush_td, dtype: int64
Opp
DET    0
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
MIA    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
JAX    0
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Opp
IND    0
Name: rush_td, dtype: int64
Opp
NYJ    1
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
JAX    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
DET    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
TEN    0
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
MIN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
IND    0
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Opp
LAR    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
JAX    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
DET    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
TEN    0
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
MIN    0
Name: rush_td, dtype: int64
Opp
SEA    0
Name: rush_td, dtype: int64
Opp
MIN    0
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
CIN    0
Name: rush_td, dtype: int64
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
NE    0
Name: rush_td, dtype: int64
Opp
CLE    1
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
OAK    1
Name: rush_td, dtype: int64
Opp
PIT    0
Name: rush_td, dtype: int64
Opp
LAC    0
Name: rush_td, dtype: int64
Opp
PIT    0
Name: rush_td, dtype: int64
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Opp
NYG    1
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
TEN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
SEA    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
BUF    0
Name: rush_td, dtype: int64
Opp
MIN    0
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
ATL    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
SEA    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
NYG    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
WAS    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
KC    0
Name: rush_td, dtype: int64
Opp
NO    0
Name: rush_td, dtype: int64
Opp
MIN    0
Name: rush_td, dtype: int64
Opp
OAK    0
Name: rush_td, dtype: int64
Opp
LAC    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
NO    0
Name: rush_td, dtype: int64
Opp
LAR    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
NE    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
ARI    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
SEA    0
Name: rush_td, dtype: int64
Opp
NE    1
Name: rush_td, dtype: int64
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
MIA    0
Name: rush_td, dtype: int64
Opp
LAR    0
Name: rush_td, dtype: int64
Opp
BUF    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)

Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
BAL    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
CAR    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
NYJ    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
TEN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
SF    0
Name: rush_td, dtype: int64
Opp
JAX    0
Name: rush_td, dtype: int64
Opp
BUF    0
Name: rush_td, dtype: int64
Opp
KC    1
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Opp
LAC    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
OAK    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
NO    0
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Opp
NO    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
NYG    0
Name: rush_td, dtype: int64
Opp
DET    0
Name: rush_td, dtype: int64
Opp
MIA    0
Name: rush_td, dtype: int64
Opp
JAX    0
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Opp
TEN    0
Name: rush_td, dtype: int64
Opp
NYJ    0
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Opp
BAL    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
BUF    0
Name: rush_td, dtype: int64
Opp
CHI    0
Name: rush_td, dtype: int64
Opp
JAX    0
Name: rush_td, dtype: int64
Opp
DET    0
Name: rush_td, dtype: int64
Opp
TEN    0
Name: rush_td, dtype: int64
Opp
NE    0
Name: rush_td, dtype: int64
Opp
IND    0
Name: rush_td, dtype: int64
Opp
MIN    0
Name: rush_td, dtype: int64
Opp
LAR    0
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Opp
TEN    0
Name: rush_td, dtype: int64
Opp
MIN    1
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
PHI    1
Name: rush_td, dtype: int64
Opp
CHI    0
Name: rush_td, dtype: int64
Opp
SEA    1
Name: rush_td, dtype: int64
Opp
JAX    0
Name: rush_td, dtype: int64
Opp
MIN    0
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Opp
IND    0
Name: rush_td, dtype: int64
Opp
GB    1
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
BAL    1
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
NYG    0
Name: rush_td, dtype: int64
Opp
PIT    0
Name: rush_td, dtype: int64
Opp
DET    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
NO    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
TB    1
Name: rush_td, dtype: int64
Opp
CIN    0
Name: rush_td, dtype: int64
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
PIT    0
Name: rush_td, dtype: int64
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Opp
OAK    0
Name: rush_td, dtype: int64
Opp
NE    0
Name: rush_td, dtype: int64
Opp
LAC    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
NO    0
Name: rush_td, dtype: int64
Opp
CIN    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
LAC    0
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Opp
OAK    0
Name: rush_td, dtype: int64
Opp
BAL    0
Name: rush_td, dtype: int64
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
OAK    0
Name: rush_td, dtype: int64
Opp
TEN    0
Name: rush_td, dtype: int64
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Opp
NO    0
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Opp
DEN    0
Name: rush_td, dtype: int64
Opp
BAL    0
Name: rush_td, dtype: int64
Opp
CIN    0
Name: rush_td, dtype: int64
Opp
PIT    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
NYJ    0
Name: rush_td, dtype: int64
Opp
NO    0
Name: rush_td, dtype: int64
Opp
LAR    2
Name: rush_td, dtype: int64
Opp
CIN    1
Name: rush_td, dtype: int64
Opp
TB    1
Name: rush_td, dtype: int64
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
MIN    2
Name: rush_td, dtype: int64
Opp
NYG    0
Name: rush_td, dtype: int64
Opp
PIT    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
NYG    0
Name: rush_td, dtype: int64
Opp
BAL    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
DAL    0
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Opp
LAR    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
NE    0
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Opp
DET    0
Name: rush_td, dtype: int64
Opp
MIN    0
Name: rush_td, dtype: int64
Opp
NYJ    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
MIA    0
Name: rush_td, dtype: int64
Opp
CHI    0
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
BUF    3
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
MIN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
NYJ    0
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
NE    0
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
TEN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
HOU    0
Name: rush_td, dtype: int64
Opp
NE    0
Name: rush_td, dtype: int64
Opp
MIA    0
Name: rush_td, dtype: int64
Opp
IND    0
Name: rush_td, dtype: int64
Opp
JAX    1
Name: rush_td, dtype: int64
Opp
LAR    0
Name: rush_td, dtype: int64
Opp
SEA    0
Name: rush_td, dtype: int64
Opp
MIA    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
LAR    0
Name: rush_td, dtype: int64
Opp
NYJ    0
Name: rush_td, dtype: int64
Opp
SEA    0
Name: rush_td, dtype: int64
Opp
DET    0
Name: rush_td, dtype: int64
Opp
CHI    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
LAR    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
IND    0
Name: rush_td, dtype: int64
Opp
NYJ    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
HOU    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
HOU    0
Name: rush_td, dtype: int64
Opp
OAK    1
Name: rush_td, dtype: int64
Opp
NYJ    0
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
CIN    0
Name: rush_td, dtype: int64
Opp
LAR    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
NYJ    0
Name: rush_td, dtype: int64
Opp
IND    0
Name: rush_td, dtype: int64
Opp
TEN    0
Name: rush_td, dtype: int64
Opp
BUF    0
Name: rush_td, dtype: int64
Opp
SEA    0
Name: rush_td, dtype: int64
Opp
NE    1
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Opp
JAX    0
Name: rush_td, dtype: int64
Opp
BUF    0
Name: rush_td, dtype: int64
Opp
DET    0
Name: rush_td, dtype: int64
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
CHI    0
Name: rush_td, dtype: int64
Opp
SEA    0
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
MIA    1
Name: rush_td, dtype: int64
Opp
GB    0
Name: rush_td, dtype: int64
Opp
NE    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
SF    0
Name: rush_td, dtype: int64
Opp
NYJ    0
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Opp
BUF    0
Name: rush_td, dtype: int64
Opp
MIN    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
TEN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
DEN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
GB    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
NE    1
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
BUF    0
Name: rush_td, dtype: int64
Opp
PIT    0
Name: rush_td, dtype: int64
Opp
MIA    0
Name: rush_td, dtype: int64
Opp
SF    0
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Opp
IND    0
Name: rush_td, dtype: int64
Opp
NE    0
Name: rush_td, dtype: int64
Opp
MIA    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
SEA    0
Name: rush_td, dtype: int64
Opp
LAR    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
TEN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
TEN    0
Name: rush_td, dtype: int64
Opp
ARI    0
Name: rush_td, dtype: int64
Opp
BAL    0
Name: rush_td, dtype: int64
Opp
BUF    1
Name: rush_td, dtype: int64
Opp
DEN    1
Name: rush_td, dtype: int64
Opp
SEA    0
Name: rush_td, dtype: int64
Opp
NYJ    0
Name: rush_td, dtype: int64
Opp
LAR    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
BUF    0
Name: rush_td, dtype: int64
Opp
IND    0
Name: rush_td, dtype: int64
Opp
NYJ    1
Name: rush_td, dtype: int64
Opp
MIA    0
Name: rush_td, dtype: int64
Opp
HOU    0
Name: rush_td, dtype: int64
Opp
SF    1
Name: rush_td, dtype: int64
Opp
JAX    0
Name: rush_td, dtype: int64
Opp
NYG    0
Name: rush_td, dtype: int64
Opp
SEA    0
Name: rush_td, dtype: int64
Opp
TB    0
Name: rush_td, dtype: int64
Opp
CHI    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Opp
BAL    0
Name: rush_td, dtype: int64
Opp
CAR    0
Name: rush_td, dtype: int64
Opp
NYG    1
Name: rush_td, dtype: int64
Opp
ATL    0
Name: rush_td, dtype: int64
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
WAS    0
Name: rush_td, dtype: int64
Opp
PHI    0
Name: rush_td, dtype: int64
Opp
CIN    0
Name: rush_td, dtype: int64
Opp
PIT    0
Name: rush_td, dtype: int64
Opp
NO    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
CIN    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
KC    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
CLE    0
Name: rush_td, dtype: int64
Opp
OAK    0
Name: rush_td, dtype: int64
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Series([], Name: rush_td, dtype: int64)
Opp
SF    22.82
Name: Fantasy Points, dtype: float64
Opp
CHI    10.16
Name: Fantasy Points, dtype: float64
Opp
SEA    10.62
Name: Fantasy Points, dtype: float64
Opp
NO    28.06
Name: Fantasy Points, dtype: float64
Opp
IND    25.1
Name: Fantasy Points, dtype: float64
Opp
HOU    39.22
Name: Fantasy Points, dtype: float64
Opp
LAR    25.68
Name: Fantasy Points, dtype: float64
Opp
JAX    13.84
Name: Fantasy Points, dtype: float64
Opp
ARI    26.02
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
DET    15.74
Name: Fantasy Points, dtype: float64
Opp
NYG    10.96
Name: Fantasy Points, dtype: float64
Opp
MIN    14.94
Name: Fantasy Points, dtype: float64
Opp
DET    14.12
Name: Fantasy Points, dtype: float64
Opp
CHI    25.94
Name: Fantasy Points, dtype: float64
Opp
TEN    32.78
Name: Fantasy Points, dtype: float64
Opp
GB    17.74
Name: Fantasy Points, dtype: float64
Opp
DET    17.74
Name: Fantasy Points, dtype: float64
Opp
MIN    10.76
Name: Fantasy Points, dtype: float64
Opp
NYJ    6.92
Name: Fantasy Points, dtype: float64
Opp
BUF    29.02
Name: Fantasy Points, dtype: float64
Opp
NYG    2.5
Name: Fantasy Points, dtype: float64
Opp
SEA    8.7
Name: Fantasy Points, dtype: float64
Opp
ARI    21.88
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
LAR    7.38
Name: Fantasy Points, dtype: float64
Opp
CHI    0.0
Name: Fantasy Points, dtype: float64
Opp
NO    0.0
Name: Fantasy Points, dtype: float64
Opp
LAR    0.0
Name: Fantasy Points, dtype: float64
Opp
MIA    0.0
Name: Fantasy Points, dtype: float64
Opp
NE    0.0
Name: Fantasy Points, dtype: float64
Opp
SEA    0.0
Name: Fantasy Points, dtype: float64
Opp
CHI    9.26
Name: Fantasy Points, dtype: float64
Opp
MIN    19.06
Name: Fantasy Points, dtype: float64
Opp
JAX    23.52
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
GB    28.88
Name: Fantasy Points, dtype: float64
Opp
NYJ    5.1
Name: Fantasy Points, dtype: float64
Opp
CLE    18.64
Name: Fantasy Points, dtype: float64
Opp
TEN    16.68
Name: Fantasy Points, dtype: float64
Opp
MIA    25.82
Name: Fantasy Points, dtype: float64
Opp
JAX    18.18
Name: Fantasy Points, dtype: float64
Opp
NE    13.76
Name: Fantasy Points, dtype: float64
Opp
BUF    13.6
Name: Fantasy Points, dtype: float64
Opp
DET    28.94
Name: Fantasy Points, dtype: float64
Opp
TEN    8.54
Name: Fantasy Points, dtype: float64
Opp
HOU    16.44
Name: Fantasy Points, dtype: float64
Opp
KC    14.3
Name: Fantasy Points, dtype: float64
Opp
BAL    5.94
Name: Fantasy Points, dtype: float64
Opp
CLE    23.12
Name: Fantasy Points, dtype: float64
Opp
WAS    24.72
Name: Fantasy Points, dtype: float64
Opp
JAX    22.26
Name: Fantasy Points, dtype: float64
Opp
MIA    11.46
Name: Fantasy Points, dtype: float64
Opp
CLE    19.74
Name: Fantasy Points, dtype: float64
Opp
PIT    6.1
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
DEN    15.56
Name: Fantasy Points, dtype: float64
Opp
NYG    23.76
Name: Fantasy Points, dtype: float64
Opp
KC    24.5
Name: Fantasy Points, dtype: float64
Opp
OAK    20.9
Name: Fantasy Points, dtype: float64
Opp
LAC    14.94
Name: Fantasy Points, dtype: float64
Opp
DAL    10.24
Name: Fantasy Points, dtype: float64
Opp
PHI    12.88
Name: Fantasy Points, dtype: float64
Opp
PIT    7.12
Name: Fantasy Points, dtype: float64
Opp
DEN    16.2
Name: Fantasy Points, dtype: float64
Opp
NYJ    19.0
Name: Fantasy Points, dtype: float64
Opp
OAK    32.16
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
PHI    14.2
Name: Fantasy Points, dtype: float64
Opp
TEN    17.92
Name: Fantasy Points, dtype: float64
Opp
CIN    13.02
Name: Fantasy Points, dtype: float64
Opp
WAS    21.48
Name: Fantasy Points, dtype: float64
Opp
NYG    12.54

Name: Fantasy Points, dtype: float64
Opp
HOU    6.58
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
CLE    12.22
Name: Fantasy Points, dtype: float64
Opp
OAK    29.74
Name: Fantasy Points, dtype: float64
Opp
PIT    6.46
Name: Fantasy Points, dtype: float64
Opp
LAC    17.8
Name: Fantasy Points, dtype: float64
Opp
PIT    7.42
Name: Fantasy Points, dtype: float64
Opp
WAS    16.18
Name: Fantasy Points, dtype: float64
Opp
DEN    13.96
Name: Fantasy Points, dtype: float64
Opp
NYG    25.36
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
TEN   -0.1
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
SEA    4.16
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
BUF   -0.2
Name: Fantasy Points, dtype: float64
Opp
MIN    10.48
Name: Fantasy Points, dtype: float64
Opp
SF    9.7
Name: Fantasy Points, dtype: float64
Opp
GB    14.24
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
ATL    0.24
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
SEA   -6.84
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
CAR    10.82
Name: Fantasy Points, dtype: float64
Opp
NYG    13.72
Name: Fantasy Points, dtype: float64
Opp
DAL    6.5
Name: Fantasy Points, dtype: float64
Opp
WAS    14.76
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
KC    23.62
Name: Fantasy Points, dtype: float64
Opp
NO    30.1
Name: Fantasy Points, dtype: float64
Opp
MIN    22.38
Name: Fantasy Points, dtype: float64
Opp
OAK    18.08
Name: Fantasy Points, dtype: float64
Opp
LAC    16.8
Name: Fantasy Points, dtype: float64
Opp
CAR    22.62
Name: Fantasy Points, dtype: float64
Opp
ATL    10.24
Name: Fantasy Points, dtype: float64
Opp
DEN    16.38
Name: Fantasy Points, dtype: float64
Opp
PHI    16.86
Name: Fantasy Points, dtype: float64
Opp
NO    1.96
Name: Fantasy Points, dtype: float64
Opp
LAR    12.68
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
NE    0.06
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
ARI    0.0
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
SEA    6.54
Name: Fantasy Points, dtype: float64
Opp
NE    15.3
Name: Fantasy Points, dtype: float64
Opp
PHI    18.48
Name: Fantasy Points, dtype: float64
Opp
MIA    20.96
Name: Fantasy Points, dtype: float64
Opp
LAR    9.76
Name: Fantasy Points, dtype: float64
Opp
BUF    13.72
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
ATL    4.44
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
BAL    7.04
Name: Fantasy Points, dtype: float64
Opp
CLE    21.36
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
CHI    9.56
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
LAC    0.0
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
NYG   -0.3
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
BUF    20.64
Name: Fantasy Points, dtype: float64
Opp
PIT    9.52
Name: Fantasy Points, dtype: float64
Opp
MIA    12.64
Name: Fantasy Points, dtype: float64
Opp
SF    0.12
Name: Fantasy Points, dtype: float64
Opp
HOU    9.3
Name: Fantasy Points, dtype: float64
Opp
IND    11.18
Name: Fantasy Points, dtype: float64
Opp
NE    13.12
Name: Fantasy Points, dtype: float64
Opp
MIA    11.92
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
SEA    0.96
Name: Fantasy Points, dtype: float64
Opp
LAR    10.92
Name: Fantasy Points, dtype: float64
Opp
NE    12.24
Name: Fantasy Points, dtype: float64
Opp
ARI   -1.92
Name: Fantasy Points, dtype: float64
Opp
JAX    3.54
Name: Fantasy Points, dtype: float64
Opp
TEN   -0.16
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
ATL    16.32
Name: Fantasy Points, dtype: float64
Opp
BUF    18.54
Name: Fantasy Points, dtype: float64
Opp
NO    6.12
Name: Fantasy Points, dtype: float64
Opp
LAC    12.04
Name: Fantasy Points, dtype: float64
Opp
BAL   -2.92
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
OAK    12.22
Name: Fantasy Points, dtype: float64
Opp
LAC    6.94
Name: Fantasy Points, dtype: float64
Opp
PIT    5.36
Name: Fantasy Points, dtype: float64
Opp
CIN    3.72
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
ARI    2.52
Name: Fantasy Points, dtype: float64
Opp
BUF    0.0
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
NE    1.72
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
HOU    10.02
Name: Fantasy Points, dtype: float64
Opp
MIN    11.0
Name: Fantasy Points, dtype: float64
Opp
PIT    13.8
Name: Fantasy Points, dtype: float64
Opp
BUF    12.0
Name: Fantasy Points, dtype: float64
Opp
IND    14.44
Name: Fantasy Points, dtype: float64
Opp
CHI    13.8
Name: Fantasy Points, dtype: float64
Opp
MIA   -0.3
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
BAL    0.0
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
CAR    2.6
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
NYJ    8.84
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
TEN    0.1
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
SF    0.0
Name: Fantasy Points, dtype: float64
Opp
JAX    0.0
Name: Fantasy Points, dtype: float64
Opp
BUF    0.0
Name: Fantasy Points, dtype: float64
Opp
KC    32.46
Name: Fantasy Points, dtype: float64
Opp
DEN    18.66
Name: Fantasy Points, dtype: float64
Opp
LAC    21.4
Name: Fantasy Points, dtype: float64
Opp
CAR    24.76
Name: Fantasy Points, dtype: float64
Opp
WAS    18.5
Name: Fantasy Points, dtype: float64
Opp
OAK    9.46
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
PHI    24.28
Name: Fantasy Points, dtype: float64
Opp
DAL    14.48
Name: Fantasy Points, dtype: float64
Opp
NO    26.64
Name: Fantasy Points, dtype: float64
Opp
ARI    1.74
Name: Fantasy Points, dtype: float64
Opp
TB    15.42
Name: Fantasy Points, dtype: float64
Opp
NO    10.4
Name: Fantasy Points, dtype: float64
Opp
CAR    19.68
Name: Fantasy Points, dtype: float64
Opp
NYG    22.7
Name: Fantasy Points, dtype: float64
Opp
DET    29.66
Name: Fantasy Points, dtype: float64
Opp
MIA    14.44
Name: Fantasy Points, dtype: float64
Opp
JAX    7.5
Name: Fantasy Points, dtype: float64
Opp
DEN    25.6
Name: Fantasy Points, dtype: float64
Opp
TEN    15.88
Name: Fantasy Points, dtype: float64
Opp
NYJ    10.36
Name: Fantasy Points, dtype: float64
Opp
GB    5.28
Name: Fantasy Points, dtype: float64
Opp
BAL    18.04
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
BUF    18.62
Name: Fantasy Points, dtype: float64
Opp
CHI    3.6
Name: Fantasy Points, dtype: float64
Opp
JAX    37.08
Name: Fantasy Points, dtype: float64
Opp
DET    14.5
Name: Fantasy Points, dtype: float64
Opp
TEN    17.18
Name: Fantasy Points, dtype: float64
Opp
NE    7.28
Name: Fantasy Points, dtype: float64
Opp
IND    14.44
Name: Fantasy Points, dtype: float64
Opp
MIN    7.12
Name: Fantasy Points, dtype: float64
Opp
LAR    12.5
Name: Fantasy Points, dtype: float64
Opp
SF    12.2
Name: Fantasy Points, dtype: float64
Opp
TEN    18.32
Name: Fantasy Points, dtype: float64
Opp
MIN    20.16
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
PHI    21.14
Name: Fantasy Points, dtype: float64
Opp
CHI    14.62
Name: Fantasy Points, dtype: float64
Opp
SEA    31.28
Name: Fantasy Points, dtype: float64
Opp
JAX    11.2
Name: Fantasy Points, dtype: float64
Opp
MIN    24.46
Name: Fantasy Points, dtype: float64
Opp
GB    9.84
Name: Fantasy Points, dtype: float64
Opp
HOU    26.34
Name: Fantasy Points, dtype: float64
Opp
IND    18.52
Name: Fantasy Points, dtype: float64
Opp
GB    17.46
Name: Fantasy Points, dtype: float64
Opp
ARI    3.84
Name: Fantasy Points, dtype: float64
Opp
ATL    15.92
Name: Fantasy Points, dtype: float64
Opp
CLE    15.88
Name: Fantasy Points, dtype: float64
Opp
BAL    22.24
Name: Fantasy Points, dtype: float64
Opp
ARI    6.18
Name: Fantasy Points, dtype: float64
Opp
NYG    18.54
Name: Fantasy Points, dtype: float64
Opp
PIT    12.6
Name: Fantasy Points, dtype: float64
Opp
DET    22.34
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
ATL    15.84
Name: Fantasy Points, dtype: float64
Opp
NO    18.18
Name: Fantasy Points, dtype: float64
Opp
DAL    7.5
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Series([], Name: Fantasy Points, dtype: float64)
Opp
DAL    8.76
Name: Fantasy Points, dtype: float64
Opp
WAS    4.16
Name: Fantasy Points, dtype: float64
Opp
CAR    4.76
Name: Fantasy Points, dtype: float64
Opp
DAL    14.04
Name: Fantasy Points, dtype: float64
Opp
TB    31.94
Name: Fantasy Points, dtype: float64
Opp
CIN    7.7
Name: Fantasy Points, dtype: float64
Opp
WAS    14.8
Name: Fantasy Points, dtype: float64
Opp
PIT    20.42
Name: Fantasy Points, dtype: float64
Opp
ATL    7.54
Name: Fantasy Points, dtype: float64
Opp
HOU    21.2
Name: Fantasy Points, dtype: float64
Opp
OAK    25.42
Name: Fantasy Points, dtype: float64
Opp
NE    24.38
Name: Fantasy Points, dtype: float64
Opp
LAC    22.06
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
NO    24.6
Name: Fantasy Points, dtype: float64
Opp
CIN    19.44
Name: Fantasy Points, dtype: float64
Opp
CAR    14.44
Name: Fantasy Points, dtype: float64
Opp
LAC    20.8
Name: Fantasy Points, dtype: float64
Opp
KC    17.5
Name: Fantasy Points, dtype: float64
Opp
TB    19.18
Name: Fantasy Points, dtype: float64
Opp
OAK    14.1
Name: Fantasy Points, dtype: float64
Opp
BAL    12.16
Name: Fantasy Points, dtype: float64
Opp
CLE    23.56
Name: Fantasy Points, dtype: float64
Opp
OAK    13.04
Name: Fantasy Points, dtype: float64
Opp
TEN    22.26
Name: Fantasy Points, dtype: float64
Opp
ATL    3.12
Name: Fantasy Points, dtype: float64
Opp
KC    14.36
Name: Fantasy Points, dtype: float64
Opp
NO    18.16
Name: Fantasy Points, dtype: float64
Opp
DEN    5.64
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
CLE    6.16
Name: Fantasy Points, dtype: float64
Opp
KC    14.6
Name: Fantasy Points, dtype: float64
Opp
TB    21.98
Name: Fantasy Points, dtype: float64
Opp
DEN    12.32
Name: Fantasy Points, dtype: float64
Opp
BAL    13.12
Name: Fantasy Points, dtype: float64
Opp
CIN    9.2
Name: Fantasy Points, dtype: float64
Opp
PIT    20.3
Name: Fantasy Points, dtype: float64
Opp
CAR    5.24
Name: Fantasy Points, dtype: float64
Opp
NYJ    15.0
Name: Fantasy Points, dtype: float64
Opp
NO    25.0
Name: Fantasy Points, dtype: float64
Opp
LAR    30.44
Name: Fantasy Points, dtype: float64
Opp
CIN    24.24
Name: Fantasy Points, dtype: float64
Opp
TB    22.52
Name: Fantasy Points, dtype: float64
Opp
ATL    4.34
Name: Fantasy Points, dtype: float64
Opp
MIN    35.08
Name: Fantasy Points, dtype: float64
Opp
NYG    23.22
Name: Fantasy Points, dtype: float64
Opp
PIT    11.88
Name: Fantasy Points, dtype: float64
Opp
CAR    13.9
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
PHI    32.4
Name: Fantasy Points, dtype: float64
Opp
DAL    29.06
Name: Fantasy Points, dtype: float64
Opp
NYG    17.72
Name: Fantasy Points, dtype: float64
Opp
BAL    17.08
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
PHI    14.32
Name: Fantasy Points, dtype: float64
Opp
ARI    8.12
Name: Fantasy Points, dtype: float64
Opp
DAL    12.84
Name: Fantasy Points, dtype: float64
Opp
GB    15.0
Name: Fantasy Points, dtype: float64
Opp
LAR    1.8
Name: Fantasy Points, dtype: float64
Opp
CAR    10.04
Name: Fantasy Points, dtype: float64
Opp
NE    23.42
Name: Fantasy Points, dtype: float64
Opp
SF    3.88
Name: Fantasy Points, dtype: float64
Opp
DET    16.34
Name: Fantasy Points, dtype: float64
Opp
MIN    21.62
Name: Fantasy Points, dtype: float64
Opp
NYJ    16.92
Name: Fantasy Points, dtype: float64
Series([], Name: Fantasy Points, dtype: float64)
Opp
MIA    20.76
Name: Fantasy Points, dtype: float64

In [37]:
qb_recent_2012.head()

                        comp_ma     att_ma  pct_ma      yds_ma  yds/att_ma  \
Player        Week Opp
Aaron Rodgers 1    SF     30.00  44.000000    68.0  303.000000    7.000000
              2    CHI    26.00  38.000000    68.5  261.000000    7.000000
              3    SEA    26.00  38.333333    68.0  248.333333    6.666667
              4    NO     27.25  39.000000    70.0  266.000000    7.000000
              5    IND    25.80  37.600000    68.6  259.800000    7.000000

                        td_ma    int_ma  qb rating_ma  rush_att_ma  \
Player        Week Opp
Aaron Rodgers 1    SF    2.00  1.000000     93.000000     5.000000
              2    CHI   1.50  1.000000     89.000000     4.000000
              3    SEA   1.00  0.666667     86.333333     3.333333
              4    NO    1.75  0.750000     94.750000     3.750000
              5    IND   2.00  0.800000     96.400000     4.000000

                        rush_yds_ma  rush_yd/att_ma  rush_td_ma  \
Player        Week Opp
Aaron Rodgers 1    SF     27.000000            5.00         0.0
              2    CHI    10.500000            1.50         0.0
              3    SEA    12.666667            4.00         0.0
              4    NO     12.750000            3.75         0.0
              5    IND    21.600000            5.20         0.0

                        fantasy points_ma
Player        Week Opp
Aaron Rodgers 1    SF           22.820000
              2    CHI          16.490000
              3    SEA          14.533333
              4    NO           17.915000
              5    IND          19.352000

In [118]:
# Populate recent dataframe with current year 3 game moving-averages of players
for col in weekly_stats:    # Iterate through every attribute in the weekly_stats dataframe
    ma3 = []        # Create an empty list to hold the current attribute's 3 game moving average                    
    for player in weekly_stats.index.levels[0]: # Iterate through every player in the weekly_stats df
        total = [] # Create an empty list to hold the weekly attributes value
        for week in weekly_stats.index.levels[1]: # Iterate through every week for the current player
            games = 0 # Set count for 3 game moving average 
            games_lst = [] # Create a list to hold 3 game block 
            if week < 4: # 3 game moving average does not instantiate until game 4
                games_lst.append(weekly_stats.loc[player].loc[week][col]) # Add current week value to 3 game block
                ma3.append(0) # Until game 4, append moving average for current attribute to 0
                games += 1
            else:
                if games < 3: # Check value of count for 3 game block
                    try: # Check for team bye week
                        games_lst.append(weekly_stats.loc[player].loc[week][col])  # Add current week value to 3 game block
                        games += 1 # Incease count
                    except: # Pass if team's bye week
                        pass
                ma3.append(round(np.mean(games_lst),2))  # Add average of three game block to 3 game moving average list
        
    qb_current_2012['{}_ma'.format(col.lower())] = ma3 # Insert 3 game moving average list for current attribute into the current stats dataframe

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

KeyError: 'the label [1] is not in the [index]'

In [123]:
weekly_stats.head()

                    Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
Player        Week
Aaron Rodgers 1       30   44   68  303        7   2    1         93
              2       22   32   69  219        7   1    1         85
              3       26   39   67  223        6   0    0         81
              4       31   41   76  319        8   4    1        120
              5       20   32   63  235        7   3    1        103

                    rush_att  rush_yds  rush_yd/att  rush_td  Fantasy Points
Player        Week
Aaron Rodgers 1            5        27            5        0           22.82
              2            3        -6           -2        0           10.16
              3            2        17            9        0           10.62
              4            5        13            3        0           28.06
              5            5        57           11        0           25.10

In [126]:
weekly_stats.loc['Aaron Rodgers'].loc[3]['Comp'] # Add current week value to 3 game block

26.0

In [73]:
len(ma3)

1173

In [58]:
qb_recent_2012.head()

AttributeError: 'list' object has no attribute 'head'

In [75]:
df = pd.read_csv('qb_recent_2012.csv')
df.head()

,Player,Week,comp_ma,att_ma,pct_ma,yds_ma,yds/att_ma,td_ma,int_ma,qb rating_ma,rush_att_ma,rush_yds_ma,rush_yd/att_ma,rush_td_ma,fantasy points_ma
0,Aaron Rodgers,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,Aaron Rodgers,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
2,Aaron Rodgers,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,Aaron Rodgers,4,31.0,41.0,76.0,319.0,8.0,4.0,1.0,120.0,5.0,13.0,3.0,0.0,28.06
4,Aaron Rodgers,5,20.0,32.0,63.0,235.0,7.0,3.0,1.0,103.0,5.0,57.0,11.0,0.0,25.10

In [76]:
df.shape

(629, 15)

In [163]:
team_stats.loc['Aaron Rodgers'].loc[1]['Comp']

Opp
SF    30
Name: Comp, dtype: int64

In [156]:
len(ma3), qb_recent_2012.shape

(1173, (629, 13))

In [154]:
qb_recent_2012['{}_ma'.format(col.lower())] = ma3

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

ValueError: Length of values does not match length of index

In [ ]:
team_.loc[]

In [96]:
for col in team_stats.columns:
    ma3 = []
    for player in team_stats.index.levels[0]:
        for week in team_stats.index.levels[1]:
            if week <= 3:
                ma3.append(0)
            else:
                games = 0
                games_lst = []
                if games <= 3:
                    try:
                        games_lst.append(team_stats.loc[player].loc[week][col])
                        games += 1
                    except:
                        pass
                        games += 1
                ma3.append(np.mean(games_lst))

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [97]:
len(ma3)

1173

In [142]:
qb_recent_2012['{}_ma'.format(col.lower())]=ma3

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

ValueError: Length of values does not match length of index

In [33]:
len(ma)

966

In [35]:
qb_recent_2012.shape

(629, 13)