In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
from collections import deque


import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('../input/2012_qb_weeks1_8.csv')
df1=pd.read_csv('../input/2012_qb_weeks_9_16.csv')
df3 = pd.read_csv('../input/2012_qb_week17.csv')

In [3]:
raw_qb_2012 = pd.concat([df,df1], axis=0)
raw_qb_2012 = pd.concat([raw_qb_2012, df3], axis=0)
raw_qb_2012.drop('Rk', axis =1, inplace = True)
raw_qb_2012.shape

(629, 18)

In [4]:
raw_qb_2012.head()

,Player,Pos,Week,Team,Opp,Comp,Att,Pct,Yds,Yds/Att,TD,Int,QB Rating,Att.1,Yds.1,Yds/Att.1,TD.1,Fantasy Points
0,Matt Ryan,QB,1,ATL,KC,23,31,74,299,10,3,0,136,3,25,8,1,32.46
1,Robert Griffin III,QB,1,WAS,NO,19,26,73,320,12,2,0,140,9,42,5,0,25.00
2,Tony Romo,QB,1,DAL,NYG,22,29,76,307,11,3,1,130,5,12,2,0,23.48
3,Aaron Rodgers,QB,1,GB,SF,30,44,68,303,7,2,1,93,5,27,5,0,22.82
4,Drew Brees,QB,1,NO,WAS,24,52,46,339,7,3,2,71,0,0,0,0,21.56

In [5]:
raw_qb_2012 = raw_qb_2012.rename(columns={'Att.1':'rush_att',
                       'Yds.1':'rush_yds',
                       'Yds/Att.1':'rush_yd/att',
                       'TD.1':'rush_td'})

In [6]:
team_stats = raw_qb_2012.groupby(['Player','Week','Opp']).sum()

In [7]:
team_stats.head(), team_stats.shape

(                        Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
 Player        Week Opp
 Aaron Rodgers 1    SF     30   44   68  303        7   2    1         93
               2    CHI    22   32   69  219        7   1    1         85
               3    SEA    26   39   67  223        6   0    0         81
               4    NO     31   41   76  319        8   4    1        120
               5    IND    20   32   63  235        7   3    1        103

                         rush_att  rush_yds  rush_yd/att  rush_td  \
 Player        Week Opp
 Aaron Rodgers 1    SF          5        27            5        0
               2    CHI         3        -6           -2        0
               3    SEA         2        17            9        0
               4    NO          5        13            3        0
               5    IND         5        57           11        0

                         Fantasy Points
 Player        Week Opp
 Aaron Rodgers 1    SF            22.82
               2    CHI           10.16
               3    SEA           10.62
               4    NO            28.06
               5    IND           25.10  , (629, 13))

In [11]:
y=weekly_stats['Fantasy Points']

In [8]:
# Define a dataframe to contain the current year 3 game moving averages of all 2012 QBs
def create_recent_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('{}_ma'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [9]:
# Create recent and current dataframes for all 2012 QBs
qb_recent_2012= create_recent_dataframe(team_stats)

In [55]:
#Populate recent dataframe with 3 game moving average for all qb's in 2012 season
# DO NOT CHANGE !!!!!!!!
for col in team_stats:  # Iterate through every attribute in the team_stats dataframe
    ma3 = []  # Create an empty list to hold the season average of the current attribute
    for player in team_stats.index.levels[0]:  # Iterate through every player in the team_stats df
        total = deque([], maxlen = 3) # INstantiate a deque container with a max length of 3 to hold the three most current games for player
        count = 0 # Counter to track week number 
        for week in team_stats.loc[player].index: # Iterate through every week for relevant player d
            if count < 3: # check count value to start 3 game moving average
                ma3.append(0)  # week 1 through 3 have 3 game movong average of 0
                total.appendleft(team_stats.loc[player].loc[week][col])  # Add the value current player's attribute total from the left
                count += 1  # Increase count
            else:  # Once 3 game moving average is avaliable
                ma3.append(np.mean(total))  # Add the average of the 3 games held in totals 3 game moivng average list
                total.appendleft(team_stats.loc[player].loc[week][col]) # Replace 3 set block with a first in first out process
    qb_recent_2012['{}_ma'.format(col.lower())] = ma3  # Populate databse with 3 game moving average list

In [61]:
qb_recent_2012.shape

(629, 13)

In [60]:
qb_recent_2012[0:100]

                               comp_ma     att_ma     pct_ma      yds_ma  \
Player             Week Opp
Aaron Rodgers      1    SF    0.000000   0.000000   0.000000    0.000000
                   2    CHI   0.000000   0.000000   0.000000    0.000000
                   3    SEA   0.000000   0.000000   0.000000    0.000000
                   4    NO   26.000000  38.333333  68.000000  248.333333
                   5    IND  26.333333  37.333333  70.666667  253.666667
                   6    HOU  25.666667  37.333333  68.666667  259.000000
                   7    LAR  25.000000  36.666667  68.000000  297.333333
                   8    JAX  24.666667  35.333333  69.666667  305.000000
                   9    ARI  25.333333  36.333333  69.666667  288.666667
                   11   DET  22.000000  34.000000  63.666667  248.666667
                   12   NYG  18.333333  30.666667  60.000000  213.333333
                   13   MIN  15.666667  27.333333  57.666667  224.333333
                   14   DET  20.000000  29.000000  67.666667  247.000000
                   15   CHI  18.333333  28.000000  63.666667  226.000000
                   16   TEN  21.333333  31.666667  66.333333  250.000000
                   17   MIN  21.333333  32.666667  64.333333  268.666667
Alex Smith         1    GB    0.000000   0.000000   0.000000    0.000000
                   2    DET   0.000000   0.000000   0.000000    0.000000
                   3    MIN   0.000000   0.000000   0.000000    0.000000
                   4    NYJ  21.333333  30.666667  70.333333  213.666667
                   5    BUF  18.666667  29.000000  63.666667  191.000000
                   6    NYG  18.000000  26.666667  67.000000  216.666667
                   7    SEA  16.333333  25.000000  65.000000  215.333333
                   8    ARI  17.000000  25.666667  66.333333  214.333333
                   10   LAR  17.000000  24.000000  73.000000  190.666667
                   11   CHI  13.000000  16.666667  81.333333  148.000000
                   12   NO    8.333333   9.000000  61.000000  101.333333
                   13   LAR   2.333333   2.666667  29.333333   24.000000
                   14   MIA   0.000000   0.000000   0.000000    0.000000
                   15   NE    0.000000   0.000000   0.000000    0.000000
...                                ...        ...        ...         ...
Ben Roethlisberger 8    WAS  24.333333  38.333333  63.666667  287.000000
                   9    NYG  25.000000  36.666667  68.666667  287.666667
                   10   KC   24.000000  33.333333  72.000000  238.666667
                   14   LAC  18.000000  27.000000  64.333333  174.000000
                   15   DAL  17.333333  30.000000  57.333333  195.000000
                   16   CIN  18.333333  33.333333  54.000000  236.000000
                   17   CLE  20.000000  36.666667  54.000000  281.333333
Blaine Gabbert     1    MIN   0.000000   0.000000   0.000000    0.000000
                   2    HOU   0.000000   0.000000   0.000000    0.000000
                   3    IND   0.000000   0.000000   0.000000    0.000000
                   4    CIN  13.333333  26.333333  48.000000  156.000000
                   5    CHI  13.333333  24.666667  51.000000  131.333333
                   7    OAK  16.666667  29.333333  56.000000  161.000000
                   8    GB   16.000000  26.333333  62.333333  146.000000
                   9    DET  17.333333  31.333333  58.000000  185.000000
                   10   IND  20.666667  33.000000  64.333333  211.000000
                   11   HOU  24.000000  39.333333  61.333333  244.000000
Brady Quinn        5    BAL   0.000000   0.000000   0.000000    0.000000
                   6    TB    0.000000   0.000000   0.000000    0.000000
                   8    OAK   0.000000   0.000000   0.000000    0.000000
                   11   CIN   8.666667  14.666667  69.333333   71.000000
                   12   DEN  11.000000  18.666667  57.333333   92.000000
                   13   CAR   8.000000  14.333333  55.333333   74.000000
                   14   CLE  13.666667  20.666667  66.333333  140.666667
                   15   OAK  14.000000  23.000000  61.000000  162.000000
                   16   IND  15.666667  25.333333  62.333333  165.333333
                   17   DEN  12.666667  25.000000  50.000000  152.333333
Brandon Weeden     1    PHI   0.000000   0.000000   0.000000    0.000000
                   2    CIN   0.000000   0.000000   0.000000    0.000000
                   3    BUF   0.000000   0.000000   0.000000    0.000000

                             yds/att_ma     td_ma    int_ma  qb rating_ma  \
Player             Week Opp
Aaron Rodgers      1    SF     0.000000  0.000000  0.000000      0.000000
                   2    CHI    0.000000  0.000000  0.000000      0.000000
                   3    SEA    0.000000  0.000000  0.000000      0.000000
                   4    NO     6.666667  1.000000  0.666667     86.333333
                   5    IND    7.000000  1.666667  0.666667     95.333333
                   6    HOU    7.000000  2.333333  0.666667    101.333333
                   7    LAR    8.000000  4.333333  0.666667    119.000000
                   8    JAX    8.333333  4.000000  0.333333    123.000000
                   9    ARI    7.666667  3.666667  0.000000    120.666667
                   11   DET    7.000000  3.000000  0.333333    108.333333
                   12   NYG    7.000000  2.666667  0.666667     99.666667
                   13   MIN    8.333333  2.333333  1.000000     95.000000
                   14   DET    8.666667  1.333333  1.000000     95.333333
                   15   CHI    8.000000  0.666667  0.666667     87.000000
                   16   TEN    7.666667  1.333333  0.333333     98.666667
                   17   MIN    8.000000  2.000000  0.000000    107.666667
Alex Smith         1    GB     0.000000  0.000000  0.000000      0.000000
                   2    DET    0.000000  0.000000  0.000000      0.000000
                   3    MIN    0.000000  0.000000  0.000000      0.000000
                   4    NYJ    7.000000  1.666667  0.333333    105.000000
                   5    BUF    6.666667  1.000000  0.333333     89.000000
                   6    NYG    8.666667  1.333333  0.333333    105.000000
                   7    SEA    9.000000  1.000000  1.000000     92.333333
                   8    ARI    8.666667  1.333333  1.333333     91.333333
                   10   LAR    8.333333  1.333333  1.333333     91.666667
                   11   CHI    9.000000  1.666667  0.333333    125.333333
                   12   NO     7.000000  1.333333  0.000000    100.333333
                   13   LAR    3.000000  0.333333  0.000000     48.000000
                   14   MIA    0.000000  0.000000  0.000000      0.000000
                   15   NE     0.000000  0.000000  0.000000      0.000000
...                                 ...       ...       ...           ...
Ben Roethlisberger 8    WAS    7.666667  1.000000  0.666667     87.666667
                   9    NYG    8.000000  1.666667  0.666667    100.333333
                   10   KC     7.333333  2.000000  0.666667    104.000000
                   14   LAC    6.333333  2.000000  0.333333    100.666667
                   15   DAL    6.333333  2.000000  0.666667     89.666667
                   16   CIN    7.000000  2.000000  0.666667     88.000000
                   17   CLE    8.000000  2.000000  1.333333     80.333333
Blaine Gabbert     1    MIN    0.000000  0.000000  0.000000      0.000000
                   2    HOU    0.000000  0.000000  0.000000      0.000000
                   3    IND    0.000000  0.000000  0.000000      0.000000
                   4    CIN    5.666667  1.333333  0.000000     82.333333
                   5    CHI    5.333333  1.000000  0.333333     76.666667
                   7    OAK    5.666667  0.666667  1.000000     68.333333
                   8    GB     6.333333  0.666667  1.000000     80.333333
                   9    DET    6.333333  0.666667  0.666667     81.000000
                   10   IND    7.000000  1.333333  0.666667     95.333333
                   11   HOU    6.333333  1.000000  1.000000     75.666667
Brady Quinn        5    BAL    0.000000  0.000000  0.000000      0.000000
                   6    TB     0.000000  0.000000  0.000000      0.000000
                   8    OAK    0.000000  0.000000  0.000000      0.000000
                   11   CIN    7.000000  0.000000  1.000000     61.333333
                   12   DEN    4.000000  0.000000  1.000000     49.666667
                   13   CAR    4.000000  0.000000  0.666667     50.333333
                   14   CLE    7.000000  0.666667  0.333333     88.666667
                   15   OAK    7.333333  0.666667  0.666667     78.333333
                   16   IND    7.000000  0.666667  0.666667     79.666667
                   17   DEN    6.333333  0.000000  1.333333     46.666667
Brandon Weeden     1    PHI    0.000000  0.000000  0.000000      0.000000
                   2    CIN    0.000000  0.000000  0.000000      0.000000
                   3    BUF    0.000000  0.000000  0.000000      0.000000

                             rush_att_ma  rush_yds_ma  rush_yd/att_ma  \
Player             Week Opp
Aaron Rodgers      1    SF      0.000000     0.000000        0.000000
                   2    CHI     0.000000     0.000000        0.000000
                   3    SEA     0.000000     0.000000        0.000000
                   4    NO      3.333333    12.666667        4.000000
                   5    IND     3.333333     8.000000        3.333333
                   6    HOU     4.000000    29.000000        7.666667
                   7    LAR     4.000000    29.000000        7.666667
                   8    JAX     3.000000    24.666667        6.666667
                   9    ARI     2.333333     7.000000        3.333333
                   11   DET     4.333333    12.333333        1.666667
                   12   NYG     4.000000    13.333333        2.666667
                   13   MIN     4.000000    19.333333        4.666667
                   14   DET     2.666667    13.333333        4.666667
                   15   CHI     3.333333    23.000000        7.333333
                   16   TEN     3.666667    20.333333        6.333333
                   17   MIN     3.666667    19.000000        6.000000
Alex Smith         1    GB      0.000000     0.000000        0.000000
                   2    DET     0.000000     0.000000        0.000000
                   3    MIN     0.000000     0.000000        0.000000
                   4    NYJ     4.333333    15.333333        4.000000
                   5    BUF     3.666667    15.000000        4.333333
                   6    NYG     3.333333    29.000000        9.000000
                   7    SEA     2.666667    22.000000        7.666667
                   8    ARI     3.333333    21.666667        7.000000
                   10   LAR     2.666667     7.333333        3.666667
                   11   CHI     2.666667     7.333333        3.666667
                   12   NO      1.000000     3.666667        3.000000
                   13   LAR     0.666667     1.666667        1.000000
                   14   MIA     0.000000     0.000000        0.000000
                   15   NE      0.000000     0.000000        0.000000
...                                  ...          ...             ...
Ben Roethlisberger 8    WAS     1.666667     9.000000        6.000000
                   9    NYG     1.333333     6.333333        5.333333
                   10   KC      2.333333     1.333333        0.666667
                   14   LAC     2.333333     6.333333        5.666667
                   15   DAL     3.333333    14.666667        6.666667
                   16   CIN     2.666667    15.666667        7.000000
                   17   CLE     3.000000    12.000000        3.000000
Blaine Gabbert     1    MIN     0.000000     0.000000        0.000000
                   2    HOU     0.000000     0.000000        0.000000
                   3    IND     0.000000     0.000000        0.000000
                   4    CIN     2.666667     7.333333        4.000000
                   5    CHI     2.000000    11.666667        5.666667
                   7    OAK     2.333333    10.333333        4.333333
                   8    GB      1.666667     6.666667        2.333333
                   9    DET     1.000000     0.333333        0.333333
                   10   IND     1.333333     1.333333        0.333333
                   11   HOU     1.666667     4.666667        3.666667
Brady Quinn        5    BAL     0.000000     0.000000        0.000000
                   6    TB      0.000000     0.000000        0.000000
                   8    OAK     0.000000     0.000000        0.000000
                   11   CIN     1.333333     9.666667        5.000000
                   12   DEN     2.333333    12.000000        5.666667
                   13   CAR     2.000000     8.000000        3.333333
                   14   CLE     2.333333     6.000000        1.666667
                   15   OAK     1.666667     5.000000        2.333333
                   16   IND     1.333333     5.333333        2.666667
                   17   DEN     2.000000     5.000000        2.000000
Brandon Weeden     1    PHI     0.000000     0.000000        0.000000
                   2    CIN     0.000000     0.000000        0.000000
                   3    BUF     0.000000     0.000000        0.000000

                             rush_td_ma  fantasy points_ma
Player             Week Opp
Aaron Rodgers      1    SF     0.000000           0.000000
                   2    CHI    0.000000           0.000000
                   3    SEA    0.000000           0.000000
                   4    NO     0.000000          14.533333
                   5    IND    0.000000          16.280000
                   6    HOU    0.000000          21.260000
                   7    LAR    0.000000          30.793333
                   8    JAX    0.000000          30.000000
                   9    ARI    0.000000          26.246667
                   11   DET    0.000000          21.846667
                   12   NYG    0.000000          18.533333
                   13   MIN    0.000000          17.573333
                   14   DET    0.000000          13.880000
                   15   CHI    0.333333          13.340000
                   16   TEN    0.333333          18.333333
                   17   MIN    0.666667          24.280000
Alex Smith         1    GB     0.000000           0.000000
                   2    DET    0.000000           0.000000
                   3    MIN    0.000000           0.000000
                   4    NYJ    0.000000          15.413333
                   5    BUF    0.000000          11.806667
                   6    NYG    0.000000          15.566667
                   7    SEA    0.000000          12.813333
                   8    ARI    0.000000          13.406667
                   10   LAR    0.000000          11.026667
                   11   CHI    0.000000          12.653333
                   12   NO     0.000000           9.753333
                   13   LAR    0.000000           2.460000
                   14   MIA    0.000000           0.000000
                   15   NE     0.000000           0.000000
...                                 ...                ...
Ben Roethlisberger 8    WAS    0.000000          15.046667
                   9    NYG    0.000000          17.473333
                   10   KC     0.000000          15.680000
                   14   LAC    0.000000          14.260000
                   15   DAL    0.000000          14.600000
                   16   CIN    0.000000          17.006667
                   17   CLE    0.000000          17.120000
Blaine Gabbert     1    MIN    0.000000           0.000000
                   2    HOU    0.000000           0.000000
                   3    IND    0.000000           0.000000
                   4    CIN    0.000000          12.306667
                   5    CHI    0.000000           9.753333
                   7    OAK    0.000000           7.473333
                   8    GB     0.000000           6.506667
                   9    DET    0.000000           8.100000
                   10   IND    0.000000          13.240000
                   11   HOU    0.000000          12.893333
Brady Quinn        5    BAL    0.000000           0.000000
                   6    TB     0.000000           0.000000
                   8    OAK    0.000000           0.000000
                   11   CIN    0.000000           1.806667
                   12   DEN    0.000000           2.880000
                   13   CAR    0.000000           2.426667
                   14   CLE    0.000000           8.226667
                   15   OAK    0.000000           8.313333
                   16   IND    0.000000           8.480000
                   17   DEN    0.000000           3.926667
Brandon Weeden     1    PHI    0.000000           0.000000
                   2    CIN    0.000000           0.000000
                   3    BUF    0.000000           0.000000

[100 rows x 13 columns]

In [63]:
qb_recent_2012.head()

                          comp_ma     att_ma     pct_ma      yds_ma  \
Player        Week Opp
Aaron Rodgers 1    SF    0.000000   0.000000   0.000000    0.000000
              2    CHI   0.000000   0.000000   0.000000    0.000000
              3    SEA   0.000000   0.000000   0.000000    0.000000
              4    NO   26.000000  38.333333  68.000000  248.333333
              5    IND  26.333333  37.333333  70.666667  253.666667

                        yds/att_ma     td_ma    int_ma  qb rating_ma  \
Player        Week Opp
Aaron Rodgers 1    SF     0.000000  0.000000  0.000000      0.000000
              2    CHI    0.000000  0.000000  0.000000      0.000000
              3    SEA    0.000000  0.000000  0.000000      0.000000
              4    NO     6.666667  1.000000  0.666667     86.333333
              5    IND    7.000000  1.666667  0.666667     95.333333

                        rush_att_ma  rush_yds_ma  rush_yd/att_ma  rush_td_ma  \
Player        Week Opp
Aaron Rodgers 1    SF      0.000000     0.000000        0.000000         0.0
              2    CHI     0.000000     0.000000        0.000000         0.0
              3    SEA     0.000000     0.000000        0.000000         0.0
              4    NO      3.333333    12.666667        4.000000         0.0
              5    IND     3.333333     8.000000        3.333333         0.0

                        fantasy points_ma
Player        Week Opp
Aaron Rodgers 1    SF            0.000000
              2    CHI           0.000000
              3    SEA           0.000000
              4    NO           14.533333
              5    IND          16.280000

In [62]:
qb_recent_2012.tail()

                        comp_ma    att_ma     pct_ma  yds_ma  yds/att_ma  \
Player       Week Opp
Tyrod Taylor 4    CLE  0.000000  0.000000   0.000000     0.0    0.000000
             5    KC   0.000000  0.000000   0.000000     0.0    0.000000
             9    CLE  0.666667  1.000000  22.333333    10.0    3.333333
             10   OAK  0.000000  0.000000   0.000000     0.0    0.000000
             17   CIN  0.000000  0.333333   0.000000     0.0    0.000000

                       td_ma  int_ma  qb rating_ma  rush_att_ma  rush_yds_ma  \
Player       Week Opp
Tyrod Taylor 4    CLE    0.0     0.0      0.000000     0.000000     0.000000
             5    KC     0.0     0.0      0.000000     0.000000     0.000000
             9    CLE    0.0     0.0     33.000000     0.333333     2.333333
             10   OAK    0.0     0.0      0.000000     0.333333     1.333333
             17   CIN    0.0     0.0     13.333333     0.333333     1.333333

                       rush_yd/att_ma  rush_td_ma  fantasy points_ma
Player       Week Opp
Tyrod Taylor 4    CLE        0.000000         0.0           0.000000
             5    KC         0.000000         0.0           0.000000
             9    CLE        2.333333         0.0           0.633333
             10   OAK        1.333333         0.0           0.133333
             17   CIN        1.333333         0.0           0.133333