In [17]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
from create_nfl_database import NflSeason, NflTeam, NflWeek, Position, Player, PlayerStats
from sqlalchemy.orm import relationship, backref
import pandas as pd
import numpy as np



engine = create_engine('sqlite:///nfl_fantasy.db')

In [9]:
Base.metadata.bind = engine

In [10]:
DBSession = sessionmaker(bind=engine)
session = DBSession()

In [28]:
season= ['2102', '2013','2014', '2015','2016']
week = [1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17]

In [29]:
#Populate nfl_season SQL table
for sea in season:
    new_season = NflSeason(season=sea)
    session.add(new_season)
    session.commit()

In [30]:
#Populate nfl_week table
for wk in week:
    new_week = NflWeek(week=wk)
    session.add(new_week)
    session.commit()

In [32]:
SQL_QUERY = '''
        SELECT * 
        FROM nfl_season'''
pd.read_sql(SQL_QUERY, con =engine)

   id season
0   1   2102
1   2   2013
2   3   2014
3   4   2015
4   5   2016

In [ ]:
Arizona,Arizona Cardinals
California,Los Angeles Rams
Los Angeles Chargers
Oakland Raiders
San Francisco 49ers
Colorado	Denver Broncos
Florida	Jacksonville Jaguars
Miami Dolphins
Tampa Bay Buccaneers
Georgia	Atlanta Falcons
Illinois	Chicago Bears
Indiana	Indianapolis Colts
Louisiana	New Orleans Saints
Maryland	Baltimore Ravens
Washington Redskins
Massachusetts	New England Patriots
Michigan	Detroit Lions
Minnesota	Minnesota Vikings
Missouri	Kansas City Chiefs
New Jersey	New York Giants
New York Jets
New York	Buffalo Bills
North Carolina	Carolina Panthers
Ohio	Cincinnati Bengals
Cleveland Browns
Pennsylvania	Philadelphia Eagles
Pittsburgh Steelers
Tennessee	Tennessee Titans
Texas	Dallas Cowboys
Houston Texans
Washington	Seattle Seahawks
Wisconsin	Green Bay Packe