In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen


import seaborn as sns

%matplotlib inline

In [13]:
df = pd.read_csv('../input/2012_qb_weeks1_8.csv')
df1=pd.read_csv('../input/2012_qb_weeks_9_16.csv')
df3 = pd.read_csv('../input/2012_qb_week17.csv')
qb_career_stats = pd.read_csv('../input/qb_career_stats.csv')

In [14]:
qb_career_stats.head()

,Rk,Player,Pos,Team,Gms,Comp,Att,Pct,Yds,Yds/Att,TD,Int,QB Rating,Att.1,Yds.1,Yds/Att.1,TD.1,PPG,Fantasy Points
0,1,Drew Brees,QB,NO,16,468,657,71,5476,8,46,14,111,21,86,4,1,27.9,445.64
1,2,Aaron Rodgers,QB,GB,15,342,501,68,4637,9,45,6,122,60,257,4,3,28.5,427.18
2,3,Tom Brady,QB,NE,16,401,611,66,5235,9,39,12,106,43,109,3,3,25.8,413.30
3,4,Cam Newton,QB,CAR,16,310,517,60,4051,8,21,17,85,125,709,6,14,24.9,398.64
4,5,Matthew Stafford,QB,DET,16,421,663,64,5038,8,41,16,97,22,78,4,0,24.0,384.32

In [3]:
raw_qb_2012 = pd.concat([df,df1], axis=0)
raw_qb_2012 = pd.concat([raw_qb_2012, df3], axis=0)
raw_qb_2012.drop('Rk', axis =1, inplace = True)
raw_qb_2012.shape

(629, 18)

In [4]:
raw_qb_2012.head()

,Player,Pos,Week,Team,Opp,Comp,Att,Pct,Yds,Yds/Att,TD,Int,QB Rating,Att.1,Yds.1,Yds/Att.1,TD.1,Fantasy Points
0,Matt Ryan,QB,1,ATL,KC,23,31,74,299,10,3,0,136,3,25,8,1,32.46
1,Robert Griffin III,QB,1,WAS,NO,19,26,73,320,12,2,0,140,9,42,5,0,25.00
2,Tony Romo,QB,1,DAL,NYG,22,29,76,307,11,3,1,130,5,12,2,0,23.48
3,Aaron Rodgers,QB,1,GB,SF,30,44,68,303,7,2,1,93,5,27,5,0,22.82
4,Drew Brees,QB,1,NO,WAS,24,52,46,339,7,3,2,71,0,0,0,0,21.56

In [36]:
players = []
for val in raw_qb_2012[raw_qb_2012['Week'] ==1].values:
    players.append(val[0])
for player in qb_career_stats['Player']:
    count = 0
    if player in players:
        count +=1
        print(player)
    count)

Drew Brees
1
Aaron Rodgers
1
Tom Brady
1
Cam Newton
1
Matthew Stafford
1
Eli Manning
1
Matt Ryan
1
Tony Romo
1
Philip Rivers
1
Mark Sanchez
1
Michael Vick
1
Ryan Fitzpatrick
1
Ben Roethlisberger
1
Josh Freeman
1
Joe Flacco
1
Andy Dalton
1
Alex Smith
1
Tim Tebow
1
Matt Hasselbeck
1
0
0
0
Matt Schaub
1
0
Carson Palmer
1
Jay Cutler
1
Christian Ponder
1
Blaine Gabbert
1
John Skelton
1
Kevin Kolb
1
Matt Cassel
1
Sam Bradford
1
0
0
0
0
0
0
0
0
0
0
0
Jake Locker
1
0
0
0
0
0
0
0
0
0
0
0
0
Bruce Gradkowski
1
0
0
0
0
0
0
0
0
0
Colin Kaepernick
1
0
Tyrod Taylor
1
Chase Daniel
1
0
0
0
0
0

In [26]:
raw_qb_2012.head()

,Player,Pos,Week,Team,Opp,Comp,Att,Pct,Yds,Yds/Att,TD,Int,QB Rating,rush_att,rush_yds,rush_yd/att,rush_td,Fantasy Points
0,Matt Ryan,QB,1,ATL,KC,23,31,74,299,10,3,0,136,3,25,8,1,32.46
1,Robert Griffin III,QB,1,WAS,NO,19,26,73,320,12,2,0,140,9,42,5,0,25.00
2,Tony Romo,QB,1,DAL,NYG,22,29,76,307,11,3,1,130,5,12,2,0,23.48
3,Aaron Rodgers,QB,1,GB,SF,30,44,68,303,7,2,1,93,5,27,5,0,22.82
4,Drew Brees,QB,1,NO,WAS,24,52,46,339,7,3,2,71,0,0,0,0,21.56

In [5]:
raw_qb_2012 = raw_qb_2012.rename(columns={'Att.1':'rush_att',
                       'Yds.1':'rush_yds',
                       'Yds/Att.1':'rush_yd/att',
                       'TD.1':'rush_td'})

In [8]:
team_stats = raw_qb_2012.groupby(['Player','Team','Week','Opp']).sum()

In [9]:
team_stats.head(), team_stats.shape

(                             Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
 Player        Team Week Opp
 Aaron Rodgers GB   1    SF     30   44   68  303        7   2    1         93
                    2    CHI    22   32   69  219        7   1    1         85
                    3    SEA    26   39   67  223        6   0    0         81
                    4    NO     31   41   76  319        8   4    1        120
                    5    IND    20   32   63  235        7   3    1        103

                              rush_att  rush_yds  rush_yd/att  rush_td  \
 Player        Team Week Opp
 Aaron Rodgers GB   1    SF          5        27            5        0
                    2    CHI         3        -6           -2        0
                    3    SEA         2        17            9        0
                    4    NO          5        13            3        0
                    5    IND         5        57           11        0

                              Fantasy Points
 Player        Team Week Opp
 Aaron Rodgers GB   1    SF            22.82
                    2    CHI           10.16
                    3    SEA           10.62
                    4    NO            28.06
                    5    IND           25.10  , (629, 13))

In [10]:
# Define a dataframe to contain the career averages for all 2012 QBs
def create_career_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('{}_car'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [11]:
qb_career_2012 = create_career_dataframe(team_stats)

In [12]:
# Week 1 stats are player's career average through 2011 season
# Populate current dataframe with current year averages of players
for col in team_stats:  # Iterate through every attribute in the team_stats dataframe
    points=[]  # Create an empty list to hold the season average of the current attribute
    for player in team_stats.index.levels[0]:  # Iterate through every player in the team_stats df
        total =[] # create an empty list to hold the weekly attributes value
        count =0 
        for week in team_stats.loc[player].index: # Iterate throough every week for the current player
            if count == 0:
                if player in qb_career_stats['Player']:
                    points.append() # Intiate with career average at begining of 2012 season
                total.append(team_stats.loc[player].loc[week][col]) # Add player's value for the current week's attribute to the total list
            else:
                total.append(team_stats.loc[player].loc[week][col])
                points.append(np.mean(total))  # Add the average of the total list to the season average list
    qb_career_2012['{}_car'.format(col.lower())] = points # Insert season average list for current attribute into the current stats dataframe

NameError: name 'carrer_stats_end_of_2011' is not defined

In [17]:
qb_career_2012.shape

(629, 13)

In [18]:
qb_career_2012[0:100]

                              comp_car    att_car     pct_car     yds_car  \
Player             Week Opp
Aaron Rodgers      1    SF   30.000000  44.000000   68.000000  303.000000
                   2    CHI  26.000000  38.000000   68.500000  261.000000
                   3    SEA  26.000000  38.333333   68.000000  248.333333
                   4    NO   27.250000  39.000000   70.000000  266.000000
                   5    IND  25.800000  37.600000   68.600000  259.800000
                   6    HOU  25.500000  37.500000   68.000000  272.833333
                   7    LAR  26.142857  37.428571   69.857143  282.714286
                   8    JAX  25.625000  37.125000   69.000000  270.625000
                   9    ARI  24.333333  36.333333   66.555556  264.777778
                   11   DET  23.800000  35.400000   66.900000  261.900000
                   12   NYG  22.909091  34.454545   65.909091  258.000000
                   13   MIN  23.250000  34.500000   66.833333  260.333333
                   14   DET  22.538462  33.692308   66.153846  253.615385
                   15   CHI  22.571429  33.857143   66.000000  256.285714
                   16   TEN  22.866667  34.133333   66.333333  262.000000
                   17   MIN  23.187500  34.500000   66.562500  268.437500
Alex Smith         1    GB   20.000000  26.000000   77.000000  211.000000
                   2    DET  20.000000  28.500000   71.000000  218.500000
                   3    MIN  21.333333  30.666667   70.333333  213.666667
                   4    NYJ  19.000000  28.250000   67.000000  196.000000
                   5    BUF  18.800000  27.400000   68.600000  217.400000
                   6    NYG  18.833333  27.833333   67.666667  214.500000
                   7    SEA  18.142857  27.142857   66.714286  203.857143
                   8    ARI  18.125000  26.125000   70.250000  207.375000
                   10   LAR  16.888889  24.111111   72.222222  192.333333
                   11   CHI  15.200000  21.700000   65.000000  173.100000
                   12   NO   13.818182  19.727273   59.090909  157.363636
                   13   LAR  12.666667  18.083333   54.166667  144.250000
                   14   MIA  11.692308  16.692308   50.000000  133.153846
                   15   NE   10.857143  15.500000   46.428571  123.642857
...                                ...        ...         ...         ...
Ben Roethlisberger 8    WAS  25.571429  38.285714   67.142857  283.857143
                   9    NYG  25.000000  37.250000   67.500000  275.375000
                   10   KC   23.222222  35.111111   65.555556  254.111111
                   14   LAC  23.100000  35.800000   64.200000  257.200000
                   15   DAL  23.181818  36.181818   63.818182  264.636364
                   16   CIN  22.416667  35.500000   62.666667  260.916667
                   17   CLE  21.846154  34.538462   62.846154  251.153846
Blaine Gabbert     1    MIN  23.000000  39.000000   59.000000  260.000000
                   2    HOU  15.000000  29.000000   48.000000  156.500000
                   3    IND  13.333333  26.333333   48.000000  156.000000
                   4    CIN  15.750000  28.250000   53.000000  163.500000
                   5    CHI  16.000000  29.200000   52.800000  159.200000
                   7    OAK  14.666667  26.333333   55.166667  151.000000
                   8    GB   16.428571  29.571429   55.142857  172.714286
                   9    DET  17.750000  30.625000   57.125000  178.625000
                   10   IND  17.777778  30.666667   57.222222  182.000000
                   11   HOU  16.200000  27.800000   61.500000  166.200000
Brady Quinn        5    BAL   2.000000   2.000000  100.000000   32.000000
                   6    TB   12.000000  20.000000   79.000000  106.000000
                   8    OAK   8.666667  14.666667   69.333333   71.000000
                   11   CIN   8.750000  14.500000   68.000000   77.000000
                   12   DEN   9.600000  16.600000   64.800000   86.800000
                   13   CAR  11.166667  17.666667   67.833333  105.833333
                   14   CLE  11.000000  18.142857   65.000000  113.428571
                   15   OAK  11.875000  19.875000   63.875000  116.250000
                   16   IND  11.666667  20.111111   61.888889  121.333333
                   17   DEN  11.200000  19.700000   60.100000  114.100000
Brandon Weeden     1    PHI  12.000000  35.000000   34.000000  118.000000
                   2    CIN  19.000000  36.000000   52.000000  220.000000
                   3    BUF  21.666667  38.333333   55.666667  225.666667

                             yds/att_car    td_car   int_car  qb rating_car  \
Player             Week Opp
Aaron Rodgers      1    SF      7.000000  2.000000  1.000000      93.000000
                   2    CHI     7.000000  1.500000  1.000000      89.000000
                   3    SEA     6.666667  1.000000  0.666667      86.333333
                   4    NO      7.000000  1.750000  0.750000      94.750000
                   5    IND     7.000000  2.000000  0.800000      96.400000
                   6    HOU     7.333333  2.666667  0.666667     102.666667
                   7    LAR     7.571429  2.714286  0.571429     106.857143
                   8    JAX     7.250000  2.625000  0.500000     105.500000
                   9    ARI     7.222222  2.777778  0.555556     104.555556
                   11   DET     7.400000  2.700000  0.600000     104.700000
                   12   NYG     7.545455  2.545455  0.636364     102.636364
                   13   MIN     7.583333  2.416667  0.666667     102.250000
                   14   DET     7.538462  2.230769  0.615385     100.615385
                   15   CHI     7.571429  2.285714  0.571429     101.785714
                   16   TEN     7.666667  2.333333  0.533333     103.333333
                   17   MIN     7.750000  2.437500  0.500000     105.125000
Alex Smith         1    GB      8.000000  2.000000  0.000000     126.000000
                   2    DET     7.500000  2.000000  0.000000     117.000000
                   3    MIN     7.000000  1.666667  0.333333     105.000000
                   4    NYJ     7.000000  1.250000  0.250000      98.250000
                   5    BUF     8.200000  1.600000  0.200000     109.800000
                   6    NYG     8.000000  1.333333  0.666667      98.666667
                   7    SEA     7.714286  1.285714  0.714286      95.285714
                   8    ARI     8.250000  1.500000  0.625000     103.000000
                   10   LAR     8.333333  1.444444  0.555556     107.555556
                   11   CHI     7.500000  1.300000  0.500000      96.800000
                   12   NO      6.818182  1.181818  0.454545      88.000000
                   13   LAR     6.250000  1.083333  0.416667      80.666667
                   14   MIA     5.769231  1.000000  0.384615      74.461538
                   15   NE      5.357143  0.928571  0.357143      69.142857
...                                  ...       ...       ...            ...
Ben Roethlisberger 8    WAS     7.571429  2.000000  0.428571     101.714286
                   9    NYG     7.500000  2.000000  0.500000     101.375000
                   10   KC      7.222222  1.888889  0.444444      99.222222
                   14   LAC     7.200000  2.000000  0.500000      98.100000
                   15   DAL     7.363636  2.000000  0.545455      97.727273
                   16   CIN     7.416667  1.916667  0.666667      94.500000
                   17   CLE     7.307692  2.000000  0.615385      96.461538
Blaine Gabbert     1    MIN     7.000000  2.000000  0.000000      96.000000
                   2    HOU     5.000000  1.500000  0.000000      79.500000
                   3    IND     5.666667  1.333333  0.000000      82.333333
                   4    CIN     5.750000  1.250000  0.250000      81.500000
                   5    CHI     5.400000  1.000000  0.600000      72.800000
                   7    OAK     6.000000  1.000000  0.500000      81.333333
                   8    GB      6.000000  1.000000  0.428571      81.285714
                   9    DET     6.000000  1.125000  0.625000      81.250000
                   10   IND     6.111111  1.000000  0.666667      79.444444
                   11   HOU     6.700000  0.900000  0.600000      83.200000
Brady Quinn        5    BAL    16.000000  0.000000  0.000000     119.000000
                   6    TB     10.500000  0.000000  1.000000      83.500000
                   8    OAK     7.000000  0.000000  1.000000      61.333333
                   11   CIN     7.000000  0.000000  0.750000      67.000000
                   12   DEN     6.600000  0.000000  0.800000      63.600000
                   13   CAR     7.000000  0.333333  0.666667      75.000000
                   14   CLE     7.142857  0.285714  0.714286      71.857143
                   15   OAK     6.750000  0.250000  0.750000      69.625000
                   16   IND     6.777778  0.222222  0.888889      65.555556
                   17   DEN     6.400000  0.200000  0.800000      64.100000
Brandon Weeden     1    PHI     3.000000  0.000000  4.000000       5.000000
                   2    CIN     6.000000  1.000000  2.000000      60.000000
                   3    BUF     6.000000  1.000000  2.000000      62.000000

                             rush_att_car  rush_yds_car  rush_yd/att_car  \
Player             Week Opp
Aaron Rodgers      1    SF       5.000000     27.000000         5.000000
                   2    CHI      4.000000     10.500000         1.500000
                   3    SEA      3.333333     12.666667         4.000000
                   4    NO       3.750000     12.750000         3.750000
                   5    IND      4.000000     21.600000         5.200000
                   6    HOU      3.666667     20.833333         5.833333
                   7    LAR      3.428571     17.857143         5.000000
                   8    JAX      3.375000     16.125000         4.500000
                   9    ARI      3.888889     18.000000         4.444444
                   11   DET      3.600000     16.500000         4.300000
                   12   NYG      3.545455     17.000000         4.545455
                   13   MIN      3.583333     16.833333         4.500000
                   14   DET      3.538462     18.000000         5.000000
                   15   CHI      3.571429     17.714286         4.928571
                   16   TEN      3.600000     17.266667         4.800000
                   17   MIN      3.375000     16.187500         4.500000
Alex Smith         1    GB       5.000000     13.000000         3.000000
                   2    DET      4.500000     10.000000         2.500000
                   3    MIN      4.333333     15.333333         4.000000
                   4    NYJ      4.000000     14.500000         4.000000
                   5    BUF      3.800000     21.400000         6.400000
                   6    NYG      3.500000     18.666667         5.833333
                   7    SEA      3.714286     17.571429         5.285714
                   8    ARI      3.375000     16.125000         5.375000
                   10   LAR      3.222222     14.888889         5.111111
                   11   CHI      2.900000     13.400000         4.600000
                   12   NO       2.636364     12.181818         4.181818
                   13   LAR      2.416667     11.166667         3.833333
                   14   MIA      2.230769     10.307692         3.538462
                   15   NE       2.071429      9.571429         3.285714
...                                   ...           ...              ...
Ben Roethlisberger 8    WAS      1.428571      6.428571         4.428571
                   9    NYG      1.750000      5.500000         3.875000
                   10   KC       1.666667      6.444444         5.000000
                   14   LAC      2.000000      8.900000         5.100000
                   15   DAL      2.000000      8.272727         4.727273
                   16   CIN      2.000000      7.833333         4.500000
                   17   CLE      2.000000      7.076923         4.076923
Blaine Gabbert     1    MIN      5.000000      6.000000         1.000000
                   2    HOU      3.000000      5.500000         3.000000
                   3    IND      2.666667      7.333333         4.000000
                   4    CIN      2.750000     10.250000         4.500000
                   5    CHI      2.600000      8.400000         3.800000
                   7    OAK      2.166667      7.000000         3.166667
                   8    GB       2.000000      6.000000         2.714286
                   9    DET      2.125000      5.750000         2.500000
                   10   IND      2.000000      6.222222         3.333333
                   11   HOU      1.800000      5.600000         3.000000
Brady Quinn        5    BAL      0.000000      0.000000         0.000000
                   6    TB       1.000000      5.500000         3.000000
                   8    OAK      1.333333      9.666667         5.000000
                   11   CIN      1.750000      9.000000         4.250000
                   12   DEN      1.600000      7.000000         3.200000
                   13   CAR      1.833333      7.833333         3.333333
                   14   CLE      1.714286      7.285714         3.428571
                   15   OAK      1.500000      6.375000         3.000000
                   16   IND      1.888889      6.888889         2.888889
                   17   DEN      1.900000      6.600000         2.800000
Brandon Weeden     1    PHI      2.000000     25.000000        13.000000
                   2    CIN      2.000000     15.500000         8.000000
                   3    BUF      1.333333     10.333333         5.333333

                             rush_td_car  fantasy points_car
Player             Week Opp
Aaron Rodgers      1    SF      0.000000           22.820000
                   2    CHI     0.000000           16.490000
                   3    SEA     0.000000           14.533333
                   4    NO      0.000000           17.915000
                   5    IND     0.000000           19.352000
                   6    HOU     0.000000           22.663333
                   7    LAR     0.000000           23.094286
                   8    JAX     0.000000           21.937500
                   9    ARI     0.000000           22.391111
                   11   DET     0.000000           21.726000
                   12   NYG     0.000000           20.747273
                   13   MIN     0.000000           20.263333
                   14   DET     0.076923           19.790769
                   15   CHI     0.071429           20.230000
                   16   TEN     0.133333           21.066667
                   17   MIN     0.125000           21.537500
Alex Smith         1    GB      0.000000           17.740000
                   2    DET     0.000000           17.740000
                   3    MIN     0.000000           15.413333
                   4    NYJ     0.000000           13.290000
                   5    BUF     0.000000           16.436000
                   6    NYG     0.000000           14.113333
                   7    SEA     0.000000           13.340000
                   8    ARI     0.000000           14.407500
                   10   LAR     0.000000           13.626667
                   11   CHI     0.000000           12.264000
                   12   NO      0.000000           11.149091
                   13   LAR     0.000000           10.220000
                   14   MIA     0.000000            9.433846
                   15   NE      0.000000            8.760000
...                                  ...                 ...
Ben Roethlisberger 8    WAS     0.000000           19.140000
                   9    NYG     0.000000           18.315000
                   10   KC      0.000000           17.253333
                   14   LAC     0.000000           17.778000
                   15   DAL     0.000000           17.958182
                   16   CIN     0.000000           17.220000
                   17   CLE     0.000000           17.215385
Blaine Gabbert     1    MIN     0.000000           19.000000
                   2    HOU     0.000000           12.810000
                   3    IND     0.000000           12.306667
                   4    CIN     0.000000           12.065000
                   5    CHI     0.000000            9.608000
                   7    OAK     0.000000            9.406667
                   8    GB      0.000000           10.365714
                   9    DET     0.000000           10.970000
                   10   IND     0.000000           10.568889
                   11   HOU     0.000000            9.408000
Brady Quinn        5    BAL     0.000000            1.280000
                   6    TB      0.000000            2.790000
                   8    OAK     0.000000            1.806667
                   11   CIN     0.000000            2.480000
                   12   DEN     0.000000            2.572000
                   13   CAR     0.000000            5.016667
                   14   CLE     0.000000            4.980000
                   15   OAK     0.000000            4.787500
                   16   IND     0.000000            4.653333
                   17   DEN     0.000000            4.424000
Brandon Weeden     1    PHI     0.000000           -0.780000
                   2    CIN     0.000000           10.350000
                   3    BUF     0.000000           10.060000

[100 rows x 13 columns]