In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen


import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('../input/2012_qb_weeks1_8.csv')
df1=pd.read_csv('../input/2012_qb_weeks_9_16.csv')
df3 = pd.read_csv('../input/2012_qb_week17.csv')

In [3]:
raw_qb_2012 = pd.concat([df,df1], axis=0)
raw_qb_2012 = pd.concat([raw_qb_2012, df3], axis=0)
raw_qb_2012.drop('Rk', axis =1, inplace = True)
raw_qb_2012.shape

(629, 18)

In [4]:
raw_qb_2012.head()

,Player,Pos,Week,Team,Opp,Comp,Att,Pct,Yds,Yds/Att,TD,Int,QB Rating,Att.1,Yds.1,Yds/Att.1,TD.1,Fantasy Points
0,Matt Ryan,QB,1,ATL,KC,23,31,74,299,10,3,0,136,3,25,8,1,32.46
1,Robert Griffin III,QB,1,WAS,NO,19,26,73,320,12,2,0,140,9,42,5,0,25.00
2,Tony Romo,QB,1,DAL,NYG,22,29,76,307,11,3,1,130,5,12,2,0,23.48
3,Aaron Rodgers,QB,1,GB,SF,30,44,68,303,7,2,1,93,5,27,5,0,22.82
4,Drew Brees,QB,1,NO,WAS,24,52,46,339,7,3,2,71,0,0,0,0,21.56

In [5]:
raw_qb_2012 = raw_qb_2012.rename(columns={'Att.1':'rush_att',
                       'Yds.1':'rush_yds',
                       'Yds/Att.1':'rush_yd/att',
                       'TD.1':'rush_td'})

In [113]:
weekly_stats = raw_qb_2012.groupby(['Player', 'Week']).sum()

In [6]:
team_stats = raw_qb_2012.groupby(['Player','Week','Opp']).sum()

In [7]:
team_stats.head(), team_stats.shape

(                        Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
 Player        Week Opp
 Aaron Rodgers 1    SF     30   44   68  303        7   2    1         93
               2    CHI    22   32   69  219        7   1    1         85
               3    SEA    26   39   67  223        6   0    0         81
               4    NO     31   41   76  319        8   4    1        120
               5    IND    20   32   63  235        7   3    1        103

                         rush_att  rush_yds  rush_yd/att  rush_td  \
 Player        Week Opp
 Aaron Rodgers 1    SF          5        27            5        0
               2    CHI         3        -6           -2        0
               3    SEA         2        17            9        0
               4    NO          5        13            3        0
               5    IND         5        57           11        0

                         Fantasy Points
 Player        Week Opp
 Aaron Rodgers 1    SF            22.82
               2    CHI           10.16
               3    SEA           10.62
               4    NO            28.06
               5    IND           25.10  , (629, 13))

In [10]:
weekly_stats.head(), weekly_stats.shape

(                    Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
 Player        Week
 Aaron Rodgers 1       30   44   68  303        7   2    1         93
               2       22   32   69  219        7   1    1         85
               3       26   39   67  223        6   0    0         81
               4       31   41   76  319        8   4    1        120
               5       20   32   63  235        7   3    1        103

                     rush_att  rush_yds  rush_yd/att  rush_td  Fantasy Points
 Player        Week
 Aaron Rodgers 1            5        27            5        0           22.82
               2            3        -6           -2        0           10.16
               3            2        17            9        0           10.62
               4            5        13            3        0           28.06
               5            5        57           11        0           25.10  ,
 (629, 13))

In [11]:
y=weekly_stats['Fantasy Points']

In [8]:
# Define a dataframe to contain the current year 3 game moving averages of all 2012 QBs
def create_recent_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('{}_ma'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [7]:
# Define a dataframe to contain the career averages for all 2012 QBs
def create_career_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('{}_car'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [9]:
# Create recent and current dataframes for all 2012 QBs
qb_recent_2012= create_recent_dataframe(team_stats)

In [10]:
qb_recent_2012.head()

                       comp_ma att_ma pct_ma yds_ma yds/att_ma td_ma int_ma  \
Player        Week Opp
Aaron Rodgers 1    SF      NaN    NaN    NaN    NaN        NaN   NaN    NaN
              2    CHI     NaN    NaN    NaN    NaN        NaN   NaN    NaN
              3    SEA     NaN    NaN    NaN    NaN        NaN   NaN    NaN
              4    NO      NaN    NaN    NaN    NaN        NaN   NaN    NaN
              5    IND     NaN    NaN    NaN    NaN        NaN   NaN    NaN

                       qb rating_ma rush_att_ma rush_yds_ma rush_yd/att_ma  \
Player        Week Opp
Aaron Rodgers 1    SF           NaN         NaN         NaN            NaN
              2    CHI          NaN         NaN         NaN            NaN
              3    SEA          NaN         NaN         NaN            NaN
              4    NO           NaN         NaN         NaN            NaN
              5    IND          NaN         NaN         NaN            NaN

                       rush_td_ma fantasy points_ma
Player        Week Opp
Aaron Rodgers 1    SF         NaN               NaN
              2    CHI        NaN               NaN
              3    SEA        NaN               NaN
              4    NO         NaN               NaN
              5    IND        NaN               NaN

In [118]:
# Populate recent dataframe with current year 3 game moving-averages of players
for col in weekly_stats:    # Iterate through every attribute in the weekly_stats dataframe
    ma3 = []        # Create an empty list to hold the current attribute's 3 game moving average                    
    for player in weekly_stats.index.levels[0]: # Iterate through every player in the weekly_stats df
        total = [] # Create an empty list to hold the weekly attributes value
        for week in weekly_stats.index.levels[1]: # Iterate through every week for the current player
            games = 0 # Set count for 3 game moving average 
            games_lst = [] # Create a list to hold 3 game block 
            if week < 4: # 3 game moving average does not instantiate until game 4
                games_lst.append(weekly_stats.loc[player].loc[week][col]) # Add current week value to 3 game block
                ma3.append(0) # Until game 4, append moving average for current attribute to 0
                games += 1
            else:
                if games < 3: # Check value of count for 3 game block
                    try: # Check for team bye week
                        games_lst.append(weekly_stats.loc[player].loc[week][col])  # Add current week value to 3 game block
                        games += 1 # Incease count
                    except: # Pass if team's bye week
                        pass
                ma3.append(round(np.mean(games_lst),2))  # Add average of three game block to 3 game moving average list
        
    qb_current_2012['{}_ma'.format(col.lower())] = ma3 # Insert 3 game moving average list for current attribute into the current stats dataframe

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

KeyError: 'the label [1] is not in the [index]'

In [123]:
weekly_stats.head()

                    Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
Player        Week
Aaron Rodgers 1       30   44   68  303        7   2    1         93
              2       22   32   69  219        7   1    1         85
              3       26   39   67  223        6   0    0         81
              4       31   41   76  319        8   4    1        120
              5       20   32   63  235        7   3    1        103

                    rush_att  rush_yds  rush_yd/att  rush_td  Fantasy Points
Player        Week
Aaron Rodgers 1            5        27            5        0           22.82
              2            3        -6           -2        0           10.16
              3            2        17            9        0           10.62
              4            5        13            3        0           28.06
              5            5        57           11        0           25.10

In [126]:
weekly_stats.loc['Aaron Rodgers'].loc[3]['Comp'] # Add current week value to 3 game block

26.0

In [73]:
len(ma3)

1173

In [58]:
qb_recent_2012.head()

AttributeError: 'list' object has no attribute 'head'

In [75]:
df = pd.read_csv('qb_recent_2012.csv')
df.head()

,Player,Week,comp_ma,att_ma,pct_ma,yds_ma,yds/att_ma,td_ma,int_ma,qb rating_ma,rush_att_ma,rush_yds_ma,rush_yd/att_ma,rush_td_ma,fantasy points_ma
0,Aaron Rodgers,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,Aaron Rodgers,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
2,Aaron Rodgers,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,Aaron Rodgers,4,31.0,41.0,76.0,319.0,8.0,4.0,1.0,120.0,5.0,13.0,3.0,0.0,28.06
4,Aaron Rodgers,5,20.0,32.0,63.0,235.0,7.0,3.0,1.0,103.0,5.0,57.0,11.0,0.0,25.10

In [76]:
df.shape

(629, 15)

In [163]:
team_stats.loc['Aaron Rodgers'].loc[1]['Comp']

Opp
SF    30
Name: Comp, dtype: int64

In [156]:
len(ma3), qb_recent_2012.shape

(1173, (629, 13))

In [154]:
qb_recent_2012['{}_ma'.format(col.lower())] = ma3

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

ValueError: Length of values does not match length of index

In [ ]:
team_.loc[]

In [96]:
for col in team_stats.columns:
    ma3 = []
    for player in team_stats.index.levels[0]:
        for week in team_stats.index.levels[1]:
            if week <= 3:
                ma3.append(0)
            else:
                games = 0
                games_lst = []
                if games <= 3:
                    try:
                        games_lst.append(team_stats.loc[player].loc[week][col])
                        games += 1
                    except:
                        pass
                        games += 1
                ma3.append(np.mean(games_lst))

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [97]:
len(ma3)

1173

In [142]:
qb_recent_2012['{}_ma'.format(col.lower())]=ma3

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

ValueError: Length of values does not match length of index

In [33]:
len(ma)

966

In [35]:
qb_recent_2012.shape

(629, 13)